<template>
  <div class="mp-reels-page">
    <CardLayout title="Pop Up">
        <template v-slot:head-actions>
            <v-btn small @click.stop="dialog = true" fab dark color="primary">
                <i class="fas fa-plus"></i>
            </v-btn>
        </template>
        <template v-slot:body-template>
            <v-data-iterator :items="popups" :items-per-page="6"     :footer-props="footerProps">
                <template v-slot:default="{ items }">
                    <div class="row">
                        <div v-for="(item) in items" :key="item._id" class="col-lg-4 col-md-4 col-sm-6 col-xl-2 pt-1 pb-1">
                            <ImageCard :item="item"                       v-on:beforeEdited="editPopUp"
                            v-on:beforeRemove="deletePopUp"/>
                        </div>
                    </div>
                </template>
            </v-data-iterator>
        </template>
    </CardLayout>
    <FormDialog
      v-if="dialog"
      :dialog="dialog"
      :title="
        popUpEdited ? 'Editar Método de Pago' : 'Añadir Método de Pago'
      "
      width="500"
      v-on:closeDialog="closeDialog"
    >
      <template v-slot:form-dialog>
        <div class="container">
          <v-form
            ref="formPopUp"
            :lazy-validation="true"
            v-model="formPopUp"
            class="pt-3"
          >
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 pr-2 pl-3">
                <v-text-field
                  v-model="popUp.url"
                  placeholder="URL de Redirección"
                  :rules="urlRules"
                ></v-text-field>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
                <v-switch
                  v-model="popUp.isVisible"
                  :label="popUp.isVisible ? 'Pop Up Activo' : 'Pop Up Inactivo'"
                  hide-details
                ></v-switch>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pr-2 pl-3">
                <v-file-input
                  :key="baseIndex"
                  v-model="imageSelected"
                  :rules="popUpEdited ? fileEditedRules : fileRules"
                  :clearable="false"
                  @change="updatePreviewImage"
                  :show-size="1000"
                  prepend-icon=""
                  append-icon="add_photo_alternate"
                  accept=".jpg, .png, .JPG, .JPEG"
                  dense
                  :placeholder="
                    popUpEdited
                      ? 'Click para elegir una imagen nueva (opcional)'
                      : 'Click para elegir una imagen nueva (*)'
                  "
                >
                  <template v-slot:append-outer>
                    <v-btn v-if="image" small @click="clearImage" icon>
                      <v-icon>close</v-icon>
                    </v-btn>
                  </template>
                </v-file-input>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
                <v-img :src="image" contain max-height="380" max-width="500" class="mx-auto">
                </v-img>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
                <v-card-actions class="pt-5">
                  <v-spacer></v-spacer>
                  <v-btn
                    :disabled="loading"
                    :loading="loading"
                    @click="
                      popUpEdited
                        ? updatePopUp()
                        : savePopUp()
                    "
                    text
                    >{{ popUpEdited ? "Actualizar" : "Guardar" }}</v-btn
                  >
                </v-card-actions>
              </div>
            </div>
          </v-form>
        </div>
      </template>
    </FormDialog>
</div>
</template>

<script>
import ImageCard from "@/components/cards/ImageCard";
import CardLayout from '@/layouts/CardLayout';
import FormDialog from "@/components/dialogs/FormDialog";
import matchURI from "@/libs/matchURI";

import Swal from "sweetalert2";
import {
    mapState
} from 'vuex';

export default {
    components: {
        CardLayout,
        ImageCard,
        FormDialog,
    },
    data() {
      return {
        formPopUp: true,
        dialog: false,
        imageSelected: null,
        image: null,
        loading: false,
        popUpEdited: null,
        popUp: {
          order: 0,
          visualize: true,
          url: "",
          image: {}
        },
        baseIndex: 1000,
        fileRules: [
          (v) => (!!v && v.size < 1000000) || "Elige una imagen no mayor a 1MB",
        ],  
        fileEditedRules: [
          (v) => !v || (v && v.size < 1000000) || "Elige una imagen no mayor a 1MB",
        ],
        urlRules: [(v) => !v || (v && matchURI(v)) || "Enlace inválido"],
        footerProps: {'items-per-page-options': [6, 12]},
      }
    },
    computed: {
        ...mapState({
            baseURL: (state) => state.baseURL,
            popups: state => state.popUps.all,
        }),
    },
    methods: {
      closeDialog() {
        this.dialog = false;
        this.clearFields();
        this.loading = false;
      },
      clearFields() {
        this.popUpEdited = null;
        this.popUp = {
            order: 0,
            visualize: true,
            url: "",
            image: {}
        },
        this.image = null;
        this.imageSelected = null;
      },
      clearImage() {
        this.image = null;
        this.imageSelected = null;
        this.popUpEdited && this.popUpEdited.image
          ? (this.image = `${this.baseURL}/file/${this.popUpEdited.image.filename}`)
          : (this.image = null);
        this.baseIndex += 10;
      },
      validateForm() {
        return this.$refs.formPopUp.validate();
      },
      editPopUp(item) {
        this.popUpEdited = item;
        this.popUp = {...item};
        item.image
          ? (this.image = `${this.baseURL}/file/${item.image.filename}`)
          : (this.image = null);
        this.dialog = true;
      },

      updatePreviewImage() {
        if (this.imageSelected != null && this.imageSelected != undefined) {
          this.image = URL.createObjectURL(this.imageSelected);
          return;
        }
        this.popUpEdited && this.popUpEdited.image
          ? (this.image = `${this.baseURL}/file/${this.popUpEdited.image.filename}`)
          : (this.image = null);
      },  
      async savePopUp() {
        if (!this.validateForm()) return;
        this.loading = true;
        const FORM = new FormData();
        FORM.append("document", JSON.stringify(this.popUp));
        if (!this.imageSelected) {
          this.loading = false;
          return Swal.fire("", "Elige una Imagen para continuar", "warning");
        }
        FORM.append("logo", this.imageSelected);

        const res = await this.$store.dispatch("addPopUp", FORM);
        this.loading = false;
        if (res.status != 200 && res.status != 201)
          return Swal.fire(
            "Error",
            res.data.message ? `${res.data.message}` : 'Ocurrió un error al intentar agregar el Pop Up',
            "error"
          );
        this.closeDialog();
        Swal.fire("Bien!", `Pop Up agregado correctamente!`, "success");
      },

      async updatePopUp(){
        if (!this.validateForm()) return;
        this.loading = true;
        const FORM = new FormData();
        FORM.append("document", JSON.stringify(this.popUp));

        this.imageSelected ? FORM.append("logo", this.imageSelected) : "";
        const obj = {
          _id: this.popUp._id,
          body: FORM,
        };
        const res = await this.$store.dispatch("editPopUp", obj);

        this.loading = false;

        if (res.status != 200 && res.status != 201)
          return Swal.fire(
            "Error",
            `${
              res.data.message
                ? res.data.message
                : "Ocurrió un error actualizando el Pop Up"
            }`,
            "error"
          );

        this.closeDialog();
        Swal.fire("Bien!", "Los datos se actualizaron correctamente!", "success");
        //
      },
      async deletePopUp(item) {
        const val = await Swal.fire({
          text: `¿Desea eliminar la imagen del Pop Up?`,
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#1A4A84",
          confirmButtonText: "Si, quiero eliminar",
        });
        if (!val.value) return;
        await this.$store.dispatch("deletePopUp", item);
        /*await this.$store.dispatch("getAllPaymentMethods");*/
      },

    }
}
</script>

<style>

</style>