<template>
<div class="mp-stars-qualification">
    <li v-for="(item, idx) in getStarsByQualf()" :key="idx+350">
        <i :class="`${item} ${small ? 'small-icon': '' }`"></i>
    </li>
</div>
</template>

<script>
export default {
    props: {
        qualif: Number,
        small: Boolean,
        //maxQualf: Number
    },
    data() {
        return {
            maxQualf: 5
        }
    },
    computed: {},
    methods: {
        getStarsByQualf() {
            const arr = [];
            let isDecimal = true;
            for (let i = 1; i <= this.maxQualf; i++) {
                if (i <= this.qualif) {
                    arr.push('fas fa-star')
                } else {
                    const res = this.maxQualf - this.qualif;
                    if (res % 1 != 0 && isDecimal == true) {
                        isDecimal = false;
                        arr.push('fas fa-star-half-alt')
                    } else {
                        arr.push('far fa-star')
                    }
                }
            }
            return arr;
        }

    }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/variables.scss';

.mp-stars-qualification {
    display: flex;

    li {
        list-style: none;
        margin: 0 5px 0 0;

        i {
            font-size: 1.5rem;
            color: $color-secondary;
        }

        i.small-icon {
            font-size: .8rem !important;
        }
    }
}
</style>
