<template>
<div class="mp-reels-page">
    <CardLayout title="Reels">
        <template v-slot:head-actions>
            <v-btn small @click.stop="isOpen = true" fab dark color="primary">
                <i class="fas fa-plus"></i>
            </v-btn>
        </template>
        <template v-slot:body-template>
            <div v-if="isOpen && reels.length === 0" class="col-lg-4 col-md-6 col-sm-12 p-0">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ReelCard titleCard="Nuevo Reel" srcImageEdited="" v-on:closeFormAdd="closeFormAdd" :isAdded="true" :itemProp="newReel" />
                </div>
            </div>
            <div class="row">
                <div v-if="isOpen && reels.length > 0" class="col-lg-4 col-md-6 col-sm-12 pt-1 pb-1">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <ReelCard titleCard="Nuevo Reel" srcImageEdited="" v-on:closeFormAdd="closeFormAdd" :isAdded="true" :itemProp="newReel" />
                    </div>
                </div>
                <div :class="`${changeClassNameParentIsOpen} pt-1 pb-1`">
                    <div>
                        <draggable v-model="reelList" group="people" @start="drag=true" @end="drag=false"  class="row">
                            <div :class="changeClassNameChildstIsOpen" v-for="(item) in reelList" :key="item._id" >
                                <ReelCard titleCard="Editar Reel" :itemProp="item" :srcImageEdited="`${baseURL}/file/${item.image.filename}`" class="mt-2 mb-2" />
                            </div>
                        </draggable>
                    </div>
                </div>
            </div>
        </template>
    </CardLayout>
    <LoaderPage :active="activeLoader" :zIndex="10" />
</div>
</template>

<script>
import CardLayout from '@/layouts/CardLayout';
import ReelCard from '@/components/cards/ReelCard';
import LoaderPage from "@/components/global/LoaderPage";

import draggable from 'vuedraggable'
import {
    mapState,
    mapGetters
} from 'vuex';
export default {
    components: {
        CardLayout,
        ReelCard,
        draggable,
        LoaderPage,
    },
    data() {
        return {
            isOpen: false,
            activeLoader: false,
            newReel: {
                _id: '',
                specialWord: '',
                title: '',
                titlePosition: '',
                url: '',
                visualize: false
            },
        }
    },
    computed: {
        ...mapGetters({
            reels: 'getReels',
        }),
        ...mapState({
            titlePositions: state => state.reels.titlePositions,
            baseURL: state => state.baseURL,
        }),
        reelList :{
            get() {
                return this.reels
            },
            // setter
            set (_reels) {
                /*this.activeLoader = true*/
                this.$store.dispatch("updatePosition", _reels)
                /*.then((e) =>
                    this.activeLoader = false
                ).catch((e) =>  this.activeLoader = false)*/
                this.$store.commit('setReels', _reels)
                return this.reels
            }        
        },
        changeClassNameParentIsOpen() {
            return this.isOpen ? 'col-lg-8 col-md-6 col-sm-12' : 'col-lg-12 col-md-12 col-sm-12'
        },
        changeClassNameChildstIsOpen() {
            return this.isOpen ? 'col-lg-6 col-md-12 col-sm-12' : 'col-lg-4 col-md-6 col-sm-12'
        }
    },
    mounted() {
    },
    methods: {
        clearFields() {
            this.newReel.specialWord = '';
            this.newReel.tittle = '';
            this.newReel.tittlePosition = '';
            this.newReel.url = '';
            this.newReel.visualize = false;
        },
        closeFormAdd() {
            this.isOpen = false;
            this.clearFields();
        },
    }
}
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";

</style>
