<template>
<div class="mp-page-categories">
    <CardLayout title="Categorias">
        <template v-slot:head-actions>
            <v-btn small @click.stop="dialog = true" fab dark color="primary">
                <i class="fas fa-plus"></i>
            </v-btn>
        </template>
        <template v-slot:body-template>
            <v-data-table :items="categories" :headers="headerCategories" class="elevation-0">
                <template v-slot:[`item.order`]="{item}">
                    <span>
                        {{findIndexOnCategories(item)}}
                    </span>
                </template>
                <template v-slot:[`item.createdAt`]="{item}">
                    <span>
                        {{ item.createdAt ? item.createdAt.toString().substring(0,10) : 'Sin fecha'}}
                    </span>
                </template>
                <template v-slot:[`item.subcategories`]="{item}">
                    <div>
                        <v-chip v-for="subcat in item.subcategories" :key="subcat._id" class="mx-1 my-1" dark color="blueColor" x-small>
                            {{subcat.name}}
                        </v-chip>
                    </div>
                </template>
                <template v-slot:[`item.actions`]="{item}">
                    <v-icon v-if="item.principal" color="secondary">
                        mdi-star
                    </v-icon>
                    <v-btn icon @click="editCategory(item)">
                        <v-icon small>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn icon @click="deleteCategory(item)">
                        <v-icon small>mdi-delete</v-icon>
                    </v-btn>
                </template>
            </v-data-table>
        </template>
    </CardLayout>
    <!-- FORM DIALOG CATEGORIES -->
    <FormDialog v-if="dialog" :title="categoryEdited ? 'Editar Categoría' : 'Nueva Categoría'" width="500" :dialog="dialog" v-on:closeDialog="closeDialog">
        <template v-slot:form-dialog>
            <div class="container">
                <v-form ref="formCategory" :lazy-validation="true" v-model="formCategory">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <v-img :key="baseIndex" :src="srcImg" height="210px" gradient="to bottom right, rgba(0,0,0,.33), rgba(0,0,0,.4)" class="grey darken-4">
                                <div class="prev-letters">
                                    <h3 class="title-category">{{categoryName}}</h3>
                                </div>
                            </v-img>
                            <div class="d-flex pt-2">
                                <img class="mx-auto" draggable="false" style="max-width: 60px;" v-if="srcIcon" :src="srcIcon" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 pr-4 pl-4">
                            <v-text-field v-model="categoryName" :rules="nameRules" placeholder="Nombre categoria (*)"></v-text-field>
                            <v-file-input v-model="categoryImage" :rules="categoryEdited ? fileEditedRules : fileRules" :clearable="false" @change="updatePreviewImage" :show-size="1000" prepend-icon="" append-icon="add_photo_alternate" accept=".jpg, .png, .JPG, .JPEG" dense :placeholder="categoryEdited ? 'Click para elegir una imagen nueva (opcional)' : 'Click para elegir una imagen nueva (*)'">
                                <template v-slot:append-outer>
                                    <v-btn v-if="categoryImage" small @click="clearImage" icon>
                                        <v-icon>close</v-icon>
                                    </v-btn>
                                </template>
                            </v-file-input>
                            <v-file-input v-if="principal" v-model="categoryIcon" :rules="categoryEdited ? fileEditedRules : fileRules" :clearable="false" @change="updatePreviewIcon" :show-size="1000" prepend-icon="" append-icon="add_photo_alternate" accept=".jpg, .png, .JPG, .JPEG" dense :placeholder="categoryEdited ? 'Click para elegir un nuevo icono' : 'Click para elegir un icono nuevo (*)'">
                                <template v-slot:append-outer>
                                    <v-btn v-if="categoryIcon" small @click="clearIcon" icon>
                                        <v-icon>close</v-icon>
                                    </v-btn>
                                </template>
                            </v-file-input>
                            <v-checkbox 
                            v-model="principal"
                            label="¿Seleccionar como una categoría principal?"
                            ></v-checkbox>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
                            <v-card-actions class="pr-0 pl-0">
                                <v-spacer></v-spacer>
                                <v-btn @click="categoryEdited ? updateCategory() : saveNewCategory()" :disabled="loading" :loading="loading" color="blueColor" text>
                                    <v-icon class="mr-2">save</v-icon>
                                    {{ categoryEdited ? 'Actualizar' : 'Guardar' }}
                                </v-btn>
                            </v-card-actions>
                        </div>

                    </div>
                </v-form>
            </div>
        </template>
    </FormDialog>
</div>
</template>

<script>
import CardLayout from '@/layouts/CardLayout';
import FormDialog from '@/components/dialogs/FormDialog';
import {
    mapState
} from 'vuex';
import Swal from 'sweetalert2';
export default {
    components: {
        CardLayout,
        FormDialog
    },
    data() {
        return {
            dialog: false,
            formCategory: true,
            categoryEdited: null,
            categoryName: '',
            categoryImage: null,
            categoryIcon: null,
            principal: false,
            srcImg: null,
            srcIcon: null,
            headerCategories: [{
                    text: '#',
                    value: 'order',
                    sortable: false
                },
                {
                    text: 'Nombre',
                    value: 'name',
                    sortable: true
                },
                {
                    text: 'Fecha de creación',
                    value: 'createdAt',
                    sortable: false
                },
                /* {
                    text: 'Sub Categorias',
                    value: 'subcategories',
                    sortable: false
                }, */
                {
                    text: '',
                    value: 'actions',
                    sortable: false,
                    align: "right"
                },
            ],
            loading: false,
            nameRules: [v => !!v || 'Escribe un nombre para la categoría!'],
            fileRules: [v => !!v && v.size < 1000000 || 'Elige una imagen no mayor a 1MB'],
            fileEditedRules: [v => (!v) || (v && v.size < 1000000) || 'Elige una imagen no mayor a 1MB'],
            baseIndex: 1000
        }
    },
    computed: {
        ...mapState({
            baseURL: state => state.baseURL,
            categories: state => state.categories.all,

        })
    },
    methods: {
        findIndexOnCategories(item) {
            const idx = this.categories.indexOf(item);
            if (idx === -1) return '';
            return (idx + 1);
        },
        updatePreviewImage() {
            if (this.categoryImage != null && this.categoryImage != undefined) {
                const reader = new FileReader();
                reader.onload = (ev) => {
                    this.srcImg = ev.target.result;
                }
                reader.readAsDataURL(this.categoryImage);
                return;
            }
            this.categoryEdited && this.categoryEdited.image ? this.srcImg = `${this.baseURL}/file/${this.categoryEdited.image.filename}` : this.srcImg = null;
        },
        updatePreviewIcon(){
            if (this.categoryIcon != null && this.categoryIcon != undefined) {
                const reader = new FileReader();
                reader.onload = (ev) => {
                    this.srcIcon = ev.target.result;
                }
                reader.readAsDataURL(this.categoryIcon);
                return;
            }
            this.categoryEdited && this.categoryEdited.logo ? this.srcIcon = `${this.baseURL}/file/${this.categoryEdited.icon.filename}` : this.srcIcon = null;
        },
        closeDialog() {
            this.dialog = false;
            this.categoryEdited = null;
            this.clearFields();
            this.resetValidation();
        },
        editCategory(item) {

            this.categoryEdited = item;
            this.categoryName = item.name;
            this.principal = item.principal;
            item.image ? this.srcImg = `${this.baseURL}/file/${item.image.filename}` : this.srcImg = null;
            item.icon ? this.srcIcon = `${this.baseURL}/file/${item.icon.filename}` : this.srcIcon = null;
            this.dialog = true;
        },
        clearFields() {
            this.categoryName = '';
            this.categoryImage = null;
            this.categoryIcon = null;
            this.principal = false;
            this.srcImg = '';
            this.srcIcon = "";
        },
        clearImage() {
            this.categoryImage = null;
            this.srcImg = null;
            this.categoryEdited  && this.categoryEdited.image ? this.srcImg = `${this.baseURL}/file/${this.categoryEdited.image.filename}`  : this.srcImg = null;
            this.baseIndex += 10;
        },
        clearIcon(){
            this.categoryIcon = null;
            this.srcIcon = null;
            this.categoryEdited && this.categoryEdited.icon ? this.srcIcon = `${this.baseURL}/file/${this.categoryEdited.icon.filename}` : this.srcIcon = null;
        },
        validateForm() {
            return this.$refs.formCategory.validate();
        },
        resetValidation() {
            this.$refs.formCategory.resetValidation()
        },
        // SAVE CAT
        async saveNewCategory() {
            if (!this.validateForm()) return;
            this.loading = true;
            const FORM_CATEGORY = new FormData();
            FORM_CATEGORY.append('name', this.categoryName);
            FORM_CATEGORY.append('image', this.categoryImage);
            FORM_CATEGORY.append('logo', this.categoryIcon);

            if(this.principal){
                if(!this.categoryIcon) {
                    this.loading = false;
                    return Swal.fire('', 'Elige un icono para continuar', "warning");
                }
                if(this.validateCategoriesInHeaderIs4()){
                    this.principal = false;
                    this.loading = false;
                    return Swal.fire('Oops!', 'No puede elegir mas de 4 categorias', 'error');
                }
            }
            FORM_CATEGORY.append('principal', this.principal);

            const res = await this.$store.dispatch('addCategory', FORM_CATEGORY);
            this.loading = false;
            if (res.status != 200 && res.status != 201) return Swal.fire('Oops!', `Ocurrió un error al intentar agregar la categoría ${this.categoryName}`, 'error');
            this.closeDialog();
            Swal.fire('Bien!', `Categoría agregada correctamente!`, 'success');
        },
        // UPDATE CAT
        async updateCategory() {
            if (!this.validateForm()) return;
            this.loading = true;
            const FORM_CATEGORY = new FormData();
            FORM_CATEGORY.append('name', this.categoryName);
            FORM_CATEGORY.append('sku', this.categoryEdited.sku);
            FORM_CATEGORY.append('_id', this.categoryEdited._id);

            if(this.principal){
                if(!this.categoryEdited.icon && !this.categoryIcon){ 
                    this.loading = false;
                    return Swal.fire('', 'Elige un icono para continuar', "warning")
                };
                if(this.validateCategoriesInHeaderIs4(this.categoryEdited)){
                    this.principal = false;
                    this.loading = false;
                    return Swal.fire('Oops!', 'No puede elegir mas de 4 categorias', 'error');
                }
            }
            FORM_CATEGORY.append('principal', this.principal);

            this.categoryImage ? FORM_CATEGORY.append('image', this.categoryImage) : '';
            this.categoryIcon ? FORM_CATEGORY.append('logo', this.categoryIcon) : '';

            const res = await this.$store.dispatch('editCategory', {
                categoryId: this.categoryEdited._id,
                formCategory: FORM_CATEGORY
            });

            this.loading = false;

            if (res.status != 200 && res.status != 201) return Swal.fire('Oops!', `${res.data.message ? res.data.message : 'Ocurrió un error actualizando la categoria'}`, 'error');

            this.closeDialog();
            Swal.fire('Bien!', 'Los datos se actualizaron correctamente!', 'success');
            //
        },
        async deleteCategory(item) {
            const val = await Swal.fire({
                text: `¿Desea eliminar ${item.name} y todas sus subcategorías del sistema?`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#1A4A84",
                confirmButtonText: "Si, quiero eliminar!",
            });
            if (!val.value) return;
            //
            await this.$store.dispatch('deleteCategory', item);
            await this.$store.dispatch('getAllSubCategories', item);
        },

        validateCategoriesInHeaderIs4(category) {
            let count = 0;
            for(let cat of this.categories){
                if(cat.principal) {
                    if(!category) {
                        count++
                    }else {
                        if(cat._id != category._id) count ++;
                    }
                }
            }

            if(count >= 4) return true;
            else return false;
        }

    }
}
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";

.prev-letters {
    position: relative;
    width: 100%;
    height: 100%;

    font-family: $primary-font;
    display: flex;
    justify-content: center;
    align-items: center;

}

.prev-letters .title-category {
    font-size: 1.6rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .v-image {
        height: 160px !important;
    }

    .prev-letters .title-category {
        font-size: 1.38rem;
    }
}
</style>
