<template>
<div class="departments-page">
    <CardLayout :title="titlePage">
        <template v-slot:head-actions>
            <div class="d-flex align-items-center">
                <!--<v-btn small @click.stop="dialog = true" fab dark class="ml-2" color="primary">
                    <i class="fas fa-plus"></i>
                </v-btn>-->
            </div>
        </template>
        <template v-slot:body-template>
            <v-data-table :items="departments" :headers="headers" class="elevation-0">
                <template v-slot:[`item.order`]="{item}">
                    <span>
                        {{findIndexOnArray(item)}}
                    </span>
                </template>
                <!--<template v-slot:[`item.actions`]="{item}">
                    <v-btn icon @click="editObject(item)">
                        <v-icon small>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn icon @click="deleteObject(item)">
                        <v-icon small>mdi-delete</v-icon>
                    </v-btn>
                </template>-->
            </v-data-table>
        </template>
    </CardLayout>
    <FormDialog v-if="dialog" :dialog="dialog" :title="titleDialog" width="450" v-on:closeDialog="closeDialog">
        <template v-slot:form-dialog>
            <div class="container">
                <v-form ref="currentForm" :lazy-validation="true" v-model="form">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 pr-2 pl-3">
                            <v-text-field v-model="object.name" :rules="importantRules" placeholder="Nombre del departamento (*)"></v-text-field>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 pr-2 pl-3">
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn :loading="loading" :disabled="loading" @click="objectEdited ? saveUpdateObject() : saveObject() " text>{{ objectEdited ? 'Actualizar': 'Guardar' }}</v-btn>
                            </v-card-actions>
                        </div>
                    </div>
                </v-form>
            </div>
        </template>
    </FormDialog>
</div>
</template>

<script>
import CardLayout from '@/layouts/CardLayout';
import FormDialog from '@/components/dialogs/FormDialog';
import {
    mapState
} from 'vuex';
import Swal from 'sweetalert2';

export default {
    components: {
        CardLayout,
        FormDialog
    },
    data() {
        return {
            titlePage: 'Departamentos',
            //dialog
            dialog: false,
            // Object
            loading: false,
            importantRules: [v => !!v || 'Este campo es requerido!'],
            form: true,
            objectEdited: null,
            object: {},
            // table
            headers: [{
                    text: '#',
                    value: 'order',
                    sortable: false
                },
                
                {
                    text: 'Nombre del departamento',
                    value: 'name',
                    sortable: true
                },
                {
                    text: 'Ubigeo',
                    value: 'ubigeo',
                    sortable: false
                },
                {
                    text: '',
                    value: 'actions',
                    sortable: false
                }
            ]
        }
    },
    computed: {
        titleDialog() {
            return this.objectEdited ? 'Editar ' : 'Nuevo '
        },
        ...mapState({
            departments: state =>  state.departments.all
        })
    },
    methods: {
        findIndexOnArray(item) {
            const idx = this.departments.indexOf(item);
            if (idx === -1) return '';
            return (idx + 1);
        },
        closeDialog() {
            this.dialog = false;
            this.clearFields();
        },
        clearFields() {
            this.objectEdited = null;
            this.object.name = '';
        },
        validateForm() {
            return this.$refs.currentForm.validate();
        },
        editObject(item) {
            this.objectEdited = item;
            this.object = {
                ...item
            };
            this.dialog = true;
        },
        async saveObject() {
            if (!this.validateForm()) return;
            this.loading = true;
            const res = await this.$store.dispatch('addDepartment', {
                name: this.object.name
            });
            this.loading = false;
            if (res.status != 200 && res.status != 201) return Swal.fire('Oops!', 'Ocurrió un error mientras se guardaban los datos', 'error');
            this.closeDialog();
            return Swal.fire('Bien!', 'Departamento guardado!', 'success');
        },
        async saveUpdateObject() {
            if (!this.validateForm()) return;
            this.loading = true;
            const res = await this.$store.dispatch('editDepartment', {
                _id: this.objectEdited._id,
                name: this.object.name
            });
            this.loading = false;
            if (res.status != 200 && res.status != 201) return Swal.fire('Oops!', 'Ocurrió un error mientras se actualizaban los datos', 'error');
            this.closeDialog();
            return Swal.fire('Bien!', 'Departamento actualizado!', 'success');
        },
        async deleteObject(item) {
            const val = await Swal.fire({
                //title: `¿Está usted seguro de esto?`,
                text: `La siguiente acción eliminará el departamento ${item.name} del sistema`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#1A4A84",
                confirmButtonText: "Si, quiero eliminar!",
            });
            if (!val.value) return;
            //
            const res = await this.$store.dispatch('deleteDepartment', item);
            if (res.status != 200 && res.status != 201) return Swal.fire('Oops!', `Ocurrió un error al intentar eliminar el departamento ${item.name}`, 'error');
        }
    }
}
</script>

<style lang="scss" scoped>

</style>
