<template>
  <div class="mp-ventures-page">
    <CardLayout :title="titlePage">
      <template v-slot:head-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="tertiary"
          dark
          @click="exportProducts"
        >
          Exportar
          <v-icon
            right
            dark
          >
            mdi-cloud-download
          </v-icon>
        </v-btn>
      </template>
      <template v-slot:body-template>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 mx-auto">
            <v-text-field
              v-model="search"
              hide-details
              append-icon="search"
              :loading="loader"
              @keyup="debounceSearchProducts"
              single-line
              placeholder="Buscar producto"
            ></v-text-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 mx-auto">
            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="date"
              transition="scale-transition"
              offset-y
              max-width="300px"
              min-width="auto"
              color="primary"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="date"
                  label="Mes de actualización"
                  prepend-icon="mdi-calendar"
                  readonly
                  hide-details
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="date"
                type="month"
                no-title
                scrollable
                color="primary"
                locale="pe"
              >
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="primary"
                  @click="menu = false"
                >
                  Cancelar
                </v-btn>
                <v-btn
                  text
                  color="primary"
                  @click="searchProductsByDate"
                >
                  OK
                </v-btn>
              </v-date-picker>
            </v-menu>           
          </div>       
          <div class="col-lg-3 col-md-3 col-sm-3 mx-auto">
            <v-autocomplete
              v-model="category"
              :items="categories"
              item-text="name"
              item-value="sku"
              clearable
              hide-details
              @change="debounceSearchProducts"
              background-color="#fff"
              placeholder="Categoría producto"
            ></v-autocomplete>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <v-data-iterator
              :footer-props="footerOptions"
              :items="productsResponse.products"
              :page="productsResponse.page"
              :items-per-page="productsResponse.limit"
              :server-items-length="productsResponse.total"
              @update:page="searchProducts"
            >
              <template v-slot:default="props">
                <div class="row">
                  <div
                    v-for="item in props.items"
                    :key="item._id"
                    class="col-lg-3 col-md-3 col-sm-12"
                  >
                    <ProductCard :product="item" />
                  </div>
                </div>
              </template>
            </v-data-iterator>
          </div>
        </div>
      </template>
    </CardLayout>
    <LoaderPage :active="activeLoader" :zIndex="10" />
  </div>
</template>

<script>
const limitPerPage = 12;
import CardLayout from "@/layouts/CardLayout";
import ProductCard from "@/components/cards/ProductCard";
import configHeaderToken from "@/libs/configHeaderToken";
import LoaderPage from "@/components/global/LoaderPage";
import axios from "axios";
import { mapState } from "vuex";
export default {
  components: {
    CardLayout,
    ProductCard,
    LoaderPage,
  },
  data() {
    return {
      menu: false,
      date: new Date().toISOString().substr(0, 7),
      titlePage: "Productos",
      loader: false,
      activeLoader: false,
      search: "",
      category: "",
      timeOutSearch: null,
      // Data iterator
      footerOptions: {
        "items-per-page-options": [limitPerPage],
      },
      productsResponse: {
        products: [],
        limit: limitPerPage,
        page: 1,
        total: 0,
      },
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
      categories: (state) => state.categories.all,
    }),
  },
  async mounted() {
    await this.searchProducts();
  },
  methods: {
    clearResults() {
      const obj = {
        products: [],
        limit: limitPerPage,
        page: 1,
        total: 0,
      };
      this.productsResponse = Object.assign({}, obj);
    },
    async debounceSearchProducts() {
      if (this.timeOutSearch) {
        clearTimeout(this.timeOutSearch);
      }
      this.timeOutSearch = setTimeout(this.searchProducts, 1000);
      return;

      clearTimeout(this.timeOutSearch);
    },
    async searchProductsByDate(){
      this.$refs.menu.save(this.date)
      await this.searchProducts(1)
    },
    async searchProducts(pagine) {
      this.loader = true;
      try {
        if (!this.search && pagine) this.activeLoader = true;
        const res = await axios.get(
          `${this.baseURL}/api/products/admin?search=${
            this.search
          }&category=${this.category || ""}&page=${pagine ? pagine : this.$route.query.page || 1}&limit=${
            this.productsResponse.limit
          }&date=${this.date}-01`,
          configHeaderToken(this.authToken)
        );
        this.activeLoader = false;
        if (res.status != 200) return;
        this.productsResponse.products = res.data.docs;
        this.productsResponse.page = res.data.page;
        this.productsResponse.total = res.data.totalDocs;
        this.$router.push(`/productos?page=${res.data.page}`)
        this.loader = false;
      } catch (err) {}
    },
    async exportProducts() {
      this.activeLoader = true;
      let config = configHeaderToken(this.authToken)
      config.responseType = "blob"
      console.log(config)
      const res = await axios.get(
        `${this.baseURL}/api/reports/products/export?search=${
            this.search
          }&category=${this.category || ""}&date=${this.date}-01`,
        config
      );
      this.activeLoader = false;
      if (res.status != 200)
        return Swal.fire(
            "",
            `${
              res.data.message
                ? res.data.message
                : "Ocurrió un error al generar el reporte"
            }`,
            "error"
          );
      this.downloadExcel(res.data)
    },

    downloadExcel(data) {
      try{
        let blob = new Blob([data], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64'})
        const downloadLink = document.createElement("a");
        downloadLink.href = window.URL.createObjectURL(blob)
        const fileName = `Reporte de Productos`
        downloadLink.setAttribute("download", fileName);
        document.body.appendChild(downloadLink)
        downloadLink.click();
        document.body.appendChild(downloadLink)
      }catch (err) {
        console.error(err)
      }
    }
  },
};
</script>

<style></style>
