<template>
<div class="provinces-page">
    <CardLayout :title="titlePage">
        <template v-slot:head-actions>
            <div class="d-flex align-items-center">
                <v-select class="ml-3" @change="getProvinces" v-model="select.selected" prepend-inner-icon="filter_list" :items="departments" :item-text="select.itemText" :item-value="select.itemValue" style="max-width: 170px" :placeholder="placeholderSelect" clearable></v-select>
                <!--<v-btn small @click.stop="dialog = true" fab dark class="ml-4" color="primary">
                    <i class="fas fa-plus"></i>
                </v-btn>-->
            </div>
        </template>
        <template v-slot:body-template>
            <v-data-table :items="provinces" :headers="headers" class="elevation-0">
                <template v-slot:[`item.order`]="{item}">
                    <span>
                        {{findIndexOnArray(item)}}
                    </span>
                </template>
                <template v-slot:[`item.department`]="{item}">
                    <span>
                        {{item.department ? item.department.name : ''}}
                    </span>
                </template>
                <!--<template v-slot:[`item.actions`]="{item}">
                    <v-btn icon @click="editObject(item)">
                        <v-icon small>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn icon @click="deleteObject(item)">
                        <v-icon small>mdi-delete</v-icon>
                    </v-btn>
                </template>-->
            </v-data-table>
        </template>

    </CardLayout>
    <FormDialog v-if="dialog" :dialog="dialog" :title="titleDialog" width="550" v-on:closeDialog="closeDialog">
        <template v-slot:form-dialog>
            <div class="container">
                <v-form ref="currentForm" :lazy-validation="true" v-model="form">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 pr-2 pl-3">
                            <v-text-field v-model="object.name" :rules="importantRules" placeholder="Nombre del departamento (*)"></v-text-field>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 pr-2 pl-3">
                            <v-select v-model="object.department" :items="departments" item-text="name" item-value="_id" :rules="importantRules" :menu-props="{ top: true, offsetY: true }" placeholder="Nombre del departamento (*)"></v-select>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 pr-2 pl-3">
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn :loading="loading" :disabled="loading" @click="objectEdited ? saveUpdateObject() : saveObject()" text>{{ objectEdited ? 'Actualizar': 'Guardar' }}</v-btn>
                            </v-card-actions>
                        </div>
                    </div>
                </v-form>
            </div>
        </template>
    </FormDialog>
</div>
</template>

<script>
import CardLayout from '@/layouts/CardLayout';
import FormDialog from '@/components/dialogs/FormDialog';
import configHeaderToken from '@/libs/configHeaderToken';
import axios from 'axios';
import {
    mapState
} from 'vuex';
import Swal from 'sweetalert2';

export default {
    components: {
        CardLayout,
        FormDialog
    },
    data() {
        return {
            titlePage: 'Provincias',
            //Select
            placeholderSelect: 'Departamento',
            select: {
                selected: '',
                itemText: 'name',
                itemValue: '_id'
            },
            //dialog
            dialog: false,
            // Object
            loading: false,
            importantRules: [v => !!v || 'Este campo es requerido!'],
            form: true,
            objectEdited: null,
            object: {},
            provinces: [],
            // Table
            headers: [{
                    text: '#',
                    value: 'order',
                    sortable: false
                },
                {
                    text: 'Ubigeo',
                    value: 'ubigeo',
                    sortable: false
                },
                {
                    text: 'Provincia',
                    value: 'name',
                    sortable: true
                },
                {
                    text: 'Departamento',
                    value: 'department',
                    sortable: true
                },
                {
                    text: '',
                    value: 'actions',
                    sortable: false
                }
            ]
        }
    },
    computed: {
        titleDialog() {
            return this.objectEdited ? 'Editar provincia' : 'Nueva provincia'
        },
        ...mapState({
            departments: state => state.departments.all,
            baseURL: state => state.baseURL,
            authToken: state => state.authToken
        })
    },
    methods: {
        async getProvinces() {
            if (this.select.selected) {
                const config = configHeaderToken(this.authToken);
                const res = await axios.get(`${this.baseURL}/api/provinces/departments/${this.select.selected}`, config);
                console.log(res);
                if (res.status == 200) {
                    this.provinces = res.data;
                }
                return;
            }
            this.provinces = []
        },
        async addProvince(province) {
            const config = configHeaderToken(this.authToken);
            const res = await axios.post(`${this.baseURL}/api/provinces`, province, config);
            if (res.status != 200 && res.status != 201) return false;
            if (province.department._id != this.select.selected) return true;
            await this.getProvinces();
            //this.provinces.push(res.data);
            return true;
        },
        async editProvince(province) {
            const config = configHeaderToken(this.authToken);
            const res = await axios.put(`${this.baseURL}/api/provinces/${province._id}`, province, config);
            if (res.status != 200 && res.status != 201) return false;
            if (province.department._id != this.select.selected) return true;
            await this.getProvinces();
            return true;
        },
        async deleteProvince(province) {
            const config = configHeaderToken(this.authToken);
            const res = await axios.delete(`${this.baseURL}/api/provinces/${province._id}`, config);
            if (res.status != 200 && res.status != 201) return false;
            if (province.department._id != this.select.selected) return true;
            await this.getProvinces();
            return true;
        },
        findIndexOnArray(item) {
            const idx = this.provinces.indexOf(item);
            if (idx === -1) return '';
            return (idx + 1);
        },
        closeDialog() {
            this.dialog = false;
            this.clearFields();
        },
        clearFields() {
            this.objectEdited = null;
            this.object.name = '';
            this.object.department = '';
        },
        validateForm() {
            return this.$refs.currentForm.validate();
        },
        editObject(item) {
            this.objectEdited = item;
            this.object.name = item.name;
            item.department ? this.object.department = item.department : this.object.department = '';
            this.dialog = true;
        },
        async saveObject() {
            if (!this.validateForm()) return;

            this.loading = true;

            const res = await this.addProvince({
                name: this.object.name,
                department: {
                    _id: this.object.department
                }
            });

            this.loading = false;

            if (!res) return Swal.fire('Oops!', 'Ocurrió un error agregando la provincia', 'error');

            this.closeDialog();

            Swal.fire('Bien!', 'La provincia se agregó correctamente!', 'success');
        },
        async saveUpdateObject() {
            if (!this.validateForm()) return;

            console.log({
                _id: this.objectEdited._id,
                name: this.object.name,
                department: {
                    _id: (this.object.department && this.object.department._id) ? this.object.department._id : this.object.department
                }
            });

            this.loading = true;

            const res = await this.editProvince({
                _id: this.objectEdited._id,
                name: this.object.name,
                department: {
                    _id: (this.object.department && this.object.department._id) ? this.object.department._id : this.object.department
                }
            });

            this.loading = false;

            if (!res) return Swal.fire('Oops!', 'Ocurrió un error mientras se editaba la provincia', 'error');

            this.closeDialog();

            Swal.fire('Bien!', 'Provincia editada correctamente!', 'success');

        },
        async deleteObject(item) {
            const val = await Swal.fire({
                //title: `¿Está usted seguro de esto?`,
                text: `La siguiente acción eliminará la provincia ${item.name} del sistema`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#1A4A84",
                confirmButtonText: "Si, quiero eliminar!",
            });
            if (!val.value) return;
            //
            const res = await this.deleteProvince(item);
            if (!res) return Swal.fire('Oops!', 'Error eliminando la provincia', 'error');
        }
    }
}
</script>

<style lang="scss" scoped>

</style>
