<template>
  <div class="container mp-tabs-emporium mt-2 pt-0 pb-0">
    <v-tabs color="tertiary" background-color="#fff" :show-arrows="arrows">
      <!-- centered  -->
      <v-tabs-slider color="#1a4a84"></v-tabs-slider>
      <v-tab
        v-for="(item, idx) in emporiumNav"
        :key="32656555 + idx"
        :to="`/conglomerados/${$route.params.emporium_sku}/${item.sku}`"
      >
        {{ item.name }}
      </v-tab>
    </v-tabs>
  </div>
</template>

<script>
export default {
  props: {
    emporiumNav: Array,
  },
  data() {
    return {
      arrows: false,
    };
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";
  //margin-bottom: 5px;
  a.v-tab {
    text-decoration: none;

    font-family: $primary-font !important;
    text-transform: capitalize !important;
    font-size: 16px !important;
    font-weight: 500;
    
  }
  /* border-bottom: 1px solid rgba(0,0,0,0.5); */
  .v-tab.v-tab--active {
    font-weight: 600;
    color: $color-blue;
  }
</style>