<template>
  <div class="chart">
    <apexchart 
        type="bar" 
        :options="chartOptions" 
        :series="series">
    </apexchart>    
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
export default {
  props: {
    allSeries: Array,
    seriesName: String,
    labels: Array,
    yTitle: String,
    title: String,
    theme: String,
  },
  components: {
    apexchart: VueApexCharts,
  },
  data() {
    return {
      // chart
      series: [{
            name: this.seriesName ? this.seriesName : '',
            data: this.allSeries ? this.allSeries : [],
          }],
          chartOptions: {
            chart: {
              type: 'bar',
              height: "100%"
            },
            plotOptions: {
              bar: {
                horizontal: true,
              }
            },
            dataLabels: {
              enabled: true
            },
            theme: {
                mode: 'light', 
                palette: this.theme ? this.theme : 'palette1', 
            },
            xaxis: {
              categories: this.labels ? this.labels : [],
              title: {
                    text: this.yTitle ? this.yTitle : '',
              }
            },
            title: {
              text: this.title ? this.title : "",
            },
          },
    }
  }
}
</script>

<style lang="scss" scoped></style>
