<template>
  <div class="chart">
    <apexchart 
        type="bar" 
        :options="chartOptions" 
        :series="series">
    </apexchart>    
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
export default {
  props: {
    allSeries: Array,
    seriesName: String,
    labels: Array,
    yTitle: String,
    title: String,
    theme: String,
  },
  components: {
    apexchart: VueApexCharts,
  },
  data() {
    return {
      // chart
      series: [{
          name: this.seriesName,
          data: this.allSeries ? this.allSeries : [],
      }],
        chartOptions: {
            chart: {
                height: '100%',
                width: '100%',
                type: "bar",
            },
                labels: this.labels ? this.labels : [],
            theme: {
                mode: 'light', 
                palette: this.theme ? this.theme : 'palette1', 
            },
            dataLabels: {
                enabled: true,
            },
            xaxis: {
                categories: this.labels ? this.labels : [],
            },
            yaxis: {
                title: {
                    text: this.yTitle ? this.yTitle : '',
                }
            },
            title: {
                text: this.title ? this.title : "",
            }
        }
    }
  }
}
</script>

<style lang="scss" scoped></style>
