<template>
  <div class="chart">
    <apexchart
        type="donut"
        :options="chartOptions" 
        :series="series"
    ></apexchart>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
export default {
  props: {
    allSeries: Array,
    labels: Array,
    titleVariable: String,
    total: Boolean,
    theme: String,
  },
  components: {
    apexchart: VueApexCharts,
  },
  data() {
    return {
      // chart
      series: this.allSeries ? this.allSeries : [],
      chartOptions: {
        chart: {
          height: '100%s',
          width: '100%',
          type: "donut",
        },
        labels: this.labels ? this.labels : [],
        legend: {
            position: 'right'
        },
        title: {
          text: this.titleVariable ? this.titleVariable : "",
          align: "left",
        },
        theme: {
            mode: 'light', 
            palette: this.theme ? this.theme : 'palette1', 
        },
        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: this.total,
                total: {
                  show: true,
                }
            }
            }
          }
        }
      },
    };
  },
};
</script>

<style lang="scss" scoped></style>
