<template>
  <div class="chart">
    <apexchart
      type="line"
      height="350"
      :options="chartOptions"
      :series="series"
    ></apexchart>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
export default {
  props: {
    allSeries: Array,
    labels: Array,
    titleVariable: String,
    variable: String,
  },
  components: {
    apexchart: VueApexCharts,
  },
  data() {
    return {
      // chart
      series: this.allSeries ? this.allSeries : [],
      chartOptions: {
        chart: {
          height: 350,
          type: "line",
          zoom: {
            enabled: false,
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "straight",
        },
        title: {
          text: this.titleVariable ? this.titleVariable : "",
          align: "left",
        },
        grid: {
          row: {
            colors: ["#f3f3f3", "transparent"], // takes an array which will be repeated on columns
            opacity: 0.5,
          },
        },
        xaxis: {
          categories: this.labels ? this.labels : [],
        },
        yaxis: {
          title: {
            text: this.variable ? this.variable : "Cantidad",
          },
        },
      },
    };
  },
};
</script>

<style lang="scss" scoped></style>
