<template>
  <div class="chart">
    <apexchart type="area" height="200" :options="chartOptions" :series="series"></apexchart>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
export default {
  props: {
    allSeries: Array,
    total: String,
    title: String,
    labels: Array,
  },
  components: {
    apexchart: VueApexCharts,
  },
  data() {
    return {
      // chart
      series: [{
            name: this.title ? this.title : "",
            data: this.allSeries ? this.allSeries : [],
        }],
      chartOptions: 
      {
        chart: {
            type: 'area',
            height: 160,
            sparkline: {
                enabled: true
            },
        },
        labels: this.labels ? this.labels : [],
        stroke: {
            curve: 'straight'
        },
        fill: {
            opacity: 1
        },
        xaxis: {
            type: 'string',
        },
        yaxis: {
            min: 0
        },
        title: {
            text: this.total ? this.total : [],
            offsetX: 25,
            style: {
                fontSize: '26px',
            }
        },
        subtitle: {
            text: this.title ? this.title : "",
            offsetX: 25,
            style: {
                fontSize: '16px',
            }
        }
        },
       
    };
  },
};
</script>

<style lang="scss" scoped></style>
