<template>
<div class="mp-page-categories">
    <CardLayout title="Subcategorias">
        <template v-slot:head-actions>
            <div class="d-flex align-items-center">
                <v-select class="ml-3" v-model="categorySelected" item-text="name" item-value="_id" :items="categories" style="max-width: 170px" placeholder="Categoria" clearable></v-select>
                <v-btn small @click.stop="dialog = true" fab dark class="ml-2" color="primary">
                    <i class="fas fa-plus"></i>
                </v-btn>
            </div>
        </template>
        <template v-slot:body-template>
            <v-data-table :items="subCategories" :headers="headerSubCategories" class="elevation-0">
                <template v-slot:[`item.order`]="{item}">
                    <span>
                        {{findIndexOnSubCategories(item)}}
                    </span>
                </template>
                <template v-slot:[`item.category`]="{item}">
                    <span>
                        {{ item.category ? item.category.name : ''}}
                    </span>
                </template>
                <template v-slot:[`item.createdAt`]="{item}">
                    <span>
                        {{ item.createdAt ? item.createdAt.toString().substring(0,10) : 'Sin fecha'}}
                    </span>
                </template>
                <template v-slot:[`item.actions`]="{item}">
                    <v-btn icon @click="editSubCategory(item)">
                        <v-icon small>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn icon @click="deleteSubCategory(item)">
                        <v-icon small>mdi-delete</v-icon>
                    </v-btn>
                </template>
            </v-data-table>
        </template>
    </CardLayout>
    <FormDialog v-if="dialog" :dialog="dialog" :title="subCategoryEdited ? 'Editar Sub categoria': 'Nueva sub categoria'" width="450" v-on:closeDialog="closeDialog">
        <template v-slot:form-dialog>
            <div class="container">
                <v-form ref="formSubCategory" :lazy-validation="true" v-model="formSubCategory" class="pt-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 pr-2 pl-3">
                            <v-text-field v-model="subCategory.name" :rules="nameRules" placeholder="Nombre sub categoria (*)"></v-text-field>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 pr-2 pl-3 pb-4">
                            <v-autocomplete v-model="subCategory.category" item-text="name" item-value="_id" :items="categories" :rules="categoryRules" placeholder="Categoría (*)" :menu-props="{ top: true, offsetY: true }"></v-autocomplete>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
                            <v-card-actions class="pt-5">
                                <v-spacer></v-spacer>
                                <v-btn :disabled="loading" :loading="loading" @click="subCategoryEdited ? updateSubCategory() : saveNewSubCategory()" text>{{ subCategoryEdited ? 'Actualizar': 'Guardar' }}</v-btn>
                            </v-card-actions>
                        </div>
                    </div>
                </v-form>
            </div>
        </template>
    </FormDialog>
</div>
</template>

<script>
import CardLayout from '@/layouts/CardLayout';
import FormDialog from '@/components/dialogs/FormDialog';

import {
    mapState
} from 'vuex';
import Swal from 'sweetalert2';
export default {
    components: {
        CardLayout,
        FormDialog
    },
    data() {
        return {
            dialog: false,
            categorySelected: '',
            headerSubCategories: [{
                    text: '#',
                    value: 'order',
                    sortable: false
                },
                {
                    text: 'Nombre',
                    value: 'name',
                    sortable: true
                },
                {
                    text: 'Categoria',
                    value: 'category',
                    sortable: true
                },
                {
                    text: 'Fecha de creación',
                    value: 'createdAt',
                    sortable: false
                },

                {
                    text: '',
                    value: 'actions',
                    sortable: false
                },
            ],
            formSubCategory: true,
            categoryRules: [v => !!v || 'Elige una categoria!'],
            nameRules: [v => !!v || 'Escribe un nombre para la subcategoria!'],
            subCategoryEdited: null,
            subCategory: {
                name: '',
                category: ''
            },
            loading: false
        }
    },
    computed: {
        ...mapState({
            subCategories: function (state) {
                if (!state.subCategories.all) return [];
                const subc = [...state.subCategories.all];
                console.log('actualizando', this.categorySelected);
                return this.categorySelected ? subc.filter(sc => sc.category && sc.category._id === this.categorySelected) : subc;
            },
            categories: state => state.categories.all,
        })
    },
    methods: {
        findIndexOnSubCategories(item) {
            const idx = this.subCategories.indexOf(item);
            if (idx === -1) return '';
            return (idx + 1);
        },
        closeDialog() {
            this.dialog = false;
            this.clearFields();
        },
        editSubCategory(item) {
            this.subCategoryEdited = item;
            this.subCategory.name = item.name;
            item.category ? this.subCategory.category = item.category : this.subCategory.category = '';
            this.dialog = true;
        },
        clearFields() {
            this.subCategoryEdited = null;
            this.subCategory.name = '';
            this.subCategory.category = '';
        },
        validateForm() {
            return this.$refs.formSubCategory.validate();
        },
        //
        async saveNewSubCategory() {
            if (!this.validateForm()) return;
            this.loading = true
            const data = {
                name: this.subCategory.name,
                category: this.categories.find(c => c._id === this.subCategory.category)
            }
            const res = await this.$store.dispatch('addSubCategory', data);
            this.loading = false;
            if (res.status != 200 && res.status != 201) return Swal.fire('Oops!', 'Ocurrió un error agregando la subcategoria', 'error');
            this.closeDialog();
            await this.$store.dispatch('getAllCategories');
            return Swal.fire('Bien!', 'Se agregó una nueva sub categoria', 'success');
        },
        async updateSubCategory() {
            console.log('actualizando');
            if (!this.validateForm()) return;
            this.loading = true;
            const data = {
                subCategoryId: this.subCategoryEdited._id,
                obj: {
                    name: this.subCategory.name,
                    category: {
                        _id: this.subCategory.category && this.subCategory.category._id ? this.subCategory.category._id :this.subCategory.category
                    }
                }
            }
            console.log(data);
            const res = await this.$store.dispatch('editSubCategory', data);
            console.log(res);
            this.loading = false;
            if (res.status != 200 && res.status != 201) return Swal.fire('Oops!', 'Ocurrió un error mientras se editaba la subcategoria', 'error');
            this.closeDialog();
            await this.$store.dispatch('getAllCategories');
            return Swal.fire('Bien!', 'Se actualizaron los cambios satisfactoriamente!', 'success');
        },
        async deleteSubCategory(item) {
            const val = await Swal.fire({
                text: `¿Desea eliminar ${item.name} del sistema?`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#1A4A84",
                confirmButtonText: "Si, quiero eliminar",
            });
            if (!val.value) return;
            //
            await this.$store.dispatch('deleteSubCategory', item);
            await this.$store.dispatch('getAllCategories');
        }

    }
}
</script>

<style lang="scss" scoped>
</style>
