<template>
    <div>
        <CardLayout title="Dashboard Solicitudes">
          <template v-slot:body-template>
            <FormDateRange v-on:dateChange="getStats" />
          </template>
        </CardLayout>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <CardChart>
              <template v-slot:content>
              <BarChart
                  :key="baseIndex + 1"
                  title="Top 10 productos mas contactados"
                  :allSeries="productContacts.series"
                  seriesName="Contactos"
                  :labels="productContacts.labels"
                  yTitle="Cantidad de Contactos"
                  theme="palette1"
               /> 
              </template>
            </CardChart>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <CardChart>
              <template v-slot:content>
                <BarChart
                  :key="baseIndex + 2"
                  title="Top 10 emprendimientos mas contactados"
                  :allSeries="entrepreneurContacs.series"
                  seriesName="Contactos"
                  :labels="entrepreneurContacs.labels"
                  yTitle="Cantidad de Contactos"
                  theme="palette2"
               /> 
             </template>
            </CardChart>
            
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <CardChart>
              <template v-slot:content>
                <ColumnChart
                  :key="baseIndex + 3"
                  title="Categorías mas contactadas"
                  :allSeries="categoryContacs.series"
                  seriesName="Contactos"
                  :labels="categoryContacs.labels"
                  yTitle="Cantidad de Contactos"
                  theme="palette3"
               /> 
              </template>
            </CardChart>
          </div>
        </div>
        <LoaderPage :active="activeLoader" :zIndex="10" />
   </div>
</template>

<script>
import CardLayout from "@/layouts/CardLayout";
import CardChart from "@/components/cards/CardChart";
import SparkLine from "@/components/charts/SparkLine";
import FormDateRange from "@/components/forms/FormDateRange";
import BarChart from "@/components/charts/BarChart"
import ColumnChart from "@/components/charts/ColumnChart"
import axios from "axios";
import configHeaderToken from "@/libs/configHeaderToken";
import LoaderPage from "@/components/global/LoaderPage";
import { mapState } from "vuex";

export default {
  components: {
    CardLayout,
    SparkLine,
    LoaderPage,
    FormDateRange,
    CardChart,
    BarChart,
    ColumnChart,
  },
  data() {
    return {
      activeLoader: false,
      baseIndex: 32659,
      productContacts: {},
      entrepreneurContacs: {},
      categoryContacs: {},
    };
  },
    computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
    }),
  },
  methods: {
      async getStats(ev) {
      try {
        if (ev.startDate && ev.endDate) {
          this.activeLoader = true;
          const resProductContacts = await axios.get(
          `${this.baseURL}/api/indicators/products/contacts/count?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.productContacts = resProductContacts.data

          const resEntrepreneurContacs = await axios.get(
          `${this.baseURL}/api/indicators/stores/contacts/count?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.entrepreneurContacs = resEntrepreneurContacs.data

          const resCategoryContacs = await axios.get(
          `${this.baseURL}/api/indicators/category/contacts/count?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.categoryContacs = resCategoryContacs.data

          this.baseIndex += 10;

          this.activeLoader = false
        }
      } catch (error) {
        this.activeLoader = false
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";
.right-line {
  border-right: 1px solid hsla(200, 10%, 50%,100);
}

@media (max-width: 960px) {
  .right-line {
    border-right: 0px;  
  }
}
</style>
