<template>
  <div>
    <CardLayout title="Dashboard">
      <template v-slot:body-template>
        <FormDateRange v-on:dateChange="getStats" />
      </template>
    </CardLayout> 
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
            <CardChart class="mb-2 mt-4">
            <template v-slot:content>
                <div class="mp-card-total-entrepreneurs">
                    <p class="mp-total">{{allEntrepreneurs}}</p>
                    <p class="mp-title">Nuevos Emprendedores</p>
                </div>
            </template>
        </CardChart>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
            <CardChart class="mb-2 mt-4">
            <template v-slot:content>
                <div class="mp-card-total-entrepreneurs">
                    <p class="mp-total">{{allProducts}}</p>
                    <p class="mp-title">Nuevos Productos</p>
                </div>
            </template>
        </CardChart>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <CardChart>
          <template v-slot:content>
               <BarChart
                  :key="baseIndex + 1"
                  title="Emprendimiento por Categorias"
                  :allSeries="entrepreneursByCategory.series"
                  seriesName="Emprendimientos"
                  :labels="entrepreneursByCategory.labels"
                  yTitle="Cantidad de Emprendedores"
               /> 
          </template>
        </CardChart>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <CardChart>
          <template v-slot:content>
               <BarChart
                  :key="baseIndex + 2"
                  title="Productos por Categorias"
                  :allSeries="productsByCategory.series"
                  seriesName="Productos"
                  :labels="productsByCategory.labels"
                  yTitle="Cantidad de Productos"
                  theme="palette3"
               /> 
          </template>
        </CardChart>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <CardChart>
          <template v-slot:content>
               <DonutChart :key="baseIndex + 3" :allSeries="entrepreneursByhowDidUHear.series" :labels="entrepreneursByhowDidUHear.labels" titleVariable="¿Como se enteraron de Mercado Artesanal?" theme="palette1" />
          </template>
        </CardChart>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <CardChart>
          <template v-slot:content>
               <ColumnChart
                  :key="baseIndex + 4"
                  title="Emprendedores por métodos de pago"
                  :allSeries="entrepreneursBypaymentMethods.series"
                  seriesName="Emprendedores"
                  :labels="entrepreneursBypaymentMethods.labels"
                  yTitle="Cantidad de Emprendedores"
                  theme="palette5"
               /> 
          </template>
        </CardChart>
      </div>
    </div>
    <LoaderPage :active="activeLoader" :zIndex="10" />
  </div>
</template>

<script>
import CardLayout from "@/layouts/CardLayout";
import CardChart from "@/components/cards/CardChart";
import LoaderPage from "@/components/global/LoaderPage";
import FormDateRange from "@/components/forms/FormDateRange";
import BarChart from "@/components/charts/BarChart"
import ColumnChart from "@/components/charts/ColumnChart"
import DonutChart from "@/components/charts/DonutChart"
import configHeaderToken from "@/libs/configHeaderToken";
import { mapState } from "vuex";

import axios from "axios";

export default {
  components: {
    CardLayout,
    LoaderPage,
    CardChart,
    FormDateRange,
    BarChart,
    DonutChart,
    ColumnChart,
  },
  data() {
    return {
      activeLoader: false,
      baseIndex: 32659,
      allEntrepreneurs: 0,
      allProducts: 0,
      entrepreneursByCategory: {},
      productsByCategory: {},
      entrepreneursByhowDidUHear: {},
      entrepreneursBypaymentMethods: {},
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
      status: (state) => state.status.status,
    }),
  },
  methods: {
    async getStats(ev) {
      try {
        if (ev.startDate && ev.endDate) {
          this.activeLoader = true;
          const resAllEntrepreneurs = await axios.get(
          `${this.baseURL}/api/indicators/stores/all?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.allEntrepreneurs = resAllEntrepreneurs.data

          const resAllProducts = await axios.get(
          `${this.baseURL}/api/indicators/products/all?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.allProducts = resAllProducts.data

          const resEntrepreneursByCategory = await axios.get(
          `${this.baseURL}/api/indicators/stores/categories?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.entrepreneursByCategory = resEntrepreneursByCategory.data

          const resProductsByCategory = await axios.get(
          `${this.baseURL}/api/indicators/products/category/count?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.productsByCategory = resProductsByCategory.data

          const resEntrepreneursByhowDidUHear = await axios.get(
          `${this.baseURL}/api/indicators/stores/howDidUHear/count?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.entrepreneursByhowDidUHear = resEntrepreneursByhowDidUHear.data

          const resEntrepreneursBypaymentMethods = await axios.get(
          `${this.baseURL}/api/indicators/stores/paymentMethods/count?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.entrepreneursBypaymentMethods = resEntrepreneursBypaymentMethods.data

          this.baseIndex += 10;

          this.activeLoader = false
        }
      } catch (error) {
        this.activeLoader = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";

.mp-card-total-entrepreneurs {
    margin-left: 30px;
    font-family: "Segoe UI", "sans serif";
    color: #373D3F;
    .mp-total{
        font-size: 35px !important;
        margin-bottom: 0px;
        font-weight: 700;
    }
    .mp-title {
        font-size: 15px !important;
        margin-bottom: 0px;
    }
    .mp-subtitle {
        font-size: 12px !important;
    }
}


</style>
