<template>
    <div>
        <CardLayout title="Dashboard Emprendimientos">
           <template v-slot:body-template>
            <FormDateRange v-on:dateChange="getStats" />
          </template>
        </CardLayout>
        <CardChart class="mb-2 mt-4">
            <template v-slot:content>
                <div class="mp-card-total-entrepreneurs">
                    <p class="mp-total">{{allEntrepreneurs}}</p>
                    <p class="mp-title">Total de Emprendedores</p>
                </div>
            </template>
        </CardChart>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                 <CardChart>
                   <template v-slot:content>
                        <DonutChart :key="baseIndex + 1" :allSeries="entrepreneursByDepartment.series" :labels="entrepreneursByDepartment.labels" titleVariable="Emprendimientos de Lima y Provincia" />
                    </template>
                 </CardChart>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                 <CardChart>
                   <template v-slot:content>
                        <DonutChart :key="baseIndex + 2" :allSeries="entrepreneursBySexAndPeruvians.series" :labels="entrepreneursBySexAndPeruvians.labels" :total="true" titleVariable="Emprendimientos Peruanos"
                        theme="palette2" />
                    </template>
                 </CardChart>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                 <CardChart>
                   <template v-slot:content>
                        <DonutChart :key="baseIndex + 3" :allSeries="entrepreneursBySexAndForeigns.series" :labels="entrepreneursBySexAndForeigns.labels"  :total="true" titleVariable="Emprendimientos Migrantes" theme="palette3" />
                    </template>
                 </CardChart>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <CardChart>
                <template v-slot:content>
                    <BarChart
                        :key="baseIndex + 4"
                        title="Emprendimiento por Categorias"
                        :allSeries="entrepreneursByCategory.series"
                        seriesName="Emprendimientos"
                        :labels="entrepreneursByCategory.labels"
                        yTitle="Cantidad de Emprendedores"
                    /> 
                </template>
              </CardChart>
            </div>
        </div>
        <LoaderPage :active="activeLoader" :zIndex="10" />
   </div>
</template>

<script>
import CardLayout from "@/layouts/CardLayout";
import CardChart from "@/components/cards/CardChart";
import LoaderPage from "@/components/global/LoaderPage";
import DonutChart from "@/components/charts/DonutChart"
import BarChart from "@/components/charts/BarChart"
import FormDateRange from "@/components/forms/FormDateRange";

import configHeaderToken from "@/libs/configHeaderToken";

import axios from "axios";
import { mapState } from "vuex";

export default {
  components: {
    CardLayout,
    LoaderPage,
    CardChart,
    DonutChart,
    BarChart,
    FormDateRange,
  },
  data() {
    return {
      activeLoader: false,
      baseIndex: 32659,
      allEntrepreneurs: 0,
      entrepreneursByDepartment: {},
      entrepreneursBySexAndPeruvians: {},
      entrepreneursBySexAndForeigns: {},
      entrepreneursByCategory: {},
    };
  },
    computed: {
        ...mapState({
        baseURL: (state) => state.baseURL,
        authToken: (state) => state.authToken,
        }),
    },
    created() {
        this.getStats()
    },
  methods: {
      async getStats(ev) {
      try {
        if (ev.startDate && ev.endDate) {
          this.activeLoader = true;
          
          const resAllEntrepreneurs = await axios.get(
          `${this.baseURL}/api/indicators/stores/all?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.allEntrepreneurs = resAllEntrepreneurs.data

          const resEntrepreneursByDepartment = await axios.get(
          `${this.baseURL}/api/indicators/stores/departments?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.entrepreneursByDepartment = resEntrepreneursByDepartment.data

          const resEntrepreneursBySexAndPeruvians = await axios.get(
          `${this.baseURL}/api/indicators/stores/sex/peruvians?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.entrepreneursBySexAndPeruvians = resEntrepreneursBySexAndPeruvians.data

          const resentrepreneursBySexAndForeigns = await axios.get(
          `${this.baseURL}/api/indicators/stores/sex/foreigns?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.entrepreneursBySexAndForeigns = resentrepreneursBySexAndForeigns.data

          const resEntrepreneursByCategory = await axios.get(
            `${this.baseURL}/api/indicators/stores/categories?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
            configHeaderToken(this.authToken))
            this.entrepreneursByCategory = resEntrepreneursByCategory.data


          this.baseIndex += 10;

          this.activeLoader = false
        }
      } catch (error) {
        this.activeLoader = false
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";
.mp-card-total-entrepreneurs {
    margin-left: 30px;
    font-family: "Segoe UI", "sans serif";
    color: #373D3F;
    .mp-total{
        font-size: 35px !important;
        margin-bottom: 0px;
        font-weight: 700;
    }
    .mp-title {
        font-size: 15px !important;
        margin-bottom: 0px;
    }
    .mp-subtitle {
        font-size: 12px !important;
    }
}


</style>
