<template>
    <div>
        <CardLayout title="Dashboard Visitas">
          <template v-slot:body-template>
            <FormDateRange v-on:dateChange="getStats" />
          </template>
        </CardLayout>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <CardChart>
              <template v-slot:content>
                <LineChart 
                    :key="baseIndex + 1"
                    :allSeries="[{data: all.series ? all.series : [], name: 'Nuevas solicitudes'}]"
                    :labels="all.labels ? all.labels : []" 
                    :titleVariable="`Nuevas Solicitudes: ${all.total ? all.total : 0} `"
                    variable="Número de nuevas solicitudes" 
                />
              </template>
            </CardChart>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <CardChart>
              <template v-slot:content>
                <div class="mp-card-total-request">
                    <p class="mp-total">{{pending.total ? pending.total : 0}}</p>
                    <p class="mp-title">Solicitudes Pendientes</p>
                </div>
             </template>
            </CardChart>
            
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <CardChart>
              <template v-slot:content>
                <div class="mp-card-total-request">
                    <p class="mp-total">{{acepted.total ? acepted.total : 0}}</p>
                    <p class="mp-title">Solicitudes Aceptadas</p>
                </div>
              </template>
            </CardChart>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <CardChart>
              <template v-slot:content>
                <div class="mp-card-total-request">
                    <p class="mp-total">{{rejected.total ? rejected.total : 0}}</p>
                    <p class="mp-title">Solicitudes Rechazadas</p>
                </div>
              </template>
            </CardChart>
          </div>
        </div>
        <LoaderPage :active="activeLoader" :zIndex="10" />
   </div>
</template>

<script>
import CardLayout from "@/layouts/CardLayout";
import CardChart from "@/components/cards/CardChart";
import SparkLine from "@/components/charts/SparkLine";
import LineChart from "@/components/charts/LineChart"
import FormDateRange from "@/components/forms/FormDateRange";
import axios from "axios";
import configHeaderToken from "@/libs/configHeaderToken";
import LoaderPage from "@/components/global/LoaderPage";
import { mapState } from "vuex";

export default {
  components: {
    CardLayout,
    SparkLine,
    LoaderPage,
    FormDateRange,
    CardChart,
    LineChart,
  },
  data() {
    return {
      activeLoader: false,
      baseIndex: 32659,
      all: {},
      acepted: {},
      rejected: {},
      pending: {},
    };
  },
    computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
      status: (state) => state.status.status,
    }),
  },
  methods: {
      async getStats(ev) {
      try {
        if (ev.startDate && ev.endDate) {
          this.activeLoader = true;
          const resAll = await axios.get(
          `${this.baseURL}/api/requests/stores/all/count?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.all = resAll.data

          const resAcepted = await axios.get(
          `${this.baseURL}/api/requests/stores/Aceptado/count?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.acepted = resAcepted.data

          const resRejected = await axios.get(
          `${this.baseURL}/api/requests/stores/Rechazado/count?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.rejected = resRejected.data

          const resPending = await axios.get(
          `${this.baseURL}/api/requests/stores/Pendiente/count?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
          configHeaderToken(this.authToken))
          this.pending = resPending.data

          this.baseIndex += 10;

          this.activeLoader = false
        }
      } catch (error) {
        this.activeLoader = false
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";
.mp-card-total-request {
    margin-left: 30px;
    font-family: "Segoe UI", "sans serif";
    color: #373D3F;
    .mp-total{
        font-size: 35px !important;
        margin-bottom: 0px;
        font-weight: 700;
    }
    .mp-title {
        font-size: 15px !important;
        margin-bottom: 0px;
    }
    .mp-subtitle {
        font-size: 12px !important;
    }
}
</style>
