<template>
    <div>
        <CardLayout title="Dashboard Solicitudes">
          <template v-slot:body-template>
            <FormDateRange v-on:dateChange="getStats" />
          </template>
        </CardLayout>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <CardChart>
              <template v-slot:content>
                <LineChart 
                    :key="baseIndex + 1"
                    :allSeries="[{data: pageviews.series ? pageviews.series : [] , name: 'Visitas'}]"
                    :labels="pageviews.labels" 
                    :titleVariable="`Visitas a la página: ${pageviews.total}`"
                    variable="Número de visitas"   
                />
              </template>
            </CardChart>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <CardChart>
              <template v-slot:content>
                <LineChart 
                    :key="baseIndex + 2"
                    :allSeries="[{data: users.series ? users.series : [], name: 'Usuarios'}]"
                    :labels="users.labels" 
                    :titleVariable="`Usuarios de la página: ${users.total} `"
                    variable="Número de usuarios"
                />
             </template>
            </CardChart>
            
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <CardChart>
              <template v-slot:content>
                <LineChart 
                    :key="baseIndex + 3"
                    :allSeries="[{data: newUsers.series ? newUsers.series : [], name: 'Nuevos usuarios'}]"
                    :labels="newUsers.labels" 
                    :titleVariable="`Nuevos usuarios de la página: ${newUsers.total} `"
                    variable="Número de nuevos usuarios"
                />
              </template>
            </CardChart>
          </div>
        </div>
        <LoaderPage :active="activeLoader" :zIndex="10" />
   </div>
</template>

<script>
import CardLayout from "@/layouts/CardLayout";
import CardChart from "@/components/cards/CardChart";
import LineChart from "@/components/charts/LineChart"
import FormDateRange from "@/components/forms/FormDateRange";
import axios from "axios";
import configHeaderToken from "@/libs/configHeaderToken";
import LoaderPage from "@/components/global/LoaderPage";
import { mapState } from "vuex";

export default {
  components: {
    CardLayout,
    LoaderPage,
    FormDateRange,
    CardChart,
    LineChart,
  },
  data() {
    return {
      activeLoader: false,
      baseIndex: 3260200,
      pageviews: {},
      users: {},
      newUsers: {},
    };
  },
    computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
      status: (state) => state.status.status,
    }),
  },
  methods: {
      async getStats(ev) {
      try {
        if (ev.startDate && ev.endDate) {
            this.activeLoader = true;
            const res = await axios.get(
            `${this.baseURL}/api/indicators/google-analytics?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
            configHeaderToken(this.authToken))
            this.pageviews = res.data.pageviews
            this.users = res.data.users
            this.newUsers = res.data.newUsers

            this.baseIndex += 10;

            this.activeLoader = false
        }
      } catch (error) {
        this.activeLoader = false
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";
.right-line {
  border-right: 1px solid hsla(200, 10%, 50%,100);
}

@media (max-width: 960px) {
  .right-line {
    border-right: 0px;  
  }
}
</style>
