<template>
<div class="swiper-slide mp-card-container">
    <div class="mp-card-item">
        <div v-if="!business.active" class="mp-business-status">
            <v-chip x-small dark color="#af0000">Bloqueado</v-chip>
        </div>
        <div class="mp-categories">
            
        </div>
        <div class="mp-bottom-content">
            <div class="mp-image-item">
                <div class="mp-bg-image" 
                :style="`background-image: url(${business && business.images && business.images.length > 0  ? `${baseURL}/file/${business.images[0].filename}` : imgArtesania});`"
                ></div>
            </div>
            <div class="mp-content-item">
                <h3 class="mp-title-item">{{business && business.businessName ? business.businessName : `` }}</h3>
                <div class="mp-categories-content">
                    <span>{{business.storeReview && business.storeReview.length > 0 ? business.storeReview : business.productsResume}}</span>
                </div>
                <div class="mp-district-content">
                    {{ business && business.department ? business.department.name : ''}},
                     {{ business && business.province ? business.province.name : ''}},
                     {{ business && business.district ? business.district.name : ''}}
                </div>
                <div class="mp-qualification-item" v-if="business.rating && business.rating!=0">
                    <Stars :maxQualf="5" :qualif="business.rating" />
                </div>
                <div class="mp-actions-item">
                    <router-link :to="business ? `/emprendimientos/${business.sku}`: '/P404'" class="mp-content-action">
                        <span> Visitar ahora</span>
                        <i class="fas fa-arrow-right ml-1"></i>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import imgArtesania from '@/assets/img/no-image.png';
import Stars from '@/components/stars/Stars';
import { mapState } from 'vuex';
export default {
    props: {
        business: Object
    },
    components: {
        Stars
    },
    data() {
        return {
            imgArtesania: imgArtesania,
        }
    },
    computed: {
        ...mapState({
            baseURL: state => state.baseURL
        })
    }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/variables.scss';

$card-img-height: 185px;
$card-margin-separator: 8px;

.mp-card-container.swiper-slide {
    box-sizing: border-box;
    position: relative;

    .mp-card-item {
        height: 100%;
        position: relative;
        //overflow: hidden;
        display: flex;
        flex-flow: column nowrap;
        font-family: $primary-font;
        padding: .8em 1em;
        box-sizing: border-box;
        background: $color-font-dark;
        color: $color-black;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-left: 10px !important;
        margin-right: 10px !important;
        //box-shadow: 10px 10px 0 $color-secondary-opacity;
        box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.1);

        .mp-business-status {
            position: absolute;
            top: 0;
            right: 2px;
        }

        .mp-categories {
            font-size: 13px;
            margin-bottom: 5px;
            font-weight: 500;
        }

        .mp-bottom-content {
            display: flex;
            flex-flow: column nowrap;

            .mp-image-item {
                flex: 1.5;
            }

            .mp-content-item {
                flex: 2;
            }

            .mp-image-item .mp-bg-image {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: $card-img-height;
                border-radius: 5px;
                overflow: hidden;
            }

            .mp-content-item {
                padding: 0 .8em;
            }

            .mp-content-item .mp-title-item {
                font-weight: 700;
                font-size: 18px;
                margin-bottom: $card-margin-separator;
                color: $color-blue;
            }

            .mp-content-item .mp-categories-content {
                --max-lines: 2;
                max-height: calc(var(1.4rem) * var(--max-lines));
                position: relative;
                overflow: hidden;
                font-weight: 300;
                font-size: 13px;
                margin-bottom: $card-margin-separator;
                text-overflow: ellipsis;
                &::before {
                    content: "...";
                    position: absolute;
                    bottom: -3px;
                    right: -3px;
                }
                
            }

            .mp-content-item .mp-district-content {
                font-weight: 500;
                font-size: 13px;
                margin-bottom: $card-margin-separator;
            }

            .mp-content-item .mp-qualification-item {
                margin-bottom: $card-margin-separator;
            }

            .mp-content-item .mp-actions-item {
                padding-top: .8em;

                a {
                    color: $color-blue;
                    text-decoration: none;
                    padding: .65em 1em;
                    border-radius: 30px;
                    font-size: 13px;
                    border: 1px solid $color-blue;
                    margin-top: $card-margin-separator;
                    margin-bottom: 0;
                    transition: all ease-in-out .25s;

                    &:hover {
                        background: $color-blue;
                        color: #fff;
                    }
                }

            }
        }

    }
}

/* @media screen and (max-width: $breakpoint-phone) { */
.mp-card-container.swiper-slide {
    box-sizing: border-box;
    position: relative;

    .mp-card-item {
        height: 100%;
        position: relative;
        display: flex;
        flex-flow: column nowrap;

        .mp-categories {
            font-size: 13px;
            margin-bottom: 5px;
            font-weight: 500;
        }

        .mp-bottom-content {
            display: flex;
            flex-flow: column nowrap;

            .mp-image-item {
                flex: 1;
            }

            .mp-content-item {
                flex: 2;
            }

            .mp-image-item .mp-bg-image {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: $card-img-height;
            }

            .mp-content-item {
                padding: 1em .2em;
            }

            .mp-content-item .mp-title-item {
                font-weight: 700;
                font-size: 16px;
                margin-bottom: $card-margin-separator;
            }

            .mp-content-item .mp-categories-content {
                font-weight: 300;
                font-size: 13px;
                margin-bottom: $card-margin-separator;
                max-height: 40px;
                overflow: hidden;
            }

            .mp-content-item .mp-district-content {
                font-weight: 500;
                font-size: 13px;
                margin-bottom: $card-margin-separator;
            }

            .mp-content-item .mp-qualification-item {
                margin-bottom: $card-margin-separator;
            }

            .mp-content-item .mp-actions-item {
                padding-top: .8em;

                a {
                    font-size: 13px;
                }
            }
        }

    }
}

/* } */
</style>
