<template>
  <div class="mp-bussiness-comments p-3">
    <div class="mp-business-avg">
      <h4 class="mp-title-business mb-0">
        <router-link
          :to="
            `/emprendimientos/${
              person ? person.sku : '/'
            }`
          "
        >
          {{
            person && person.businessName
              ? person.businessName
              : ``
          }}
        </router-link>
      </h4>
      <!-- class="bg-tertiary" -->
      <hr />
      <div class="mp-qualf-avg">
        <div class="mp-start-qualf" v-if="person.rating && person.rating != 0">
          <Stars :qualif="person.rating" />
          <span
            >{{
              person.rating
            }}/5</span
          >
        </div>
        <!--<div class="mp-add-comment">
                <button class="btn-new-comment">Calificar emprendimiento</button>
            </div>-->
      </div>
    </div>
    <div class="mp-business-description">
      <p class="description pre-wrapp mb-5">
        {{
          person && person.storeReview
            ? person.storeReview
            : person.productsResume
        }}
      </p>
      <SocialBusiness :socials="socials" />
      <p class="text-center mt-2">
        <small
          >Redes sociales de
          {{
            person && person.businessName
              ? person.businessName
              : ``
          }}</small
        >
      </p>
    </div>
    <div>
      <slot name="bussiness-stats"></slot>
    </div>
    <div>
      <slot name="bussiness-products"></slot>
    </div>
    <div
      v-if="
        businessCommentaries && businessCommentaries.length > 0 && isEntView
      "
      class="mp-sub-head-comments"
    >
      <h6 class="mp-comments-head">Comentarios sobre este emprendimiento</h6>
      <hr />
    </div>
    <div
      v-if="
        businessCommentaries && businessCommentaries.length > 0 && isEntView
      "
    >
      <v-data-iterator
        :footer-props="footerOptions"
        :items-per-page="limit"
        @update:page="getCommentaries"
        :server-items-length="totalBusinessComments"
        :items="businessCommentaries"
      >
        <template v-slot:default="props">
          <Commentary
            v-for="item in props.items"
            :key="item._id"
            :item="item"
            :defaultUser="defaultUser"
            v-on:activateCommentary="activateCommentary"
            v-on:lockCommentary="lockCommentary"
            v-on:deleteCommentary="deleteCommentary"
          />
        </template>
      </v-data-iterator>
      <LoaderPage :active="loader" :zIndex="10" />
    </div>
    <div>
      <slot name="bussiness-actions"></slot>
    </div>
  </div>
</template>

<script>
import Stars from "@/components/stars/Stars";
import SocialBusiness from "@/components/global/SocialBusiness";
import Commentary from "@/components/cards/Commentary";
import LoaderPage from '@/components/global/LoaderPage';
import defaultUser from "@/assets/img/default-user-2.jpg";
import configHeaderToken from "@/libs/configHeaderToken";
import axios from "axios";
import { mapState } from "vuex";
import Swal from "sweetalert2";

export default {
  components: {
    Stars,
    SocialBusiness,
    Commentary,
    LoaderPage
  },
  props: {
    person: Object,
    isEntView: Boolean,
    socials: Object,
  },
  data() {
    return {
      defaultUser: defaultUser,
      footerOptions: {
        "items-per-page-options": [5],
      },
      businessCommentaries: [],
      businessPage: 1,
      page: 1,
      totalBusinessComments: 0,
      limit: 5,
      loader: false,
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
    }),
  },
  async mounted() {
    if (this.isEntView) {
      await this.getCommentaries();
    }
  },
  methods: {
    async getCommentaries(pagine) {
      this.loader = true;
      const res = await axios.get(
        `${this.baseURL}/api/commentaries/store/${
          this.person._id
        }/admin?page=${pagine ? pagine : this.businessPage}&limit=${this.limit}`,
        configHeaderToken(this.authToken)
      );
      const commentaries = res.data;
      this.loader = false;
      if (commentaries) {
        this.businessCommentaries = commentaries.docs;
        this.totalBusinessComments = commentaries.totalDocs;
        (this.page = res.data.page),
          pagine ? (this.businessPage = pagine) : (this.businessPage = 1);
        this.loader = false;
      }
    },
    async activateCommentary(commentary) {
      const val = await Swal.fire({
        //title: `¿Está usted seguro de esto?`,
        text: `La siguiente acción hará visible el comentario seleccionado`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero hacer visible!",
      });
      if (!val.value) return;
      //
      const res = await axios.patch(
        `${this.baseURL}/api/commentaries/${commentary._id}`,
        {},
        configHeaderToken(this.authToken)
      );
      if (res.status != 200)
        return Swal.fire(
          "",
          "Ocurrió un error intentado desbloquear el comentario seleccionado",
          "error"
        );
      await this.getCommentaries(this.page);
    },
    async lockCommentary(commentary) {
      const val = await Swal.fire({
        //title: `¿Está usted seguro de esto?`,
        text: `La siguiente acción ocultará el comentario seleccionado`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero ocultar!",
      });
      if (!val.value) return;
      //
      const res = await axios.patch(
        `${this.baseURL}/api/commentaries/${commentary._id}`,
        {},
        configHeaderToken(this.authToken)
      );
      if (res.status != 200)
        return Swal.fire(
          "",
          "Ocurrió un error intentado bloquear el comentario seleccionado",
          "error"
        );
      await this.getCommentaries(this.page);
    },
    async deleteCommentary(commentary) {
      const val = await Swal.fire({
        //title: `¿Está usted seguro de esto?`,
        text: `La siguiente acción eliminará el comentario seleccionado`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero eliminar!",
      });
      if (!val.value) return;
      //
      const res = await axios.delete(
        `${this.baseURL}/api/commentaries/${commentary._id}`,
        configHeaderToken(this.authToken)
      ); 
      if (res.status != 200)
        return Swal.fire(
          "",
          "Ocurrió un error intentado eliminar el comentario seleccionado",
          "error"
        );
      await this.getCommentaries(this.page);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";

.mp-bussiness-comments {
  font-family: "Lato", sans-serif !important;

  .mp-business-avg {
    margin-bottom: 15px;

    .mp-title-business {
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;

      a {
        color: $color-blue;
      }
    }

    .mp-qualf-avg {
      display: flex;
      justify-content: space-between;

      .mp-start-qualf {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        span {
          font-size: 0.88rem;
          margin-left: 8px;
        }
      }

      .mp-add-comment {
        .btn-new-comment {
          font-size: 0.75rem !important;
          text-transform: uppercase !important;
          letter-spacing: 1px !important;
          //color: #333333 !important;
          border-radius: 5px !important;
          border: 1px solid #333333 !important;
          padding: 0.8em 1em;
          outline: none;
          transition: all ease-in-out 0.2s;
          background: $color-primary;
          color: #fff;
        }
      }
    }
  }

  .mp-sub-head-comments {
    margin-top: 20px;

    .mp-comments-head {
      font-size: 1rem;
      color: #333333;
    }
  }

  .mp-business-description {
    p {
      font-weight: 400;
      //color: #333333;
      color: rgba(0, 0, 0, 0.75);
      font-size: 0.88rem;
    }
  }
}
</style>
