<template>
  <div
    class="lm--card-site lm--bg-image"
    :style="`background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url( ${
      img ? img : 'http://visitalima.pe/wp-content/uploads/2020/09/632x980-CATEDRAL.jpg'
    })`"
  >
    <div class="lm--content-card-site">
      <h3 class="lm--card-title">{{ name ? name : "" }}</h3>
      <div class="lm--card-actions">
        <router-link :to="href" class="lm--card-link">
          <span>Visita {{ name || "" }}</span>
          <i class="fas fa-external-link-alt"></i>
        </router-link>
      </div>
    </div>
    <div class="lm--actions-card">
      <v-btn @click="$emit('beforeEdited', object)" fab small color="tertiary" dark>
        <v-icon small>edit</v-icon>
      </v-btn>
      <v-btn @click="$emit('beforeRemove', object)" class="ml-2" fab small color="tertiary" dark>
        <v-icon small>delete</v-icon>
      </v-btn>
    </div>
    <!-- <div class="lm--logo-card">
      <img
        draggable="false"
        :src="
          logo
            ? logo
            : 'https://entradaslima.pe/repositorio/parques/patpal/galeria/16122020055618.png'
        "
        alt=""
      />
    </div> -->
  </div>
</template>

<script>
export default {
  props: {
    img: String,
    name: String,
    logo: String,
    href: String,
    object: Object
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";
.lm--card-site {
  width: 100%;
  height: 400px;
  /* max-width: 350px; */
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  padding: 1.55em 1em;
  border-radius: 15px;
  overflow: hidden;
  font-family: $primary-font;
  transition: all ease-in-out 0.2s;
  text-decoration: none;
  position: relative;
  @media screen and (min-height: 800px) {
    height: 500px;
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.3s ease-out 0s;
    background: rgba(0, 163, 156, 0.1);
    pointer-events: none;
  }
  &::before {
    transform-origin: left top;
  }
  &::after {
    transform-origin: right bottom;
  }
  &:hover {
    padding: 2em 1em;
    .lm--content-card-site {
      margin-bottom: 0;
      position: relative;
      z-index: 2;
    }
    &::before,
    &::after {
      transform: scale3d(1, 1, 1);
    }
    .lm--actions-card {
      visibility: visible;
      opacity: 1;
    }
  }
  .lm--actions-card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 15;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 0.25s;
  }
  .lm--content-card-site {
    color: #fff;
    margin-bottom: -50px;
    transition: all ease-in-out 0.25s;

    .lm--card-title {
      font-weight: 600;
      font-size: 25px;
      @media screen and (max-width: 800px) {
        font-size: 24px;
      }
      @media screen and (max-width: 600px) {
        font-size: 22px;
      }
      @media screen and (max-width: 400px) {
        font-size: 19px;
      }
    }
    .lm--card-description {
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.92);
      font-size: 13px;
    }
    .lm--card-actions {
      padding-top: 30px;
      .lm--card-link {
        height: 20px;
        color: $color-secondary;
        span {
          font-size: 14px;
          font-weight: 600;
          text-decoration: underline;
          @media screen and (min-width: 1600px) {
            font-size: 16px;
          }
          @media screen and (max-width: 500px) {
            font-size: 13px;
          }
        }
        i {
          margin-left: 10px;
        }
      }
    }
  }
  .lm--logo-card {
    position: absolute;
    top: 0;
    background: #fff;
    left: 0;
    padding: 0.8em;
    border-radius: 0 0 15px 0;
    max-height: 60px;
    transition: all ease-in-out 0.25s;
    img {
      max-height: 30px;
    }
  }
}
.lm--bg-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
