<template>
  <div>
    <FormDateRange v-on:dateChange="getStats" />
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <LineChart
          :key="baseIndex + 1"
          :allSeries="series"
          :labels="labels"
          :titleVariable="title ? `Visitas a ${title}` : ''"
          variable="Cantidad de visitas"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <LineChart
          :key="baseIndex + 2"
          :allSeries="series2"
          :labels="labels2"
          :titleVariable="title ? `Contactos a ${title}` : ''"
          variable="Número de contactos"
        />
      </div>
      <div v-if="type === 'entrepreneur'" class="col-lg-6 col-md-6 col-sm-12">
        <LineChart
          :key="baseIndex + 3"
          :allSeries="series3"
          :labels="labels3"
          :titleVariable="title ? `Visitas a los productos de ${title}` : ''"
          variable="Número de visitas en productos"
        />
      </div>
    </div>
  </div>
</template>

<script>
import LineChart from "@/components/charts/LineChart";
import FormDateRange from "@/components/forms/FormDateRange";
import configHeaderToken from "@/libs/configHeaderToken";
import axios from "axios";
import { mapState } from "vuex";
export default {
  components: {
    LineChart,
    FormDateRange,
  },
  props: {
    paramId: String,
    type: String,
    title: String,
  },
  data() {
    return {
      baseIndex: 32659888755,
      series: [],
      labels: [],
      series2: [],
      labels2: [],
      series3: [],
      labels3: []
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
    }),
  },
  methods: {
    async getStats(ev) {
      try {
        if (ev.startDate && ev.endDate) {

            await this.getCountStats(ev);
            await this.getContactStat(ev);
            if(this.type === 'entrepreneur'){
                await this.getVisitsByStore(ev);
            }
            this.baseIndex += 10;

        }
      } catch (error) {}
    },
    async getCountStats(ev) {
      const res = await axios.get(
        `${this.baseURL}/api/indicators/${this.type === "product" ? 'products' : 'stores'}/${this.paramId}/count?startDate=${
          ev.startDate
        }${ev.endDate ? "&endDate=" + ev.endDate : ""}`,
        configHeaderToken(this.authToken)
      );
      console.log(res);
      if (res.status != 200) return;
      this.series = [
        {
          name: "Cantidad de visitas",
          data: res.data.counts ? res.data.counts : [],
        },
      ];
      this.labels = res.data.dates ? res.data.dates.map((d) => this.formatFec(d)) : [];
    },
    async getContactStat(ev) {
      const res = await axios.get(
        `${this.baseURL}/api/indicators/${this.type === "product" ? 'products' : 'stores'}/${this.paramId}/contact?startDate=${
          ev.startDate
        }${ev.endDate ? "&endDate=" + ev.endDate : ""}`,
        configHeaderToken(this.authToken)
      );
      if (res.status != 200) return;
      this.series2 = res.data.serie ? res.data.serie.reverse() : [];
      this.labels2 = res.data.dates ? res.data.dates.map((d) => this.formatFec(d)) : [];
    },
    async getVisitsByStore(ev){
        const res = await axios.get(
        `${this.baseURL}/api/indicators/products/stores/${this.paramId}/count?startDate=${
          ev.startDate
        }${ev.endDate ? "&endDate=" + ev.endDate : ""}`,
        configHeaderToken(this.authToken)
      );
      console.log("asdas ress",res);
      if (res.status != 200) return;
      this.series3 = [
        {
          name: "Cantidad de visitas",
          data: res.data.counts ? res.data.counts : [],
        },
      ];
      this.labels3 = res.data.dates ? res.data.dates.map((d) => this.formatFec(d)) : [];
    },
    formatFec(fec) {
      if (!fec) return;
      let arr = fec.toString().substring(0, 10).split("-");
      return `${arr[2]}/${arr[1]}/${arr[0]}`;
    },
  },
};
</script>

<style lang="scss" scoped></style>
