<template>
  <div class="swiper-slide mp-card-container">
    <div class="mp-card-item">
      <div class="mp-bottom-content">
        <div class="mp-image-item">
          <div
            v-if="updatedImage && !image"
            class="mp-bg-image"
            :style="`background-image: url(${updatedImage});`"
          ></div>
          <div
            v-else-if="image"
            class="mp-bg-image"
            :style="`background-image: url(${baseURL}/file/${image.filename});`"
          ></div>
          <div
            v-else-if="store.logo.filename"
            class="mp-bg-image"
            :style="
              `background-image: url(${baseURL}/file/${store.logo.filename});`
            "
          ></div>
          <div
            v-else
            class="mp-bg-image"
            :style="`background-image: url(${noImage});`"
          ></div>
        </div>
        <div class="mp-content-item">
          <h3 class="mp-title-item">{{ store.businessName }}</h3>
          <div class="mp-categories-content">
            {{ store.storeReview }}
          </div>
          <div class="mp-district-content">
            {{
              `${store.department ? store.department.name : ""}, 
                ${store.province ? store.province.name : ""},
                ${store.district ? store.district.name : ""}`
            }}
          </div>
          <div
            class="mp-qualification-item"
            v-if="store.rating && store.rating != 0"
          >
            <Stars :maxQualf="5" :qualif="store.rating" />
          </div>
          <div v-if="!isCreated">
            <v-btn
              @click="deleteFeaturedEntrepreneur"
              rounded
              color="tertiary"
              dark
            >
              Remover
              <v-icon right dark>
                delete
              </v-icon>
            </v-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import imgArtesania from "@/assets/img/ecommerce.jpg";
import noImage from "@/assets/img/no-image.png";
import Stars from "@/components/stars/Stars";
import { mapState } from "vuex";
import Swal from "sweetalert2";

export default {
  components: {
    Stars,
  },
  props: {
    store: Object,
    image: Object,
    updatedImage: String,
    isCreated: Boolean,
    featuredEntrepreneurId: String,
  },
  data() {
    return {
      imgArtesania: imgArtesania,
      noImage: noImage,
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
    }),
  },
  methods: {
    async deleteFeaturedEntrepreneur() {
      console.log(this.featuredEntrepreneurId);
      const val = await Swal.fire({
        text: `La siguiente acción eliminará ${this.store.businessName} de los emprendimientos destacados`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero eliminar!",
      });
      if (!val.value) return;
      const res = await this.$store.dispatch(
        "deleteFeaturedEntrepreneur",
        this.featuredEntrepreneurId
      );
      if (res.status != 200 && res.status != 201)
        return Swal.fire("Oops!", `${res.data.message}`, "error");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";

$card-img-height: 185px;
$card-margin-separator: 8px;

.mp-card-container.swiper-slide {
  box-sizing: border-box;
  position: relative;

  .mp-card-item {
    height: 100%;
    position: relative;
    //overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    font-family: $primary-font;
    padding: 0.8em 1em;
    box-sizing: border-box;
    background: $color-font-dark;
    color: $color-black;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    //box-shadow: 10px 10px 0 $color-secondary-opacity;
    box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);

    .mp-categories {
      font-size: 13px;
      margin-bottom: 5px;
      font-weight: 500;
    }

    .mp-bottom-content {
      display: flex;
      flex-flow: column nowrap;

      .mp-image-item {
        flex: 1.5;
      }

      .mp-content-item {
        flex: 2;
      }

      .mp-image-item .mp-bg-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: $card-img-height;
        border-radius: 5px;
        overflow: hidden;
      }

      .mp-content-item {
        padding: 0 0.8em;
      }

      .mp-content-item .mp-title-item {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: $card-margin-separator;
        color: $color-blue;
      }

      .mp-content-item .mp-categories-content {
        font-weight: 300;
        font-size: 13px;
        margin-bottom: $card-margin-separator;
        max-height: 40px;
        overflow: hidden;
      }

      .mp-content-item .mp-district-content {
        font-weight: 500;
        font-size: 13px;
        margin-bottom: $card-margin-separator;
      }

      .mp-content-item .mp-qualification-item {
        margin-bottom: $card-margin-separator;
      }

      .mp-content-item .mp-actions-item {
        padding-top: 0.8em;

        a {
          color: $color-blue;
          text-decoration: none;
          padding: 0.65em 1em;
          border-radius: 30px;
          font-size: 13px;
          border: 1px solid $color-blue;
          margin-top: $card-margin-separator;
          margin-bottom: 0;
          transition: all ease-in-out 0.25s;

          &:hover {
            background: $color-blue;
            color: #fff;
          }
        }
      }
    }
  }
}

/* @media screen and (max-width: $breakpoint-phone) { */
.mp-card-container.swiper-slide {
  box-sizing: border-box;
  position: relative;

  .mp-card-item {
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;

    .mp-categories {
      font-size: 13px;
      margin-bottom: 5px;
      font-weight: 500;
    }

    .mp-bottom-content {
      display: flex;
      flex-flow: column nowrap;

      .mp-image-item {
        flex: 1;
      }

      .mp-content-item {
        flex: 2;
      }

      .mp-image-item .mp-bg-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: $card-img-height;
      }

      .mp-content-item {
        padding: 1em 0.2em;
      }

      .mp-content-item .mp-title-item {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: $card-margin-separator;
      }

      .mp-content-item .mp-categories-content {
        font-weight: 300;
        font-size: 13px;
        margin-bottom: $card-margin-separator;
        max-height: 40px;
        overflow: hidden;
      }

      .mp-content-item .mp-district-content {
        font-weight: 500;
        font-size: 13px;
        margin-bottom: $card-margin-separator;
      }

      .mp-content-item .mp-qualification-item {
        margin-bottom: $card-margin-separator;
      }

      .mp-content-item .mp-actions-item {
        padding-top: 0.8em;

        a {
          font-size: 13px;
        }
      }
    }
  }
}

/* } */
</style>
