<template>
<v-card v-if="campaign" class="mp-reel-card" width="auto">
    <!--:src="`${baseURL}/${item.image.path}`"-->
    <v-img :key="baseIndex" :src=" img ? img : campaign && campaign.image ? `${baseURL}/file/${campaign.image.filename}` : null" height="210px" :gradient="list || !campaign.showOnlyImage ? 'to bottom right, rgba(0,0,0,.33), rgba(0,0,0,.4)' : undefined" class="grey darken-4">
        <div v-if="list" class="mp-actions-card-slide">
            <v-spacer></v-spacer>
            <v-chip dark :color="active? 'success': 'secondary'" class="ma-2" small>
                {{active? 'Activo': 'Inactivo'}}
            </v-chip>
            <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn v-if="list" v-bind="attrs" v-on="on" color="white" icon>
                        <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item link @click="$emit('beforeEdited', campaign)">
                        <v-list-item-title>Editar</v-list-item-title>
                    </v-list-item>
                    <v-list-item link  @click="$emit('beforeRemove', campaign)">
                        <v-list-item-title>Eliminar</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </div>
        <div v-if="list || !campaign.showOnlyImage" class="mp-header-content-category container">
            <h1 :style="font_size_title" class="mp-title-category">{{ campaign.title }}</h1>
            <span :style="font_size_subtitle" class="mp-subtitle-category" v-if="campaign.subtitle && campaign.subtitle.length > 0">{{ campaign.subtitle }}</span>
            <v-btn 
                class="mt-5" 
                @click="$router.push(`/promociones/${campaign.sku}/dashboard`);" 
                fab  
                v-if="list"
                dark
                small
                color="primary"
            >
                <v-icon>equalizer</v-icon>
            </v-btn>
        </div>
    </v-img>
</v-card>
</template>

<script>
import {
    mapState
} from 'vuex';
export default {
    props: {
        campaign: Object,
        img: [Object, String],
        list: Boolean,
    },
    data() {
        return {
            today: new Date(),
            baseIndex: 1000,
            font_size_title: this.list ? 'font-size: 30px;' : 'font-size: 24px;',
            font_size_subtitle: this.list ? 'font-size: 15px;' : 'font-size: 13px;' ,
        }
    },
    computed: {
        ...mapState({
            baseURL: state => state.baseURL,
        }),
        active() {
           return  new Date(this.campaign.startDate) < this.today &&  new Date(this.campaign.endDate) > this.today;
        }
    },
    methods: {
        closeFormEdited() {
            this.resetValidation();
        },
        validateFormReel() {
            return this.$refs.formReel.validate();
        },
        resetValidation() {
            this.$refs.formReel.resetValidation()
        },
        clearImage() {
            this.image = null;
            this.srcImage = this.srcImageEdited;
            this.baseIndex += 10;
        },
    }
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";

.mp-reel-card {
    .mp-actions-card-slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: .2em .5em;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .mp-header-content-category {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .mp-title-category {
            font-size: 30px;
            color: $color-secondary;
            font-family: $primary-font;
            font-weight: bold;
            text-transform: uppercase;
        }
        .mp-subtitle-category {
            font-size: 15px;
            color: white;
            font-family: $primary-font;
            font-weight: 600;
        }
    }

}
</style>
