<template>
  <div class="mp-comment-container">
    <div class="mp-head-comment">
      <div class="mp-user-details">
        <div class="mp-user-image-name">
          <v-avatar size="32px">
            <img draggable="false" alt="default-user" :src="defaultUser" />
          </v-avatar>
          <div class="d-flex flex-column">
            <h6 class="mp-head-user-name">
              {{ item.person ? item.person.firstName : "" }}
              {{ item.person ? item.person.lastName : "" }}
            </h6>
            <small>{{ item.person ? item.person.email : "" }}</small>
          </div>
        </div>
        <div class="mp-date-comment">
          <small>{{
            item.createdAt ? item.createdAt.toString().substring(0, 10) : ""
          }}</small>
          <v-chip
            dark
            x-small
            :color="item.show ? 'blueColor' : '#af0000'"
            class="ml-2"
            >{{ item.show ? "Visible" : "Oculto" }}</v-chip
          >
        </div>
      </div>
      <div class="mp-stars-qualf">
        <Stars :qualif="item.rating" :small="true" />
      </div>
    </div>
    <div class="mp-body-comment">
      <p class="pre-wrapp">{{ item.commentary }}</p>
    </div>
    <div></div>
    <div class="mp-actions-comment">
      <button
        type="button"
        v-if="!item.show"
        @click="activateCommentary(item)"
        class="mp-actions-button mp-btn-business-actions"
      >
        <v-icon small>visibility</v-icon>
      </button>
      <button
        type="button"
        v-else
        @click="lockCommentary(item)"
        class="mp-actions-button mp-btn-business-actions"
      >
        <v-icon small>visibility_off</v-icon>
      </button>
      <button
        type="button"
        @click="deleteCommentary(item)"
        class="mp-actions-button mp-btn-business-actions mp-delete"
      >
        <v-icon small>delete</v-icon>
      </button>
    </div>
    <hr />
  </div>
</template>

<script>
import configHeaderToken from '@/libs/configHeaderToken';
import Stars from '@/components/stars/Stars';
import Swal from 'sweetalert2';
import axios from 'axios';
import { mapState } from 'vuex';

export default {
    props: {
        item: Object,
        defaultUser: String
    },
    components: {
        Stars
    },
    computed:{
        baseURL: state => state.baseURL,
            authToken: state => state.authToken
    },
    methods: {
        async activateCommentary(commentary){
            this.$emit('activateCommentary', commentary);
        },
        async lockCommentary(commentary){
            this.$emit('lockCommentary', commentary);
        },
        async deleteCommentary(commentary){
            this.$emit('deleteCommentary', commentary);
        }
    }

};
</script>

<style lang="scss" scoped>
.mp-comment-container {
        position: relative;
        .mp-actions-comment {
            position: absolute;
            bottom: 6px;
            right: 0;
            display: flex;
        }
        .mp-head-comment {
            display: flex;
            flex-flow: column nowrap;

            .mp-title-comment {
                font-size: 0.88rem;
                font-weight: 700;
                margin-bottom: 6px;
                color: #313131;
            }

            .mp-user-details {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                .mp-date-comment {
                    font-weight: 400;
                    font-size: 0.85rem;
                    color: rgba(0, 0, 0, 0.6);
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: flex-end;
                    margin: 0 0 0 .3em;
                }

                .mp-user-image-name {
                    display: flex;
                    align-items: center;
                    flex-flow: row nowrap;

                    .mp-head-user-name {
                        margin-left: 10px;
                        font-size: 0.9rem;
                        font-weight: 400;
                        margin-bottom: 0;
                        color: #000;
                    }
                    small{
                        font-family: 'Segoe UI', 'sans-serif';
                        margin-left: 10px;
                    }
                }
            }
        }

        .mp-body-comment {
            font-size: 0.88rem;
            font-weight: 400;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.7)
        }
    }
</style>