<template>
   <v-card
    height="auto"
    class="p-0 m-2 elevation-0 mp-image-card"
    elevation="0"
    color="transparent"
    style="box-sizing: border-box"
  >
    <v-img
      :src="item.image.filename ? `${this.baseURL}/file/${item.image.filename}` : null"
      max-height="300px"
      max-width="300px"
      class="grey darken-4"
    >
      <div class="mp-actions-card-slide">
        <v-spacer></v-spacer>
        <v-chip dark :color="item.isVisible? 'success': 'secondary'" class="ma-2" small>
            {{item.isVisible? 'Activo': 'Inactivo'}}
        </v-chip>
        <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs" v-on="on" color="black" icon>
                    <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
            </template>
            <v-list>
                <v-list-item link @click="$emit('beforeEdited', item)">
                    <v-list-item-title>Editar</v-list-item-title>
                </v-list-item>
                <v-list-item link @click="$emit('beforeRemove', item)">
                    <v-list-item-title>Eliminar</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>

      </div>
    </v-img>
   </v-card>
</template>

<script>
import {
    mapState
} from 'vuex';

export default {

  props: {
      item: Object,
  },

    computed: {
      ...mapState({
          baseURL: (state) => state.baseURL,
      }),
    },

}
</script>

<style lang="scss" scoped>
.mp-image-card{
    .mp-actions-card-slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: .2em .5em;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

}
</style>