<template>
  <div class="mp-product-comments p-3">
    <div class="mp-sub-head-comments">
      <h6 class="mp-comments-head">Comentarios sobre este producto</h6>
    </div>
    <hr />

    <div v-if="productCommentaries && productCommentaries.length > 0">
      <v-data-iterator
        :footer-props="footerOptions"
        :items-per-page="limit"
        @update:page="getCommentaries"
        :server-items-length="totalProductComments"
        :items="productCommentaries"
      >
        <template v-slot:default="props">
          <Commentary
            v-for="(item, idx) in props.items"
            :key="idx + 12310"
            :item="item"
            :defaultUser="defaultUser"
            v-on:activateCommentary="activateCommentary"
            v-on:lockCommentary="lockCommentary"
            v-on:deleteCommentary="deleteCommentary"
          />
        </template>
      </v-data-iterator>
      <LoaderPage :active="loader" :zIndex="10" />
    </div>
    <div v-else>
      <span class="text-muted">Sin comentarios</span>
    </div>

  </div>
</template>

<script>
import Stars from "@/components/stars/Stars";
import defaultUser from "@/assets/img/default-user-2.jpg";
import Commentary from "@/components/cards/Commentary";
import LoaderPage from '@/components/global/LoaderPage';
import configHeaderToken from '@/libs/configHeaderToken';
import Swal from "sweetalert2";
import axios from "axios";
import { mapState } from "vuex";

export default {
  components: {
    Stars,
    Commentary,
    LoaderPage
  },
  props: {
    productId: String,
  },
  data() {
    return {
      dialog: false,
      activeLoader: false,
      loading: false,
      defaultUser: defaultUser,
      defaultText: ``,
      footerOptions: {
        "items-per-page-options": [5],
      },
      productCommentaries: [],
      productPage: 1,
      totalProductComments: 0,
      page: 1,
      limit: 5,
      loader: false,
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: state => state.authToken,
    }),
  },
  async mounted() {
    await this.getCommentaries();
  },
  methods: {
    async getCommentaries(pagine) {
      this.loader = true;
      const res = await axios.get(
        `${this.baseURL}/api/commentaries/products/${this.productId}/admin?page=${
          pagine ? pagine : this.productPage
        }&limit=${this.limit}`, configHeaderToken(this.authToken)

      );
      this.loader = false;
      if (res.status != 200) {
        return;
      }
      const commentaries = res.data;
      this.productCommentaries = commentaries.docs;
      this.totalProductComments = commentaries.totalDocs;
      this.page = res.data.page;
      pagine ? (this.productPage = pagine) : (this.productPage = 1);
      this.loader = false;
    },
    openCommentDialog() {
      this.dialog = true;
    },
    closeDialog() {
      this.dialog = false;
      //this.clearFields();
    },
    async addProductCommentary(comment) {
      this.loading = true;
      const res = await this.$axios.$post(`/api/commentaries`, comment);
      this.loading = false;
      if (res && res.product) {
        this.closeDialog();
        if (this.productCommentaries.length == this.limit) {
          this.productCommentaries.splice(this.limit - 1, 1);
        }
        this.productCommentaries.unshift(res);
        return Swal.fire("Gracias por comentar!", "", "success");
      }
      return Swal.fire(
        "",
        "Ocurrió un error y no se pudo agregar su comentario",
        "error"
      );
    },
    async activateCommentary(commentary) {
      const val = await Swal.fire({
        //title: `¿Está usted seguro de esto?`,
        text: `La siguiente acción hará visible el comentario seleccionado`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero hacer visible!",
      });
      if (!val.value) return;
      //
      const res = await axios.patch(
        `${this.baseURL}/api/commentaries/${commentary._id}`,
        {},
        configHeaderToken(this.authToken)
      );
      if (res.status != 200)
        return Swal.fire(
          "",
          "Ocurrió un error intentado desbloquear el comentario seleccionado",
          "error"
        );
      await this.getCommentaries(this.page);
    },
    async lockCommentary(commentary) {
      const val = await Swal.fire({
        //title: `¿Está usted seguro de esto?`,
        text: `La siguiente acción ocultará el comentario seleccionado`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero ocultar!",
      });
      if (!val.value) return;
      //
      const res = await axios.patch(
        `${this.baseURL}/api/commentaries/${commentary._id}`,
        {},
        configHeaderToken(this.authToken)
      );
      if (res.status != 200)
        return Swal.fire(
          "",
          "Ocurrió un error intentado bloquear el comentario seleccionado",
          "error"
        );
      await this.getCommentaries(this.page);
    },
    async deleteCommentary(commentary) {
      const val = await Swal.fire({
        //title: `¿Está usted seguro de esto?`,
        text: `La siguiente acción eliminará el comentario seleccionado`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero eliminar!",
      });
      if (!val.value) return;
      //
      const res = await axios.delete(
        `${this.baseURL}/api/commentaries/${commentary._id}`,
        configHeaderToken(this.authToken)
      );
      if (res.status != 200)
        return Swal.fire(
          "",
          "Ocurrió un error intentado eliminar el comentario seleccionado",
          "error"
        );
      await this.getCommentaries(this.page);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";

.mp-product-comments {
  font-family: "Lato", sans-serif !important;

  .mp-sub-head-comments {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mp-add-comment {
      .btn-new-comment {
        font-size: 0.75rem !important;
        text-transform: uppercase !important;
        letter-spacing: 1px !important;
        //@at-rootcolor: #333333;
        border-radius: 5px !important;
        border: 1px solid #333333 !important;
        padding: 0.8em 1em;
        outline: none;
        transition: all ease-in-out 0.2s;
        background: $color-primary;
        color: #fff;
      }
    }

    .mp-comments-head {
      font-size: 1rem;
      color: #333333;
      margin-bottom: 0;
    }
  }
}
</style>
