<template>
<v-card v-if="item" class="mp-reel-card" width="auto">
    <!--:src="`${baseURL}/${item.image.path}`"-->
    <v-img height="180px" :src="srcImage" class="grey darken-4">
        <div class="mp-actions-card-slide">
            <v-spacer></v-spacer>
            <v-chip dark :color="item.visualize? 'success': 'secondary'" class="ma-2" small>
                {{item.visualize? 'Activo': 'Inactivo'}}
            </v-chip>
            <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn v-if="!isAdded" v-bind="attrs" v-on="on" color="white" icon>
                        <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item link @click="editReel(item)">
                        <v-list-item-title>Editar</v-list-item-title>
                    </v-list-item>
                    <v-list-item link @click="deleteReel(item)">
                        <v-list-item-title>Eliminar</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>

        </div>
        <div :class="
          `mp-container-title-slide ${getClassPositionLetters(
            item.titlePosition
          )}`
        ">
            <h4 class="mp-subtitle-slide">
                {{item.title}}
            </h4>
            <h2 class="mp-title-slide pre-wrapp">{{item.specialWord}}</h2>
            <div v-if="item.url" class="actions-slide">
                <a :href="item.url" target="_blank" class="mp-link-slide">Ver más</a>
            </div>
        </div>
    </v-img>
    <v-card-text v-if="isEdited || isAdded">
        <h6 class="card-title mb-1">{{titleCard}}</h6>
        <v-form ref="formReel" v-model="formReel" lazy-validation>
            <div class="row">
                <div class="col-lg-12 col-sm-12 pt-0 pb-0">
                    <v-text-field :rules="maxLettersRules2" v-model="item.title" placeholder="Subtítulo"></v-text-field>
                </div>
                <div class="col-lg-12 col-sm-12 pt-0 pb-0">
                    <v-textarea :rules="maxLettersRules1" rows="1" auto-grow v-model="item.specialWord" :value="item.specialWord" placeholder="Palabras clave"></v-textarea>
                </div>
                <div class="col-lg-12 col-sm-12 pt-0 pb-0">
                    <v-text-field v-model="item.url" placeholder="Enlace"></v-text-field>
                </div>
                <div class="col-lg-12 col-sm-12 pt-0 pb-0">
                    <v-select v-model="item.titlePosition" placeholder="Posición del texto" :items="titlePositions" item-text="text" item-value="value"></v-select>
                </div>
                <div class="col-lg-12 col-sm-12 pt-0 pb-0">
                    <v-file-input :rules="getFileRules" :required="getRequiredImage" :show-size="1000" v-model="image" :clearable="false" @change="updatePreviewImage" prepend-icon="" prepend-inner-icon="add_photo_alternate" accept="image/*" placeholder="Click para elegir una imagen nueva">
                        <template v-slot:append-outer>
                            <v-btn v-if="image" @click="clearImage" icon>
                                <v-icon>close</v-icon>
                            </v-btn>
                        </template>
                    </v-file-input>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 pt-0 pb-0">
                    <v-checkbox v-model="item.visualize" :label="item.visualize? 'Reel habilitado': 'Reel deshabilitado'"></v-checkbox>
                </div>
            </div>
        </v-form>
    </v-card-text>
    <v-card-actions v-if="isEdited || isAdded">
        <v-spacer></v-spacer>
        <v-btn @click.stop="closeFormEdited" color="primary" text>
            cancelar
        </v-btn>
        <v-btn @click="sendNewReel" :loading="loading" :disabled="loading" v-if="isAdded" color="primary" text>
            Guardar
        </v-btn>
        <v-btn @click="sendReelEdited" :loading="loading" :disabled="loading" v-if="isEdited" color="primary" text>
            Actualizar
        </v-btn>
    </v-card-actions>
</v-card>
</template>

<script>
import Swal from 'sweetalert2';
import {
    mapState
} from 'vuex';
export default {
    props: {
        itemProp: Object,
        isAdded: Boolean,
        titleCard: String,
        srcImageEdited: String
    },
    data() {
        return {
            maxLettersRules1: [
                value => (value.length <= 350) || 'El máximo de caracteres es 350'
            ],
            maxLettersRules2: [
                value => (value.length <= 60) || 'El máximo de caracteres es 60'
            ],
            loading: false,
            formReel: true,
            isEdited: false,
            item: {
                ...this.itemProp
            },
            image: null,
            srcImage: this.srcImageEdited
        }
    },
    computed: {
        ...mapState({
            titlePositions: state => state.reels.titlePositions,
            baseURL: state => state.baseURL,
        }),
        getFileRules() {
            if (this.isAdded) return [value => !value || value.size < 2000000 || 'Elija una imagen no mayor a 2 MB! Agregar'];
            return [value => (!value) || (value && value.size < 2000000) || 'Elija una imagen no mayor a 2 MB!']
        },
        getRequiredImage() {
            if (this.isAdded) return true;
            return false;
        }
    },
    methods: {
        getClassPositionLetters(pos) {
            if (pos === 1) return 'right';
            else if (pos === 0) return 'center';
            else return 'left'
        },
        closeFormEdited() {
            this.resetValidation();
            this.$emit('closeFormAdd');
            if (!this.isAdded) {
                this.isEdited = false;
                this.item = {
                    ...this.itemProp
                }
                this.image = null;
                this.srcImage = this.srcImageEdited;
            }
        },
        validateFormReel() {
            return this.$refs.formReel.validate();
        },
        resetValidation() {
            this.$refs.formReel.resetValidation()
        },
        editReel(reel) {
            this.isEdited = true;
        },
        async deleteReel(reel) {
            const val = await Swal.fire({
                //title: `¿Está usted seguro de esto?`,
                text: `La siguiente acción eliminará el item seleccionado del sistema`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#1A4A84",
                confirmButtonText: "Si, quiero eliminar!",
            });
            if (!val.value) return;

            const res = await this.$store.dispatch('deleteReel', reel);

            if (!res) return Swal.fire('Oops!', 'Ocurrió un erro y no se pudo eliminar el reel seleccionado', 'error');

            Swal.fire('Bien!', 'El reel se eliminó correctamente', 'success');
        },
        async sendNewReel() {
            if (!this.validateFormReel() || !this.image) return;
            this.loading = true;
            const FORM_REEL = new FormData();
            FORM_REEL.append('image', this.image);
            FORM_REEL.append('specialWord', this.item.specialWord || '');
            FORM_REEL.append('title', this.item.title || '');
            FORM_REEL.append('url', this.item.url || '');
            FORM_REEL.append('titlePosition', this.item.titlePosition);
            FORM_REEL.append('visualize', this.item.visualize || false);

            const res = await this.$store.dispatch('addReel', FORM_REEL);
            this.loading = false;
            if (res.status != 200 && res.status != 201) {
                return Swal.fire('Oops!', `Ocurrió un error y no se pudo agregar el reel`, 'error');
            }
            this.$emit('closeFormAdd');
            return Swal.fire('Bien!', `${res.data.message ? res.data.message : "Se agregó correctamente!"}`, 'success');
        },
        updatePreviewImage() {
            if (this.image != null && this.image != undefined) {
                const reader = new FileReader();
                reader.onload = (ev) => {
                    this.srcImage = ev.target.result;
                }
                reader.readAsDataURL(this.image);
                return;
            }
            this.srcImage = this.srcImageEdited;
        },
        clearImage() {
            this.image = null;
            this.srcImage = this.srcImageEdited;
        },
        async sendReelEdited() {
            if (!this.validateFormReel()) return;
            this.loading = true;
            const FORM_REEL = new FormData();
            FORM_REEL.append('specialWord', this.item.specialWord || '');
            FORM_REEL.append('title', this.item.title || '');
            FORM_REEL.append('url', this.item.url || '');
            FORM_REEL.append('titlePosition', this.item.titlePosition);
            FORM_REEL.append('visualize', this.item.visualize || false);

            if (this.image) {
                FORM_REEL.append('image', this.image);
            }

            const res = await this.$store.dispatch('editReel', {
                reelId: this.item._id,
                formReel: FORM_REEL
            });

            this.loading = false;
            if (res.status != 200) {
                return Swal.fire('Oops!', `Ocurrió un error y no se pudo editar el reel`, 'error');
            }
            this.$emit('closeFormAdd');
            this.isEdited = false;
            return Swal.fire('Bien!', `${res.data.message ? res.data.message : "Reel editado correctamente!"}`, 'success');

        }
    }
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";

.mp-reel-card {
    .mp-actions-card-slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: .2em .5em;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .mp-container-title-slide {
        width: 100%;
        height: 100%;
        //margin-top: -8px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        padding: .5em 1.2em;
        font-family: $primary-font;

        .mp-subtitle-slide {
            font-weight: 500;
            font-size: 12px;
            color: #fff;
            margin-bottom: 5px;
        }

        .mp-title-slide {
            font-weight: 700;
            font-size: 8px;
            color: #fff;
            //text-transform: uppercase;
            padding: .4em .5em;
            max-width: 60%;
            margin-bottom: 3px;
            background:  rgba(0, 163, 156, 0.85);
        }

        .actions-slide {
            .mp-link-slide {
                padding: .2em .7em;
                color: #000;
                background: #fff;
                border-radius: 30px;
                font-size: 8px;
                transition: all ease-in-out .25s;

                &:hover {
                    background: $color-primary;
                    color: #fff;
                }
            }
        }

    }

    .mp-container-title-slide.left {
        display: flex;

        align-items: flex-start;
    }

    .mp-container-title-slide.center {
        display: flex;

        align-items: center;
    }

    .mp-container-title-slide.right {
        display: flex;
   
        align-items: flex-end;
    }
}
</style>
