<template>
  <div class="mp-page-categories">
    <CardLayout title="Métricas">
      <template v-slot:head-actions>
        <div class="d-flex align-items-center">
          <v-btn
            small
            @click.stop="dialog = true"
            fab
            dark
            class="ml-2"
            color="primary"
          >
            <i class="fas fa-plus"></i>
          </v-btn>
        </div>
      </template>
      <template v-slot:body-template>
        <v-data-table
          :items="metrics"
          :headers="headersMetrics"
          class="elevation-0"
        >
          <template v-slot:[`item.order`]="{ item }">
            <span>
              {{ findIndexOnMetrics(item) }}
            </span>
          </template>
          <template v-slot:[`item.createdAt`]="{ item }">
            <span>
              {{
                item.createdAt
                  ? item.createdAt.toString().substring(0, 10)
                  : "Sin fecha"
              }}
            </span>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-btn icon @click="editMetric(item)">
              <v-icon small>mdi-pencil</v-icon>
            </v-btn>
            <v-btn icon @click="deleteMetric(item)">
              <v-icon small>mdi-delete</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </template>
    </CardLayout>
    <FormDialog
      v-if="dialog"
      :dialog="dialog"
      :title="metricEdited ? 'Editar Metrica' : 'Metrica'"
      width="450"
      v-on:closeDialog="closeDialog"
    >
      <template v-slot:form-dialog>
        <div class="container">
          <v-form
            ref="formMetric"
            :lazy-validation="true"
            v-model="formMetric"
            class="pt-3"
          >
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 pr-2 pl-3">
                <v-text-field
                  v-model="metric.name"
                  :rules="nameRules"
                  placeholder="Nombre Metrica (*)"
                ></v-text-field>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
                <v-card-actions class="pt-5">
                  <v-spacer></v-spacer>
                  <v-btn
                    :disabled="loading"
                    :loading="loading"
                    @click="metricEdited ? updateMetric() : saveNewMetric()"
                    text
                    >{{ metricEdited ? "Actualizar" : "Guardar" }}</v-btn
                  >
                </v-card-actions>
              </div>
            </div>
          </v-form>
        </div>
      </template>
    </FormDialog>
  </div>
</template>

<script>
import CardLayout from "@/layouts/CardLayout";
import FormDialog from "@/components/dialogs/FormDialog";
import { mapState } from "vuex";
import Swal from "sweetalert2";

export default {
  components: {
    CardLayout,
    FormDialog,
  },

  data: () => ({
    dialog: false,
    metricEdited: null,
    metric: {
      name: "",
    },
    formMetric: true,
    loading: false,
    headersMetrics: [
      {
        text: "#",
        value: "order",
        sortable: false,
      },
      {
        text: "Nombre",
        value: "name",
        sortable: true,
      },
      {
        text: "Fecha de creación",
        value: "createdAt",
        sortable: false,
      },

      {
        text: "",
        value: "actions",
        sortable: false,
      },
    ],
    nameRules: [(v) => !!v || "Escribe un nombre para la Metrica!"],
  }),

  computed: {
    ...mapState({
      metrics: (state) => state.metrics.all,
    }),
  },

  methods: {
    findIndexOnMetrics(item) {
      const idx = this.metrics.indexOf(item);
      if (idx === -1) return "";
      return idx + 1;
    },
    closeDialog() {
      this.dialog = false;
      this.clearFields();
    },
    clearFields() {
      this.metricEdited = null;
      this.metric = {
        name: "",
      };
    },
    validateForm() {
      return this.$refs.formMetric.validate();
    },
    editMetric(item) {
      this.metricEdited = item;
      this.metric = item;
      this.dialog = true;
    },

    async saveNewMetric() {
      if (!this.validateForm()) return;
      this.loading = true;

      const res = await this.$store.dispatch("addMetric", this.metric);
      this.loading = false;
      if (res.status != 200 && res.status != 201)
        return Swal.fire(
          "Error",
          res.message || "Ocurrió un error agregando la Metrica",
          "error"
        );
      this.closeDialog();
      await this.$store.dispatch("getAllMetrics");
      return Swal.fire("Bien!", "Se agregó una Metrica", "success");
    },

    async updateMetric() {
      if (!this.validateForm()) return;
      this.loading = true;
      const res = await this.$store.dispatch("editMetric", this.metric);
      this.loading = false;
      if (res.status != 200)
        return Swal.fire(
          "Error",
          "Ocurrió un error mientras se editaba la subcategoria",
          "error"
        );
      this.closeDialog();
      await this.$store.dispatch("getAllMetrics");
      return Swal.fire(
        "Bien!",
        "Se actualizaron los cambios satisfactoriamente!",
        "success"
      );
    },
    async deleteMetric(item) {
      const val = await Swal.fire({
        text: `¿Desea eliminar ${item.name} del sistema?`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero eliminar",
      });
      if (!val.value) return;
      
      await this.$store.dispatch("deleteMetric", item);
      await this.$store.dispatch("getAllCategories");
    },
  },
};
</script>

<style></style>
