<template>
<div class="mp-page-reels">
    <CardLayout title="Estados">
        <template v-slot:body-template>
            <v-simple-table>
                <template v-slot:default>
                    <thead>
                        <tr>
                            <th style="width: 70px !important;" class="text-left">
                                #
                            </th>
                            <th class="text-left">
                                Estados
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, idx) in allStatus" :key="idx+7120">
                            <td>{{ idx+1 }}</td>
                            <td>{{ item }}</td>
                        </tr>
                    </tbody>
                </template>
            </v-simple-table>
        </template>
    </CardLayout>
</div>
</template>

<script>
import CardLayout from '@/layouts/CardLayout';
import {
    mapState
} from 'vuex';
export default {
    components: {
        CardLayout
    },
    computed: {
        ...mapState({
            allStatus: state => state.status.status
        })
    }
}
</script>

<style lang="scss" scoped>

</style>
