<template>
<div class="mp-categories-section">
    <v-container>

            <div v-if="mostCategories">
                <div v-for="(item, idx) in mostCategories" :key="idx + 900">
                    <div v-if="item" class="mp-categories-slides-container">
                        <div class="mp-title-container-categories d-flex align-items-center justify-content-between">
                            <h2 class="mp-title-slides-categories">
                            {{item.category  && item.category.name ? item.category.name : `Sección ${idx+1}` }}
                            </h2>
                            <div>
                                <v-btn color="blueColor" @click="addProductsToSlideCategory(item)" icon>
                                    <i class="material-icons">edit</i>
                                </v-btn>
                                <v-btn color="blueColor" @click="removeSlideCategory(item)" icon>
                                    <i class="material-icons">delete</i>
                                </v-btn>
                            </div>
                        </div>
                        <SlideProducts v-if="item.products && item.products.length > 0" :items="item.products" :isUser="isUser" :productSlideId="`mp-product-swipe${idx + 1}`" v-on:deleteProduct="deleteProduct($event, idx)" />
                        <div class="mp-view-more-category">
                            
                        </div>
                    </div>
                </div>
            </div>

    </v-container>
</div>
</template>

<script>
import SlideProducts from '@/components/slides/SlideProducts'
import Swal from 'sweetalert2';
export default {
    components: {
        SlideProducts,
    },
    props: {
        mostCategories: Array,
        isUser: Boolean
    },
    data() {
        return {
            //swiperCategories: null
        }
    },
    methods: {
        deleteProduct(product, idx){
            this.$emit('deleteProduct', {product, idx});
        },
        addProductsToSlideCategory(item){
            this.$emit('addProductsToSlideCategory', item);
        },
        async removeSlideCategory(item){
            const val = await Swal.fire({
                //title: `¿Está usted seguro de esto?`,
                text: `La siguiente acción removerá la sección "${item.category.name}"`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#1A4A84",
                confirmButtonText: "Si, quiero eliminar!",
            });
            if (!val.value) return;
            this.$emit('removeCategory', item)
        },
    },
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/variables.scss';
.mp-categories-section {
    width: 100%;
    //min-height: 100vh;

    //max-height: $max-height-section;
    .mp-categories-slides-container {
        padding: 3rem 0;

        .mp-title-container-categories {
            padding: 1em 0;

            .mp-title-slides-categories {
                position: relative;
                color: $color-blue;
                padding-left: 15px;
                margin-bottom: 0;
                font-size: 25px;

                //margin-left: .5em;
                &::before {
                    content: ' ';
                    height: 100%;
                    width: 4px;
                    background: #1a4a84;
                    display: block;
                    position: absolute;
                    left: 0;
                }
            }
        }

        .mp-view-more-category {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding: 0 1em;

            .mp-view-more-link {
                font-size: 13px;
                font-weight: 500;
                text-decoration: none;
                color: $color-blue;
                transition: all ease-in-out .2s;
                text-transform: uppercase;

                &:hover {
                    color: $color-secondary;
                }
            }
        }
    }
}
</style>
