<template>
<div   class="mp-header-category" :style="!showOnlyImage ? `background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.35)), url(${img});` : `background-image: url(${img})`">
    <div v-if="!showOnlyImage" class="mp-header-content-category container">
        <h1 class="mp-title-category">{{title}}</h1>
        <span class="mp-subtitle-category" v-if="subtitle && subtitle.length > 0">{{ subtitle }}</span>
    </div>
</div>
</template>

<script>
export default {
    props: {
        title: String,
        img: String,
        subtitle: String,
        showOnlyImage: Boolean,
    },
}
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";
.mp-header-category {
    min-height: 300px;
    height: 40vh;
    max-height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .mp-header-content-category {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .mp-title-category {
            font-size: 55px;
            color: $color-secondary;
            font-family: $primary-font;
            font-weight: bold;
            text-transform: uppercase;
        }
        .mp-subtitle-category {
            font-size: 25px;
            color: white;
            font-family: $primary-font;
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 600px) {
    .mp-header-category {

        .mp-header-content-category {

            .mp-title-category {
                font-size: 35px;
                text-align: center;
            }
            .mp-subtitle-category {
                font-size: 15px;
                text-align: center;
            }
            
        }
    }
}
</style>
