<template>
  <div class="mp-ventures-section padd-section">
    <v-container>
      <div class="mp-container-ventures">
        <div class="swiper-container mp-swiper-ventures">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide"
              v-for="(item) in items"
              :key="item._id"
            >
              <CardItem :store="item.store" :image="item.image" :featuredEntrepreneurId="item._id" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
import CardItem from "@/components/cards/CardItem";
export default {
  components: {
    CardItem,
  },
  props: {
    items: Array,
  },
  data() {
    return {
      swiperCategories: null,
    };
  },
  mounted() {
    this.swiperCategories = new Swiper(".swiper-container.mp-swiper-ventures", {
      loop: false,
      spaceBetween: 10,
      slidesPerView: 1,
      autoplay: {
        delay: 4000,
        //disableOnInteraction: true
      },
      breakpoints: {
        500: {
          slidesPerView: 1,
          spaceBetween: 10,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 2,
          spaceBetween: 25,
        },
        1200: {
          slidesPerView: 3,
          spaceBetween: 10,
        },
        1500: {
          slidesPerView: 4,
          spaceBetween: 5,
        },
      },
      navigation: {
        nextEl: `.mp-swiper-ventures .swiper-button-next`,
        prevEl: `.mp-swiper-ventures .swiper-button-prev`,
      },
    });
    document
      .querySelector(".swiper-container.mp-swiper-ventures")
      .addEventListener("mouseenter", this.pauseSwiper);
    document
      .querySelector(".swiper-container.mp-swiper-ventures")
      .addEventListener("mouseleave", this.playSwiper);
  },
  methods: {
    pauseSwiper() {
      this.swiperCategories.autoplay.stop();
    },
    playSwiper() {
      this.swiperCategories.autoplay.start();
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";

.mp-ventures-section {
  //height: 100vh;
  max-height: $max-height-section;

  .swiper-container.mp-swiper-ventures {
    height: auto;
    display: flex;
    align-items: center;
    cursor: grabbing;
  }
}

.swiper-container.mp-swiper-ventures {
  .swiper-button-prev {
    left: 0 !important;
  }

  .swiper-button-next {
    right: 0 !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 35px !important;
    height: 35px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    background: $color-blue;
    outline: none;

    &::after {
      font-size: 13px !important;
      color: #fff;
    }
  }

  /* .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 13px;
    } */
}
</style>
