<template>
  <div class="emporium-page">
    <CardLayout v-if="campaign" :title="campaign.title"  :url="`${baseURL}/promociones/${campaign.sku}`" :haveGoBack="true">
      <template v-slot:body-template>
        <HeaderSection
          :title="campaign.title || ''"
          :subtitle="campaign.subtitle"
          :showOnlyImage="campaign.showOnlyImage"
          :img="
            campaign.image
              ? `${baseURL}/file/${campaign.image.filename}`
              : defaultIMG
          "
        />
        <TabsCampaign :campaignNav="campaignNav" />
        <div class="container">
          <div class="mp-conglomerate-index">
            <!-- Featured Products -->
                <div class="container">
                    <div v-if="campaign.groupFeaturedProducts && campaign.groupFeaturedProducts.length > 0">
                        <div  
                            v-for="(item, idx) in campaign.groupFeaturedProducts"
                            :key="item._id + idx"
                         >
                            <div  
                                class="mp-conglomerate-slides-container"
                            >
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center ">

                                        <div class="mp-title-container-conglomerate" :style="editTitle && 'width: 300px;'">
                                            <h2 v-if="!editTitle" class="mp-title-slides-conglomerate">
                                                {{ item.title }}
                                            </h2>
                                            <v-text-field 
                                            v-else 
                                            color="primary" 
                                            v-model="obj.title" 
                                            outlined 
                                            :rules="importantRules" 
                                            required
                                            hide-details
                                            
                                            ></v-text-field>
                                        </div>
                                        <v-btn class="ml-2" v-if="editTitle"  @click="saveTitleProduct" fab small  icon dark color="tertiary">
                                            <v-icon small>save</v-icon>
                                        </v-btn> 
                                        <v-btn class="ml-2" @click="editTitle ? editTitle = false : editTitleProduct(item)" fab small icon dark color="tertiary">
                                            <v-icon small>{{editTitle ? "close" : "edite"}}</v-icon>
                                        </v-btn> 
                                    </div>
                                    <div>
                                        <v-btn class="mr-2" @click="deleteGroupProduct(item)" color="#af0000" dark fab small>
                                          <v-icon small>delete</v-icon>
                                        </v-btn>
                                        <v-btn @click="openDialog(item)" fab small dark color="tertiary">
                                            <v-icon small>add</v-icon>
                                        </v-btn>
                                    </div>
                                    
                                </div>
                                <div
                                    v-if="
                                    item.products && item.products.length > 0
                                    "
                                >
                                    <ProductSlide
                                    :items="item.products"
                                    :obj="item"
                                    :productSlideId="`mp-featured-products-${item._id}`"
                                    v-on:beforeDelete="deleteProduct($event)"
                                    :key="baseIndex + 10"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  v-if="addBlock"
                        class="mp-conglomerate-slides-container"
                    >
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center ">

                                <div class="mp-title-container-conglomerate" style="width: 300px;">
                                    <v-text-field 
                                    color="primary" 
                                    v-model="obj.title" 
                                    outlined 
                                    :rules="importantRules" 
                                    label="Escribe el título"
                                    required
                                    hide-details
                                    ></v-text-field>
                                </div>
                                <v-btn class="ml-2" @click="saveNewBlock" fab small  icon dark color="tertiary">
                                    <v-icon small>save</v-icon>
                                </v-btn> 
                                <v-btn class="ml-2" @click="closeNewBlock" fab small icon dark color="tertiary">
                                    <v-icon small>close</v-icon>
                                </v-btn> 
                            </div>
                        </div>
                    </div>
                    <div class="mp-campaign-button-add-block">
                        <v-btn @click="addGroupProduct" fab dark color="tertiary">
                            <v-icon>add</v-icon>
                        </v-btn>
                    </div>
                    
                </div>
          </div>
                
        </div>
      </template>
    </CardLayout>
    <!-- Form Productos destacados -->
    <FormDialog
      v-if="dialogProduct"
      :dialog="dialogProduct"
      title="Agrega un producto destacado"
      width="450"
      v-on:closeDialog="closeDialogProduct"
    >
      <template v-slot:form-dialog>
        <div class="container pb-0">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <v-autocomplete
                prepend-inner-icon="search"
                v-model="productSelected"
                :items="products"
                label="Busca un producto"
                filled
                rounded
                hide-no-data
                hide-selected
                item-text="title"
                item-value="_id"
                return-object
                @keyup="findProducts"
                autocomplete="off"
                small-chips
                deletable-chips
                :loading="loading"
              ></v-autocomplete>
            </div>
            <div class="col-lg-12 col-md-12">
              <ProductCard style="width:300px; margin:auto;" v-if="productSelected" :product="productSelected" />
            </div>
            <div class="col-lg-12 col-md-12">
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  @click="addProduct"
                  :loading="btnLoading"
                  :disabled="btnLoading"
                  v-if="productSelected"
                  text
                  color="tertiary"
                  >Agregar</v-btn
                >
              </v-card-actions>
            </div>
          </div>
        </div>
      </template>
    </FormDialog>
    <LoaderPage :active="activeLoader" :zIndex="10" />
  </div>
</template>

<script>
import configHeaderToken from "@/libs/configHeaderToken";
import CardLayout from "@/layouts/CardLayout";
import HeaderSection from "@/components/sections/HeaderSection";
import TabsCampaign from "@/components/tabs/TabsCampaign";
import ProductSlide from "@/components/slides/SlideProducts";
import StoreSlide from "@/components/slides/StoreSlide";
import FormDialog from "@/components/dialogs/FormDialog";
import ProductCard from "@/components/cards/ProductCard";
import BusinessCard from "@/components/cards/BusinessCard";
import LoaderPage from "@/components/global/LoaderPage";

import axios from "axios";
import { mapState } from "vuex";
import Swal from "sweetalert2";

export default {
  components: {
    CardLayout,
    HeaderSection,
    TabsCampaign,
    ProductSlide,
    StoreSlide,
    FormDialog,
    ProductCard,
    BusinessCard,
    LoaderPage,
  },
  data() {
    return {
        defaultIMG:
            "https://delilacblog.files.wordpress.com/2017/02/galerc3ada-estilo-gamarra-perc3ba-conter-jeans.jpg",
        campaignNav: [{ name: "Inicio", sku: "" }],
        campaign: null,
        dialogProduct: false,
        dialogStore: false,
        productSelected: null,
        storeSelected: null,
        products: [],
        stores: [],
        timeOutSearch: null,
        //
        baseIndex: 10,
        loading: false,
        btnLoading: false,
        activeLoader: false,
        importantRules: [(v) => !!v || "Este campo es requerido!"],
        obj: {},
        editTitle: false,
        addBlock: false,

    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
    }),
  },
  async created() {
    const res = await axios.get(
      `${this.baseURL}/api/campaigns/${this.$route.params.campaign_sku}/admin`,
      configHeaderToken(this.authToken)
    );
    if (res.status != 200) return this.$router.push("/promociones");
    this.campaign = res.data;
  },
  methods: {
    editTitleProduct(item) {
        this.editTitle = true;
        this.obj = { ...item }
    },
    async saveTitleProduct(){
        this.editTitle = false;
        this.activeLoader = true
        const res = await axios.put(
        `${this.baseURL}/api/campaigns/${this.campaign._id}/${this.obj._id}`,this.obj,
        configHeaderToken(this.authToken)
        );     
        if (res.status != 200)   
            return Swal.fire("", res.data.message ? res.data.message : "No se pudieron actualizar los cambios! Intentelo más tarde.", "error");
        this.campaign = res.data
        this.activeLoader = false
        return  Swal.fire('Bien!', `Se actualizó de mamera correcta`, 'success');
    },
    openDialog(item){
        this.dialogProduct = true
        this.obj = { ...item }
    },
    async deleteProduct(item) {
      const val = await Swal.fire({
        text: `¿Desea remover el producto "${item.product.title}"?`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero eliminar",
      });
      if (!val.value) return;
      const editedProducts = item.obj.products.filter( p => p._id !== item.product._id );
      const objBody = {
          _id: item.obj._id,
          title: item.obj.title,
          products: editedProducts,
      }
      const res = await this.sendProductList(
        objBody,
        {
          errorMessage:
            "No se pudo agregar eliminar el producto seleccionado, intentelo más tarde",
          successMessage: "Producto eliminado correctamente!",
        }
      );
      this.baseIndex += 10;
    },
    async sendProductList(body, { errorMessage, successMessage }) {
      this.activeLoader = true;
      
      const res = await axios.put(
        `${this.baseURL}/api/campaigns/${this.campaign._id}/${body._id}`,
        body,
        configHeaderToken(this.authToken)
      );
      this.activeLoader = false;
      if (res.status != 200 && res.status != 204 && res.status != 201) {
        Swal.fire(
          "",
          errorMessage
            ? errorMessage
            : "No se pudieron actualizar los cambios, intentelo más tarde.",
          "error"
        );
        return false;
      }
      Swal.fire(
        "",
        successMessage ? successMessage : "Se guardó correctamente!",
        "success"
      );
      this.campaign = res.data
      return true;
    },
    async findProducts(ev) {
      if (ev.target.value && ev.target.value.length >= 1) {
        this.loading = true;
        const keyword = ev.target.value;
        if (this.timeOutSearch) {
          clearTimeout(this.timeOutSearch);
        }
        this.timeOutSearch = setTimeout(async () => {
          const res = await axios.get(
            `${this.baseURL}/api/campaigns/${this.campaign._id}/products/search?search=${keyword}&page=1&limit=6`
          );
          if (res.status != 200) return;
          this.products = res.data.docs;
          this.loading = false;
        }, 700);
        return;
      }
      this.products = [];
      clearTimeout(this.timeOutSearch);
      this.loading = false;
    },
    closeDialogProduct() {
      this.dialogProduct = false;
      this.productSelected = null;
      this.obj = {}
    },
    async addProduct() {
        this.btnLoading = true
      this.obj.products.push(this.productSelected)
      const res = await this.sendProductList(
        this.obj,
        {
          errorMessage:
            "No se pudo agregar el producto seleccionado, intentelo más tarde",
          successMessage: "Producto agregado correctamente!",
        }
      );
    this.btnLoading = false
      if (!res) return;
      this.closeDialogProduct();
      this.baseIndex += 10;
    },
    addGroupProduct() {
        this.addBlock = true;
        this.obj = {
            title: "",
        }
    },
    closeNewBlock() {
        this.addBlock = false;
        this.obj = {}
    },
    async saveNewBlock(){
        this.addBlock = false;
        this.obj.products = []
        this.activeLoader = true;
      
      const res = await axios.post(
        `${this.baseURL}/api/campaigns/${this.campaign._id}`,
        this.obj,
        configHeaderToken(this.authToken)
      );
      this.activeLoader = false;
      if (res.status != 200 && res.status != 204 && res.status != 201) {
        Swal.fire(
          "",
          res.data.message
            ? res.data.message
            : "No se pudieron actualizar los cambios, intentelo más tarde.",
          "error"
        );
        return;
      }
      Swal.fire(
        "",
        "Se añadió correctamente!",
        "success"
      );
      this.campaign = res.data
    this.baseIndex += 10;
    return;
    },
    async deleteGroupProduct(item){
      const val = await Swal.fire({
        text: `¿Desea remover la agrupación "${item.title}"?`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero eliminar",
      });
      if (!val.value) return;
      this.activeLoader = true;
      const res = await axios.delete(
        `${this.baseURL}/api/campaigns/${this.campaign._id}/${item._id}`,
        configHeaderToken(this.authToken)
      );
      this.activeLoader = false;
      if (res.status != 200 && res.status != 204 && res.status != 201) {
        Swal.fire(
          "",
          res.data.message
            ? res.data.message
            : "No se pudieron actualizar los cambios, intentelo más tarde.",
          "error"
        );
        return;
      }
      Swal.fire(
        "",
        "Se eliminó correctamente!",
        "success"
      );
      this.campaign = res.data
    this.baseIndex += 10;
    }
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";
.mp-conglomerate-index {
  width: 100%;
  //min-height: 100vh;

  //max-height: $max-height-section;}
  .mp-campaign-button-add-block{
      width: 100%;
      display: flex;
      justify-content: center;
  }
  .mp-conglomerate-slides-container {
    padding: 1rem 0 3rem 0;

    .mp-title-container-conglomerate {
      .mp-title-slides-conglomerate {
        position: relative;
        color: $color-blue;
        padding-left: 15px;
        margin-bottom: 0;
        font-size: 20px;
        @media screen and (max-width: 800px) {
          font-size: 18px;
        }
        @media screen and (max-width: 500px) {
          font-size: 16px;
        }

        //margin-left: .5em;
        &::before {
          content: " ";
          height: 100%;
          width: 4px;
          background: #1a4a84;
          display: block;
          position: absolute;
          left: 0;
        }
      }
    }

    .mp-view-more-conglomerate {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 0 1em;

      .mp-view-more-link {
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        color: $color-blue;
        transition: all ease-in-out 0.2s;
        text-transform: uppercase;

        &:hover {
          color: $color-secondary;
        }
      }
    }
  }
}
</style>
