<template>
  <div class="emporiums-page">
    <CardLayout :title="titlePage">
      <template v-slot:head-actions>
        <div class="d-flex align-items-center">
          <v-btn
            small
            @click="openDialog"
            fab
            dark
            class="ml-2"
            color="primary"
          >
            <i class="fas fa-plus"></i>
          </v-btn>
        </div>
      </template>
      <template v-slot:body-template>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <v-data-iterator
              :footer-props="footerOptions"
              :items="campaigns"
              :page="page"
              :items-per-page="8"
            >
              <template v-slot:default="props">
                <div class="row">
                  <div
                    v-for="item in props.items"
                    :key="item._id"
                    class="col-lg-6 col-md-6 col-sm-6"
                  >
                    <CardCampaign
                      :campaign="item"
                      :list="true"
                      v-on:beforeEdited="openEdit"
                      v-on:beforeRemove="deleteCampaign"
                    />
                  </div>
                </div>
              </template>
            </v-data-iterator>
          </div>
        </div>
      </template>
    </CardLayout>
    <FormDialog
      v-if="dialog"
      :dialog="dialog"
      :title="titleDialog"
      width="550"
      v-on:closeDialog="closeDialog"
    >
      <template v-slot:form-dialog>
        <div class="container">
          <v-form
            ref="currentForm"
            :lazy-validation="true"
            v-model="form"
            style="overflow: hidden"
          >
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3 pb-0">
                <v-text-field
                  v-model="object.title"
                  :rules="importantRules"
                  placeholder="Título / Nombre (*)"
                ></v-text-field>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3">
                <v-text-field
                  v-model="object.subtitle"
                  placeholder="Subtítulo"
                ></v-text-field>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3 pb-0 pt-0">
                <v-switch
                  v-model="object.showOnlyImage"
                  :label="`¿Mostrar solo imagen?:  ${object.showOnlyImage ? 'Si' : 'No'}`"
                  hide-details
                ></v-switch>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 pr-3 pl-3">
                <v-menu
                  v-model="menu1"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="object.startDate"
                      label="Fecha de Inicio"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      :rules="importantRules"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="object.startDate"
                    @input="menu1 = false"
                  ></v-date-picker>
                </v-menu>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 pr-3 pl-3">
                <v-menu
                  v-model="menu2"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="object.endDate"
                      label="Fecha de Finalización"
                      prepend-icon="mdi-calendar"
                      readonly
                      :rules="importantRules"
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="object.endDate"
                    @input="menu2 = false"
                  ></v-date-picker>
                </v-menu>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pb-0 pr-3 pl-3">
                <v-switch
                  v-model="object.allowRegistration"
                  :label="`¿Permitir registro de productos?:  ${object.allowRegistration ? 'Si' : 'No'}`"
                  hide-details
                ></v-switch>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3">
                <v-file-input
                  v-model="image"
                  :placeholder="placeholderImage"
                  @change="changeImage"
                  accept=".jpg, .png, .jpeg, .JPG, .JPEG"
                  :rules="objectEdited ? fileEditedRules : fileRules"
                  :show-size="1000"
                  prepend-icon="" 
                  append-icon="add_photo_alternate" 
                ></v-file-input>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3">
                <CardCampaign
                  :campaign="object"
                  :list="false"
                  :img="srcImage"
                />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3">
                <v-file-input
                  v-model="icon"
                  :placeholder="placeholderIcon"
                  @change="changeIcon"
                  accept=".jpg, .png, .jpeg, .JPG, .JPEG"
                  :rules="objectEdited ? fileEditedRules : fileRules"
                  :show-size="1000"
                  prepend-icon="" 
                  append-icon="add_photo_alternate" 
                ></v-file-input>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3">
                <ProductCard
                  :product="product"
                  :icon="srcIcon"
                  style="max-width: 300px"
                  class="mx-auto"
                />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3">
                <v-card-actions class="pt-0 pb-0">
                  <v-spacer></v-spacer>
                  <v-btn
                    :loading="loading"
                    :disabled="loading"
                    @click="objectEdited ? saveUpdateObject() : saveObject()"
                    text
                    >{{ objectEdited ? "Actualizar" : "Guardar" }}</v-btn
                  >
                </v-card-actions>
              </div>
            </div>
          </v-form>
        </div>
      </template>
    </FormDialog>
  </div>
</template>

<script>
import CardLayout from "@/layouts/CardLayout";
import CardCampaign from "@/components/cards/CardCampaign";
import FormDialog from "@/components/dialogs/FormDialog";
import ProductCard from "@/components/cards/ProductCard";

import configHeaderToken from "@/libs/configHeaderToken";
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";
export default {
  components: {
    CardLayout,
    FormDialog,
    CardCampaign,
    ProductCard
  },
  data() {
    return {
        menu1: false,
        menu2: false,
        titlePage: "Campañas",
        campaigns: [],
        page: 1,
        footerOptions: {
            "items-per-page-options": [4, 8, 12],
        },
        form: true,
        dialog: false,
        loading: false,
        objectEdited: null,
        importantRules: [(v) => !!v || "Este campo es requerido!"],
        fileRules: [v => !!v && v.size < 1000000 || 'Elige una imagen no mayor a 1MB'],
        fileEditedRules: [v => (!v) || (v && v.size < 1000000) || 'Elige una imagen no mayor a 1MB'],
        object: {},
        image: null,
        srcImage: null,
        srcIcon: null,
        icon: null,
        product: {"_id":"600ba90fe1e28a45cc175440","images":[],"notInclucePrice":false,"visible":true,"title":"Retablo Ayacuchano","sku":"prueba","stock":null,"startingPrice":120,"discount":null,"finalPrice":null,"productReview":"a","category":{"_id":"5fa2fee726e24d3030a60a62","subcategories":["5fa2fefb26e24d3030a60a63","5fa2ff0a26e24d3030a60a64","5fa2ff1e26e24d3030a60a65","5fc802a64ebf0030b81cd1a7","5fc8173fb3fc4124a98fa504","5fc81886b3fc4124a98fa543","5fc81989b3fc4124a98fa575","5fc8199cb3fc4124a98fa58e"],"name":"Artesanía","sku":"artesanía","image":"5fd02fd3d91603255c83247e","createdAt":"2020-11-04T19:20:07.236Z","updatedAt":"2020-12-09T02:00:51.955Z","showInHeader":true,"icon":null,"principal":false},"store":{"_id":"5ffbed4fece3d21f38496571","images":[],"category":["5fa2fee726e24d3030a60a62","5fa300cd26e24d3030a60a69","5fa3019726e24d3030a60a6b"],"emporiums":["5ffbef4ad8f0965638e06398","60074cab1218ea49fde6bc24"],"paymentMethods":["5ffb6a5c0bf21131144e5af0","5ffbbfca20869030f852bfa4","5ffc7609460ecf0f44ea2cab","5ffc761e460ecf0f44ea2cad"],"rating":0,"active":true,"delete":false,"sku":"artesanias-del-peru-4","ruc":"12345678912","rucFile":"5ffbed34ece3d21f3849656e","rna":"10096060","businessName":"Artesanias Del Peru","phone":979347245,"address":"Calle Concordia MZ 24 B LT6, Nuevo Lurín","district":{"_id":"5fb18a2bf3b00f00f0b788b0","name":"Huaccana","ubigeo":"030604","province":"5fb18a2af3b00f00f0b788ac"},"province":{"_id":"5fb18a2af3b00f00f0b788ac","name":"Chincheros","ubigeo":"0306","department":"5fb18a15f3b00f00f0b7886b","createdAt":"2020-11-15T20:06:02.267Z","updatedAt":"2020-11-15T20:06:02.267Z"},"department":{"_id":"5fb18a15f3b00f00f0b7886b","name":"Apurímac","ubigeo":"03","createdAt":"2020-11-15T20:05:41.852Z","updatedAt":"2020-11-15T20:05:41.852Z"},"productsResume":"aadsasdasd","person":"5ffbed4fece3d21f38496570","createdAt":"2021-01-11T06:16:47.540Z","updatedAt":"2021-01-19T21:25:17.492Z","contact":{"_id":"5ffbedb0ece3d21f38496577","whatsappNumber":"+51 945 637 748","whatsappUrl":"https://api.whatsapp.com/send?phone=51 945 637 748&text=¡Hola!%20Estoy interesado en adquirir","createdAt":"2021-01-11T06:18:24.945Z","updatedAt":"2021-01-19T21:25:17.465Z","messengerUrl":null,"messengerUser":null},"logo":"5ffbed9fece3d21f38496574","socialMedia":{"_id":"5ffbedb0ece3d21f38496576","web":"https://mail.google.com/mail/u/0/#inbox","facebook":"https://mail.google.com/mail/u/0/#inbox","instagram":"https://mail.google.com/mail/u/0/#inbox","createdAt":"2021-01-11T06:18:24.833Z","updatedAt":"2021-01-19T21:25:17.436Z","linkedin":null,"twitter":null,"youtube":null},"storeReview":"Emprendedor de Prueba"},"createdAt":"2021-01-23T04:41:51.166Z","updatedAt":"2021-01-23T04:41:51.166Z","campaigns":[]}
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
    }),
    titleDialog() {
      return this.objectEdited ? "Editar Campaña" : "Nueva Campaña";
    },
    placeholderImage() {
      return this.objectEdited
        ? "Click si deseas cambiar la imágen actual"
        : "Click para agregar una imágen (*)";
    },
    placeholderIcon() {
      return this.objectEdited
        ? "Click si deseas cambiar el ícono actual"
        : "Click para agregar un ícono (*)";
    },
  },
  async created() {
    const res = await axios.get(`${this.baseURL}/api/campaigns/all`,  configHeaderToken(this.authToken));
    if (res.status != 200) return;
    this.campaigns = res.data;
  },
  methods: {
    openDialog() {
      this.dialog = true;
      this.restartImg();
      this.restartIcon();
    },
    closeDialog() {
      this.dialog = false;
      this.clearFields();
    },
    openEdit(item) {
      this.objectEdited = { ...item };
      this.objectEdited.startDate = this.objectEdited.startDate.substring(0,10)
      this.objectEdited.endDate = this.objectEdited.endDate.substring(0,10)
      this.object = { ...item };
      this.object.startDate = this.object.startDate.substring(0,10)
      this.object.endDate = this.object.endDate.substring(0,10)
      this.openDialog();
    },
    clearFields() {
      this.objectEdited = null;
      this.object = Object.assign(
        {},
        {
          title: "",
        }
      );
      this.image = null;
      this.srcImage = null;
      this.icon = null;
      this.srcIcon = null;
    },
    changeImage() {
      if (!this.image) {
        this.restartImg();
        return;
      }
      const reader = new FileReader();
      reader.onloadend = (ev) => {
        this.srcImage = ev.target.result;
      };
      reader.readAsDataURL(this.image);
    },
    changeIcon() {
      if (!this.icon) {
        this.restartIcon();
        return;
      }
      const reader = new FileReader();
      reader.onloadend = (ev) => {
        this.srcIcon = ev.target.result;
      };
      reader.readAsDataURL(this.icon);
    },
    restartIcon() {
      this.srcIcon = this.objectEdited
        ? `${this.baseURL}/file/${this.objectEdited.icon.filename}`
        : null;
    },
    restartImg() {
      this.srcImage = this.objectEdited
        ? `${this.baseURL}/file/${this.objectEdited.image.filename}`
        : null;
    },
    validateForm() {
      return this.$refs.currentForm.validate();
    },
    resetValidation() {
      this.$refs.currentForm.resetValidation();
    },
    async saveObject() {
      if (!this.validateForm()) return;
      this.loading = true;
      const FORM_DATA = new FormData();
      FORM_DATA.append("document", JSON.stringify(this.object));
      if (this.image) {
        FORM_DATA.append("image", this.image);
      }
    if (this.icon) {
        FORM_DATA.append("logo", this.icon);
      }
      const res = await axios.post(
        `${this.baseURL}/api/campaigns`,
        FORM_DATA,
        configHeaderToken(this.authToken)
      );
      this.loading = false;
      if (res.status != 200 && res.status != 201 && res.status != 204)
        return Swal.fire(
          "Oops!",
          res.data && res.data.message
            ? res.data.message
            : `Error agregando la campaña!`,
          "error"
        );
      this.campaigns.push(res.data);
      this.closeDialog();
      this.clearFields();
      Swal.fire("Bien!", "Campanaña agregada correctamente!", "success");
    },
    async saveUpdateObject() {
      if (!this.validateForm()) return;
      this.loading = true;
      const FORM_DATA = new FormData();
      FORM_DATA.append("document", JSON.stringify(this.object));
      if (this.image) {
        FORM_DATA.append("image", this.image);
      }
      if (this.icon) {
        FORM_DATA.append("logo", this.icon);
      }
      const res = await axios.put(
        `${this.baseURL}/api/campaigns/${this.object._id}`,
        FORM_DATA,
        configHeaderToken(this.authToken)
      );
      this.loading = false;
      if (res.status != 200 && res.status != 201 && res.status != 204)
        return Swal.fire(
          "Oops!",
          res.data && res.data.message
            ? res.data.message
            : `Error editando la campaña!`,
          "error"
        );
      const idx = this.campaigns.findIndex(e => e._id === this.object._id);
      if(idx > -1) {
        this.campaigns.splice(idx, 1, res.data);
      }
      this.closeDialog();
      this.clearFields();
      Swal.fire("Bien!", "Campaña editada correctamente!", "success");
    },
    async deleteCampaign(item) {
      const val = await Swal.fire({
        text: `¿Desea remover la campaña "${item.title}" del sistema?`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero eliminar",
      });
      if (!val.value) return;
      // codigo pa eliminar aqui
      const res = await axios.delete(`${this.baseURL}/api/campaigns/${item._id}`, configHeaderToken(this.authToken));
      if(res.status != 200 && res.status != 201 && res.status != 204) return   Swal.fire(
          "Oops!",
          res.data && res.data.message
            ? res.data.message
            : `Error editando la campaña!`,
          "error"
        );
      const idx = this.campaigns.findIndex(e => e._id === item._id);
      if(idx > -1) {
        this.campaigns.splice(idx, 1);
      }
      Swal.fire("Bien!", "La campaña ha sido eliminada!", "success");
    },
  },
};
</script>

<style lang="scss" scoped></style>
