<template>
  <div>
    <CardLayout :title="`Dashboard ${ campaign? campaign.title : '' }`">
      <template v-slot:body-template>
        <FormDateRange v-on:dateChange="getStats" />
      </template>
    </CardLayout> 
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <CardChart class="mb-2">
            <template v-slot:content>
              <LineChart 
                :key="baseIndex + 1"
                :allSeries="[{data: visitCampaign.series ? visitCampaign.series : [], name: 'Visitas'}]"
                :labels="visitCampaign.labels" 
                :titleVariable="`Visitas totales a ${campaign? campaign.title : ''}: ${visitCampaign.total}`"
                variable="Número de visitas" 
              />
            </template>
        </CardChart>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <CardChart class="mb-2">
            <template v-slot:content>
                <div class="mp-card-total-entrepreneurs">
                    <p class="mp-total">{{entrepreneursCampaign}}</p>
                    <p class="mp-title">Emprendedores registrados en {{ campaign? campaign.title : '' }} </p>
                </div>
            </template>
        </CardChart>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <CardChart class="mb-2">
            <template v-slot:content>
                <div class="mp-card-total-entrepreneurs">
                    <p class="mp-total">{{productsCampaign}}</p>
                    <p class="mp-title">Productos registrados en {{ campaign? campaign.title : '' }}</p>
                </div>
            </template>
        </CardChart>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
         <CardChart class="mb-2">
            <template v-slot:content>
                <div class="mp-card-total-entrepreneurs">
                    <p class="mp-total">{{productContacsCampaign}}</p>
                    <p class="mp-title">Productos contactados en {{ campaign? campaign.title : '' }}</p>
                </div>
            </template>
        </CardChart>
      </div>
    </div>
    <LoaderPage :active="activeLoader" :zIndex="10" />
  </div>
</template>

<script>
import CardLayout from "@/layouts/CardLayout";
import CardChart from "@/components/cards/CardChart";
import LineChart from "@/components/charts/LineChart"
import LoaderPage from "@/components/global/LoaderPage";
import FormDateRange from "@/components/forms/FormDateRange";
import configHeaderToken from "@/libs/configHeaderToken";
import { mapState } from "vuex";

import axios from "axios";

export default {
  components: {
    CardLayout,
    LoaderPage,
    CardChart,
    FormDateRange,
    LineChart,
  },
  data() {
    return {
      activeLoader: false,
      baseIndex: 32659,
      campaign: null,
      visitCampaign: 0,
      productsCampaign: 0,
      productContacsCampaign: 0,
      entrepreneursCampaign: 0,

    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
      status: (state) => state.status.status,
    }),
  },
  methods: {
    async getStats(ev) {
      try {
        if (ev.startDate && ev.endDate) {
            this.activeLoader = true;
            const res = await axios.get(
            `${this.baseURL}/api/campaigns/${this.$route.params.campaign_sku}/admin`,
            configHeaderToken(this.authToken)
            );
            if (res.status != 200) return this.$router.push("/promociones");
            this.campaign = res.data;

            const resVisitCampaign = await axios.get(
            `${this.baseURL}/api/indicators/campaigns/${this.campaign._id}/count?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
            configHeaderToken(this.authToken))
            this.visitCampaign = resVisitCampaign.data

            const resProductsCampaign = await axios.get(
            `${this.baseURL}/api/indicators/campaigns/${this.campaign._id}/products/count?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
            configHeaderToken(this.authToken))
            this.productsCampaign = resProductsCampaign.data

            const resEntrepreneursCampaign = await axios.get(
            `${this.baseURL}/api/indicators/campaigns/${this.campaign._id}/entrepreneurs/count?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
            configHeaderToken(this.authToken))
            this.entrepreneursCampaign = resEntrepreneursCampaign.data

            const resProductContacsCampaign = await axios.get(
            `${this.baseURL}/api/indicators/campaigns/${this.campaign._id}/products/contacts/count?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`, 
            configHeaderToken(this.authToken))
            this.productContacsCampaign = resProductContacsCampaign.data

            this.baseIndex += 10;

            this.activeLoader = false
        }
      } catch (error) {
        this.activeLoader = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";

.mp-card-total-entrepreneurs {
    margin-left: 30px;
    font-family: "Segoe UI", "sans serif";
    color: #373D3F;
    .mp-total{
        font-size: 35px !important;
        margin-bottom: 0px;
        font-weight: 700;
    }
    .mp-title {
        font-size: 15px !important;
        margin-bottom: 0px;
    }
    .mp-subtitle {
        font-size: 12px !important;
    }
}


</style>
