<template>
  <div class="mp-store-page">
    <CardLayout v-if="person" :title="titlePage" :haveGoBack="true">
      <template v-slot:body-template>
        <main class="mp-wrapper-store">
          <div class="swiper-container mp-swiper-store">
            <div class="swiper-wrapper">
              <div v-for="img in person.images" :key="img._id" class="swiper-slide">
                <img class="img-fluid" :src="`${baseURL}/file/${img.filename}`" alt="" />
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <div class="container mp-container-store-page">
            <div :class="`mp-logo-store ${person.logo ? '' : 'no-logo'}`">
              <img
                v-if="person.logo"
                draggable="false"
                :src="`${baseURL}/file/${person.logo.filename}`"
                alt=""
              />
              <img v-else draggable="false" :src="defaultLogo" alt="logo-mercado-lima" />
            </div>
            <div
              v-if="
                person.contact &&
                (person.contact.whatsappNumber || person.contact.messengerUser)
              "
              class="mp-top-social-store"
            >
              <div class="mp-links">
                <div>
                  <button v-if="person.contact.messengerUser" type="button">
                    <i class="fab fa-facebook-messenger"></i>
                  </button>
                  <button v-if="person.contact.whatsappNumber" type="button">
                    <i class="fab fa-whatsapp"></i>
                  </button>
                </div>
              </div>
            </div>
            <BusinessCommentsCard
              :person="person"
              :isEntView="true"
              :socials="person && person.socialMedia ? person.socialMedia : null"
            >
              <!-- Estadísticas Emprendimiento -->
              <template v-slot:bussiness-stats>
                <div class="mt-4 mb-4 pt-4">
                  <h6 class="card-title mt-3">
                    Estadísticas de
                    {{ person && person.businessName ? person.businessName : `` }}
                  </h6>
                  <hr />
                  <CardStat :paramId="person._id" type="entrepreneur" :title="person.businessName ? person.businessName : ''"/>
                </div>
              </template>
              <!-- Productos Emprendimiento -->
              <template v-slot:bussiness-products>
                <div class="mt-4 mb-4 pt-4">
                  <h6 class="card-title mt-3">
                    Productos de
                    {{ person && person.businessName ? person.businessName : `` }}
                  </h6>
                  <hr />
                  <v-data-iterator
                    v-if="products"
                    :footer-props="footerOptions"
                    @update:options="updateOptions"
                    :server-items-length="products.totalDocs"
                    :page="products.page"
                    :hide-default-footer="products && products.docs.length == 0"
                    :items="products.docs"
                    :items-per-page="products.limit"
                  >
                    <template v-slot:default="props">
                      <div class="row">
                        <div
                          v-for="item in props.items"
                          :key="item._id"
                          class="col-lg-3 col-md-4 col-sm-6"
                        >
                          <ProductCard :product="item" :person="person" :isUser="false" />
                        </div>
                      </div>
                    </template>
                  </v-data-iterator>
                </div>
              </template>

              <template v-slot:bussiness-actions>
                <v-card-actions>
                  <div class="col-lg-12 col-sm-12 text-center">
                    <div class="d-flex justify-content-center">
                      <button
                        v-if="person.active"
                        class="mp-btn-business-actions"
                        @click="blockBusiness(person)"
                      >
                        <i class="material-icons"> block </i>
                        <span>Bloquear Tienda</span>
                      </button>
                      <button
                        v-else
                        class="mp-btn-business-actions"
                        @click="unlockBusiness(person)"
                      >
                        <i class="material-icons"> lock_open </i>
                        <span>Desbloquear Tienda</span>
                      </button>
                      <button
                        class="mp-btn-business-actions"
                        @click="deleteBusiness(person)"
                      >
                        <i class="material-icons"> delete_outline </i>
                        <span>Eliminar Tienda</span>
                      </button>
                    </div>
                  </div>
                </v-card-actions>
              </template>
            </BusinessCommentsCard>
          </div>
        </main>
      </template>
    </CardLayout>
    <LoaderPage :active="activeLoader" :zIndex="10" />
  </div>
</template>

<script>
import CardLayout from "@/layouts/CardLayout";
import BusinessCommentsCard from "@/components/cards/Business";
import ProductCard from "@/components/cards/ProductCard";
import LoaderPage from "@/components/global/LoaderPage";
import CardStat from "@/components/cards/CardStat";
import configHeaderToken from "@/libs/configHeaderToken";
import logoML from "@/assets/img/logo-mercado-lima-color.png";
import axios from "axios";
import { mapState } from "vuex";
import Swal from "sweetalert2";

export default {
  components: {
    CardLayout,
    BusinessCommentsCard,
    ProductCard,
    LoaderPage,
    CardStat
  },
  data() {
    return {
      titlePage: "",
      person: null,
      products: null,
      footerOptions: {
        "items-per-page-options": [4, 8, 12, 30],
      },
      intervalSlide: null,
      activeLoader: false,
      defaultLogo: logoML,
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
    }),
  },
  async created() {
    const res = await axios.get(
      `${this.baseURL}/api/persons/entrepreneurs/${this.$route.params.business_sku}/admin`,
      configHeaderToken(this.authToken)
    );
    if (res.status != 200) {
      this.$router.push(
        `/P404?message=${
          res.data.message ? res.data.message : "Emprendimiento no encontrado!"
        }`
      );
      return;
    }
    this.person = res.data;
    this.titlePage = this.person.businessName ? this.person.businessName : ``;
    await this.updateOptions({ page: this.$route.query.page || 1, itemsPerPage: 4 });
  },
  beforeDestroy() {
    try {
      clearInterval(this.intervalSlide);
    } catch (err) {}
  },
  mounted() {
    try {
      this.intervalSlide = setInterval(() => {
        if (document.querySelector(".swiper-container.mp-swiper-store")) {
          new Swiper(".swiper-container.mp-swiper-store", {
            loop: false,
            spaceBetween: 15,
            slidesPerView: 1,
            autoplay: {
              delay: 4000,
            },
            navigation: {
              nextEl: ".mp-swiper-store .swiper-button-next",
              prevEl: ".mp-swiper-store .swiper-button-prev",
            },
          });
          clearInterval(this.intervalSlide);
        }
      }, 1500);
    } catch (err) {}
  },
  methods: {
    async updateOptions(opt) {
      this.activeLoader = true;
      const data = await this.getProductsPerPage(opt.page, opt.itemsPerPage);
      this.activeLoader = false;
      if (!data) return;
      this.products = data;
      if(data.page > 1) {
        this.$router.push(`/emprendimientos/${this.$route.params.business_sku}?page=${data.page}`).catch(err => {})  
      }
    },
    async getProductsPerPage(page, limit) {
      const res = await axios.get(
        `${this.baseURL}/api/products/entrepreneurs/${
          this.$route.params.business_sku
        }/admin?page=${page}&limit=${limit ? limit : this.products.limit}`,
        configHeaderToken(this.authToken)
      );
      if (res.status != 200) return null; 
      return res.data;
    },
    async deleteBusiness(person) {
      const val = await Swal.fire({
        //title: `¿Está usted seguro de esto?`,
        text: `La siguiente acción eliminará el emprendimiento "${person.businessName}" del MarketPlace`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero eliminar!",
      });
      if (!val.value) return;
      //
      const res = await axios.delete(
        `${this.baseURL}/api/persons/entrepreneurs/${person._id}`,
        configHeaderToken(this.authToken)
      );
      if (res.status != 200)
        return Swal.fire(
          "",
          `Ocurrió un error y no se pudo eliminar el emprendimiento`,
          "error"
        );
      this.$router.push("/emprendimientos");
      Swal.fire(
        "",
        `El emprendimiento ${
          person && person.businessName ? person.businessName : ``
        } ha sido removido del sistema`,
        "success"
      );
    },
    async blockBusiness(person) {
      const val = await Swal.fire({
        //title: `¿Está usted seguro de esto?`,
        text: `La siguiente acción bloqueará temporalmente el emprendimiento "${person.businessName}"`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero bloquear!",
      });
      if (!val.value) return;
      //
      const res = await axios.patch(
        `${this.baseURL}/api/persons/entrepreneurs/${person._id}`,
        {
          active: false,
        },
        configHeaderToken(this.authToken)
      );
      if (res.status != 200)
        return Swal.fire(
          "",
          `Ocurrió un error intentado bloquear este emprendimiento`,
          "error"
        );
      this.person = res.data;
      //this.person.active = res.data.active;
      Swal.fire("", "El emprendimiento ha sido bloqueado!", "success");
      return;
    },
    async unlockBusiness(person) {
      const val = await Swal.fire({
        //title: `¿Está usted seguro de esto?`,
        text: `La siguiente acción desbloquará el emprendimiento "${person.businessName}"`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero desbloquear!",
      });
      if (!val.value) return;
      //
      const res = await axios.patch(
        `${this.baseURL}/api/persons/entrepreneurs/${person._id}`,
        {
          active: true,
        },
        configHeaderToken(this.authToken)
      );
      if (res.status != 200)
        return Swal.fire(
          "",
          `Ocurrió un error intentado desbloquear este emprendimiento`,
          "error"
        );
      this.person = res.data;
      Swal.fire("", "El emprendimiento se ha desbloqueado!", "success");
      return;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";

.mp-btn-business-actions {
  border: 1px solid $color-blue;
  color: $color-blue;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 0.4em;
  transition: all ease-in-out 0.2s;
  &:hover {
    background: $color-blue;
    color: #fff;
  }
}

$heigh-slide-lg: 400px;

.mp-store-page {
  background: rgb(254, 254, 254);

  h6.card-title {
    color: #333333;
  }

  .mp-wrapper-store {
    .mp-swiper-store {
      background: #eee;
      height: $heigh-slide-lg;
      max-height: $heigh-slide-lg;
      overflow: hidden;
      width: 100%;

      &:hover {
        .swiper-button-next,
        .swiper-button-prev {
          visibility: visible;
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        visibility: hidden;
        width: 40px !important;
        height: 40px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border-radius: 50%;
        background: $color-primary-transparent;
        outline: none;
        transition: all ease-in-out 0.2s;

        &::after {
          font-size: 15px !important;
          color: #fff;
        }
      }

      .swiper-slide {
        width: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          max-height: 100%;
          max-width: 100%;
          margin-bottom: 65px;
        }
      }
    }

    .mp-overlay-header-store {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.26),
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 1)
      );
    }

    .mp-container-store-page {
      margin-top: -70px;
      margin-bottom: 70px;
      background: #fff;
      position: relative;
      min-height: 50vh;
      z-index: 3;
      border-radius: 5px 5px 0 0;
      box-shadow: -1px 4px 74px -16px rgba(0, 0, 0, 0.3);

      .mp-logo-store {
        position: absolute;
        bottom: 100%;

        margin-bottom: 1em;

        //height: 80px;
        img {
          max-height: 80px;
          border-radius: 4px;
        }
      }
      .mp-logo-store.no-logo {
        background: #fff;
        padding: 1em 0;
      }
      .mp-top-social-store {
        position: absolute;
        bottom: 100%;
        right: 0;
        padding: 1em 0.8em 1em 0;
        width: 150px;
        height: 80px;
        display: flex;
        .mp-links {
          background: #fff;
          width: 100%;
          border-radius: 25px;
          height: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;

          button {
            margin: 0 5px;
            outline: none;
            i {
              font-size: 24px;
              color: $color-blue;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1264px) {
  .mp-store-page {
    .mp-wrapper-store {
      .mp-swiper-store {
        .swiper-slide {
          img {
            max-width: 100%;
            width: 100%;
            margin-bottom: 0;
            //height: 100%;
            //max-height: auto;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (min-width: 1904px) {
  .mp-store-page {
    .mp-wrapper-store {
      .mp-swiper-store {
        height: 500px;

        .swiper-slide {
          img {
            max-width: 1785px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .mp-store-page {
    .mp-wrapper-store {
      .mp-swiper-store {
        height: 360px;

        .swiper-slide {
          img {
            width: 100%;
            height: 100%;
            max-height: auto;
            object-fit: cover;
            margin-bottom: 0px;
          }
        }
      }

      .mp-container-store-page {
        .mp-logo-store {
          position: absolute;
          bottom: 100%;
          padding: 1em 0;

          //height: 80px;
          img {
            max-height: 65px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .mp-store-page {
    .mp-wrapper-store {
      .mp-swiper-store {
        height: 320px;

        .swiper-slide {
          img {
            width: 100%;
            height: 100%;
            max-height: auto;
            object-fit: cover;
            margin-bottom: 10px;
          }
        }

        .swiper-button-next,
        .swiper-button-prev {
          bottom: calc(50% + 70px) !important;
        }
      }

      .mp-container-store-page {
        margin-top: -10px;
        margin-bottom: 15px;

        .mp-logo-store {
          position: absolute;
          bottom: 100%;
          padding: 1em 0;

          //height: 80px;
          img {
            max-height: 60px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .mp-store-page {
    .mp-wrapper-store {
      .mp-swiper-store {
        height: 280px;
      }

      .mp-container-store-page {
        .mp-logo-store {
          padding: 0.5em;

          img {
            max-height: 55px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .mp-store-page {
    .mp-wrapper-store {
      .mp-swiper-store {
        height: 250px;
      }

      .mp-container-store-page {
        .mp-logo-store {
          padding: 0.5em;

          img {
            max-height: 50px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}
</style>
