<template>
  <div class="mp-product-store">
    <div v-if="product">
      <div class="container mp-product-container">
        <div class="mp-top-links">
          <v-btn color="tertiary" small icon @click="goBack" class="mr-2">
            <v-icon>keyboard_arrow_left</v-icon>
          </v-btn>
          <router-link to="/"><i class="fas fa-home"></i> Home</router-link>
          <router-link :to="`/emprendimientos/${product.store.sku}`"
            ><i class="fas fa-angle-right"></i>
            {{
              product.store && product.store.businessName
                ? product.store.businessName
                : ``
            }}</router-link
          >
          <router-link :to="`/emprendimientos/${product.store.sku}/${product.sku}`"
            ><i class="fas fa-angle-right"></i>
            {{ product.title ? product.title : "" }}</router-link
          >
        </div>
        <div class="mp-product-wrapper">
          <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-12">
              <div class="mp-product-images-container">
                <ImagesSlide :productName="product.title" :images="product.images" />
              </div>
            </div>
            <div id="mp-product-description-section" class="col-lg-6 col-md-7 col-sm-12">
              <div class="mp-product-description-container">
                <div class="mp-header-product-description">
                  <router-link
                    :to="`/emprendimientos/${product.store.sku}`"
                    class="mp-contact-title"
                    >{{
                      product.store && product.store.businessName
                        ? product.store.businessName
                        : ``
                    }}</router-link
                  >
                  <div class="mp-items-title">
                    <h1 class="mp-product-title">
                      {{ product.title }}
                    </h1>
                    <!--<v-menu bottom offset-y>
                                        <template v-slot:activator="{ on, attrs }">
                                            <button v-bind="attrs" v-on="on" class="mp-share-product">
                                                <i class="fas fa-share-alt"></i>
                                            </button>
                                        </template>
                                        <v-card elevation="0">
                                            <div class="menu-social-networks">

                                                <li v-for="(item, idx) in socialShare" :key="idx+10020">
                                                    <a target="_blank" :href="`${item.url}${domain}/${product.person.store.sku}/${product.sku}`">
                                                        <i :class="item.icon"></i>
                                                    </a>
                                                </li>
                                            </div>
                                        </v-card>
                                    </v-menu>-->
                  </div>
                </div>
                <hr />
                <div class="mp-more-descriptions-product">
                  <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-7 pt-0 pb-0">
                      <div class="mp-location-product">
                        <div
                          v-if="product.store.department && product.store.department.name"
                          class="mp-department-product"
                        >
                          <i class="fas fa-map-marker-alt"></i>
                          <p class="mb-0">
                            {{ product.store.department.name }}
                          </p>
                        </div>
                        <div
                          v-if="product.store.province && product.store.province.name"
                          class="mp-province-product"
                        >
                          <i class="fas fa-map-marker-alt"></i>
                          <p class="mb-0">
                            {{ product.store.province.name }}
                          </p>
                        </div>
                        <div
                          v-if="product.store.district && product.store.district.name"
                          class="mp-district-product"
                        >
                          <i class="fas fa-map-marker-alt"></i>
                          <p class="mb-0">
                            {{ product.store.district.name }}
                          </p>
                        </div>
                      </div>
                      <div class="mp-product-description">
                        <p>Descripción:</p>
                        <span class="pre-wrapp">{{product.productReview ? product.productReview : ""}}</span>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 pt-0 pb-0">
                      <div class="mp-product-price-stock">
                        <p
                          class="mp-product-start-price mb-2"
                          v-if="product.discount && product.discount > 0"
                        >
                          <span
                            ><del>{{
                              getPriceFormatter(product.startingPrice)
                            }}</del></span
                          >
                        </p>
                        <div class="mp-product-price">
                          <span
                            v-if="product.startingPrice && product.startingPrice > 0"
                            class="mp-final-price"
                          >
                            {{
                              product.discount && product.discount > 0
                                ? getPriceFormatter(product.finalPrice)
                                : getPriceFormatter(product.startingPrice)
                            }}
                            <small
                              v-if="product.discount && product.discount > 0"
                              class="mp-percent-discount"
                              >{{ product.discount }}%OFF</small
                            >
                          </span>
                          <div v-else class="mp-a-tratar">Precio a tratar</div>
                        </div>
                        <p class="mp-product-metric">
                          <small>
                            {{ product.metric ? product.metricNumber : "" }}
                            {{ product.metric ? product.metric.name : "" }}
                          </small>
                        </p>
                        <p class="mp-product-stock">
                          Unidades disponibles:
                          <span>{{
                            product.stock ? product.stock : "Producto agotado"
                          }}</span>
                        </p>
                      </div>
                      <div class="mp-product-contact">
                        <p class="mb-0">
                          <span>Contactar:</span>
                        </p>
                        <div class="mp-product-contact-links">
                          <a
                            v-if="
                              product.store.contact && product.store.contact.messengerUser
                            "
                            class="messenger-color"
                            target="_blank"
                            :href="`${product.store.contact.messengerUrl}`"
                          >
                            <i class="fab fa-facebook-messenger"></i>
                          </a>
                          <a
                            v-if="
                              product.store.contact &&
                              product.store.contact.whatsappNumber
                            "
                            class="whatsapp-color"
                            target="_blank"
                            :href="`${product.store.contact.whatsappUrl} ${product.title}`"
                          >
                            <i class="fab fa-whatsapp"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <v-card-actions>
          <div class="col-lg-12 col-sm-12 text-center">
            <div class="d-flex justify-content-center">
              <button
                v-if="product.visible"
                class="mp-btn-business-actions"
                @click="blockProduct(product)"
              >
                <i class="material-icons"> block </i>
                <span>Bloquear Producto</span>
              </button>
              <button
                v-else
                class="mp-btn-business-actions"
                @click="unlockProduct(product)"
              >
                <i class="material-icons"> lock_open </i>
                <span>Desbloquear Producto</span>
              </button>
              <button class="mp-btn-business-actions" @click="deleteProduct(product)">
                <i class="material-icons"> delete_outline </i>
                <span>Eliminar Producto</span>
              </button>
            </div>
          </div>
        </v-card-actions>
      </div>
      <div class="container mp-product-container mt-4">
        <div class="mp-product-review">
          <h6 class="card-title mt-3">
            Estadísticas del producto "{{ product.title ? product.title : "" }}"
          </h6>
          <hr />
          <CardStat
            :paramId="product._id"
            type="product"
            :title="product.title ? product.title : ''"
          />
        </div>
      </div>
      <div class="container mp-product-container mt-4">
        <div class="mp-product-review">
          <ProductCommentsCard :productId="product._id" />
        </div>
      </div>
      <div class="container mp-product-container mt-4">
        <div class="mp-product-review">
          <BusinessCommentsCard
            :person="product.store"
            :isEntView="false"
            :socials="product && product.store ? product.store.socialMedia : null"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ImagesSlide from "@/components/slides/ImagesSlide";
import BusinessCommentsCard from "@/components/cards/Business";
import ProductCommentsCard from "@/components/cards/ProductCommentsCard";
import CardStat from "@/components/cards/CardStat";
import configHeaderToken from "@/libs/configHeaderToken";
import axios from "axios";

import { mapState } from "vuex";
import Swal from "sweetalert2";
export default {
  layout: "MarketPlace",
  components: {
    ImagesSlide,
    BusinessCommentsCard,
    ProductCommentsCard,
    CardStat,
  },
  data() {
    return {
      product: null,
      businessCommentaries: [],
      businessPage: 1,
      totalBusinessComments: 0,
    };
  },
  computed: {
    ...mapState({
      //socialShare: state => state.socialShare,
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
      domain: (state) => state.domain,
    }),
  },
  async created() {
    const res = await axios.get(
      `${this.baseURL}/api/products/${this.$route.params.product_sku}/admin`,
      configHeaderToken(this.authToken)
    );
    if (res.status != 200) {
      this.$router.push(`/emprendimientos/${this.$route.params.business_sku}`);
      return;
    }
    this.product = res.data;
    console.log(this.product);
  },
  methods: {
    goBack() {
      history.back();
    },
    getPriceFormatter(price) {
      const Formatter = new Intl.NumberFormat("es-PE", {
        style: "currency",
        currency: "PEN",
      });
      return price ? Formatter.format(price) : "";
    },
    async blockProduct(product) {
      const val = await Swal.fire({
        //title: `¿Está usted seguro de esto?`,
        text: `La siguiente acción bloquea la visibilidad de este producto`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero bloquear!",
      });
      if (!val.value) return;
      const res = await axios.patch(
        `${this.baseURL}/api/products/${product._id}`,
        {},
        configHeaderToken(this.authToken)
      );
      if (res.status != 200)
        return Swal.fire("", `${res.data.message || "Ocurrió un error"}`, "error");
      this.product.visible = res.data.visible;
      Swal.fire("", "El producto ha sido bloqueado", "success");
    },
    async unlockProduct(product) {
      const val = await Swal.fire({
        //title: `¿Está usted seguro de esto?`,
        text: `La siguiente acción hará visible este producto`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero desbloquear!",
      });
      if (!val.value) return;
      const res = await axios.patch(
        `${this.baseURL}/api/products/${product._id}`,
        {},
        configHeaderToken(this.authToken)
      );
      if (res.status != 200)
        return Swal.fire("", `${res.data.message || "Ocurrió un error"}`, "error");
      this.product.visible = res.data.visible;
      Swal.fire("", "El producto volvió a ser visible", "success");
    },
    async deleteProduct(product) {
      const val = await Swal.fire({
        //title: `¿Está usted seguro de esto?`,
        text: `La siguiente acción elimina este producto de forma definitiva`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero eliminar!",
      });
      if (!val.value) return;
      const res = await axios.delete(
        `${this.baseURL}/api/products/${product._id}`,
        configHeaderToken(this.authToken)
      );
      if (res.status != 200)
        return Swal.fire("", `${res.data.message || "Ocurrió un error"}`, "error");
      this.$router.push(`/emprendimientos/${this.$route.params.business_sku}`);
      Swal.fire("", "El producto se eliminó correctamente", "success");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";

.mp-product-store {
  background: rgb(238, 238, 238);
  height: 100%;
  padding: 1.8em 0;
  overflow: hidden;

  .mp-product-container {
    background: #fff;
    padding: 1.5em 1em;

    .mp-top-links {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      a {
        font-family: "Segoe UI", "sans serif" !important;
        color: rgb(41, 41, 41);
        font-size: 0.835rem;
        text-decoration: none;
        margin: 0 0.2em;
      }
    }

    .mp-product-wrapper {
      .mp-product-description-container {
        padding: 0 0.5em;

        .mp-header-product-description {
          .mp-contact-title {
            font-size: 0.8em;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-blue;
            text-decoration: none;
            margin-bottom: 8px;
          }

          .mp-items-title {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .mp-product-title {
              font-size: 20px;
              padding-right: 15px;
            }

            .mp-share-product {
              outline: none;
              padding: 0 0.5em 0.5em;
            }
          }
        }

        .mp-more-descriptions-product {
          .mp-location-product {
            display: flex;
            align-items: center;
            flex-flow: row wrap;

            .mp-department-product,
            .mp-province-product,
            .mp-district-product {
              padding: 0.3em 1em;
              color: #fff;
              font-size: 0.76rem;
              margin: 0 0.5em 0.5em 0;
              display: flex;

              justify-content: center;
              align-items: center;

              p {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
              }

              i {
                font-size: 0.79rem !important;
                margin-right: 5px;
              }
            }

            .mp-department-product {
              background: $color-blue;
            }

            .mp-province-product {
              background: $color-blue;
            }

            .mp-district-product {
              background: $color-blue;
              //border-bottom: 1px solid $color-secondary;
              //border-right: 1px solid $color-secondary;
            }

            button {
              outline: none;
              font-weight: 600;
              color: $color-primary;
            }

            //justify-content: flex-end;
          }

          .mp-product-description {
            background: rgb(250, 250, 250);
            padding: 1.2em 1em;
            margin: 1em 0;

            p {
              color: #000;
              font-weight: 500;
              margin-bottom: 8px;
              font-size: 0.88rem;
            }

            span {
              font-size: 0.825rem;
              //white-space: pre-wrap;
            }
          }

          .mp-product-price-stock {
            .mp-product-start-price {
              font-size: 1rem;
              font-weight: 500;
              font-family: "Segoe UI", "sans serif" !important;
              color: rgba(0, 0, 0, 0.5);
            }

            .mp-product-price {
              font-family: "Segoe UI", "sans serif" !important;
              font-size: 24px;
              color: $color-blue;
              font-weight: 700;
              margin-bottom: 8px;

              .mp-a-tratar {
                font-size: 17px;
                font-weight: 700;
                color: $color-blue;
                text-transform: uppercase;
              }

              .mp-final-price {
                font-size: 24px;
                font-family: "Segoe UI", "sans serif" !important;
                position: relative;
              }

              .mp-percent-discount {
                font-family: "Segoe UI", "sans serif" !important;
                position: absolute;
                top: 0;
                left: calc(100% + 3px);
                font-size: 0.72rem;
                font-weight: 700;
                color: $color-primary;
              }
            }

            .mp-product-metric {
              font-family: "Segoe UI", "sans serif";
              margin-bottom: 10px;

              small {
                color: rgba(0, 0, 0, 0.6);
              }
            }

            .mp-product-stock {
              font-size: 0.78rem;

              span {
                font-family: "Segoe UI", "sans serif";
                font-weight: 600;
              }
            }
          }

          .mp-product-contact {
            width: 100%;
            /* display: flex;
                        justify-content: center;
                        flex-flow: column nowrap;
                        align-items: center; */

            p {
              span {
                font-size: 0.7rem;
              }
            }

            .mp-product-contact-links {
              a {
                font-size: 2.5rem;
                margin-right: 5px;
              }

              a.messenger-color {
                color: rgb(0, 165, 255);
              }

              a.whatsapp-color {
                color: rgb(0, 191, 54);
              }
            }
          }
        }
      }
    }
  }
}

.menu-social-networks {
  width: 40px;
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;

  li {
    width: 100%;
    padding: 0;
    list-style: none;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      padding: 1em 0.5em;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-blue;
      transition: all ease-in-out 0.25s;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .mp-product-store {
    padding: 1em;
  }
}

@media screen and (max-width: 400px) {
  .mp-product-store {
    padding: 0.5em;
  }
}
</style>
