<template>
    <div class="mp-ventures-page">
        <CardLayout :title="titlePage">
            <template v-slot:head-actions>
                <v-spacer></v-spacer>
                <v-btn
                color="tertiary"
                dark
                @click="exportEntrepreneur"
                >
                Exportar
                <v-icon
                    right
                    dark
                >
                    mdi-cloud-download
                </v-icon>
                </v-btn>
            </template>
            <template v-slot:body-template>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 mx-auto">
                        <v-text-field v-model="search" append-icon="search" :loading="loader" @keyup="debounceSearchBusiness" single-line placeholder="Buscar emprendimiento"></v-text-field>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 mx-auto">
                        <v-menu
                        ref="menu"
                        v-model="menu"
                        :close-on-content-click="false"
                        :return-value.sync="date"
                        transition="scale-transition"
                        offset-y
                        max-width="300px"
                        min-width="auto"
                        color="primary"
                        >
                        <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                            v-model="date"
                            label="Mes de actualización"
                            prepend-icon="mdi-calendar"
                            readonly
                            hide-details
                            v-bind="attrs"
                            v-on="on"
                            ></v-text-field>
                        </template>
                        <v-date-picker
                            v-model="date"
                            type="month"
                            no-title
                            scrollable
                            color="primary"
                            locale="pe"
                        >
                            <v-spacer></v-spacer>
                            <v-btn
                            text
                            color="primary"
                            @click="menu = false"
                            >
                            Cancelar
                            </v-btn>
                            <v-btn
                            text
                            color="primary"
                            @click="searchBusinessByDate"
                            >
                            OK
                            </v-btn>
                        </v-date-picker>
                        </v-menu>           
                    </div>     
                    <div class="col-lg-3 col-md-3 col-sm-3 mx-auto">
                         <v-autocomplete v-model="category" :items="categories" item-text="name" item-value="sku" 
                         clearable
                         @change="debounceSearchBusiness" background-color="#fff" placeholder="Categoría emprendimiento"> </v-autocomplete>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <v-data-iterator :footer-props="footerOptions" :items="businessResponse.business" :page="businessResponse.page" :items-per-page="businessResponse.limit"  :server-items-length="businessResponse.total" @update:page="searchBusiness">
                                <template v-slot:default="props">
                                    <div class="row">
                                        <div v-for="item in props.items" :key="item._id" class="col-lg-3 col-md-4 col-sm-6">
                                            <BusinessCard :business="item"/>
                                        </div>
                                    </div>
                                </template>
                        </v-data-iterator>
                    </div>
                </div>
            </template>
        </CardLayout>
        <LoaderPage :active="activeLoader" :zIndex="10" />
    </div>
</template>

<script>
const limitPerPage = 8;
import CardLayout from "@/layouts/CardLayout";
import BusinessCard from "@/components/cards/BusinessCard";
import configHeaderToken from '@/libs/configHeaderToken';
import LoaderPage from '@/components/global/LoaderPage';
import axios from 'axios';
import Swal from "sweetalert2";

import { mapState } from 'vuex';
    export default {
        components: {
            CardLayout,
            BusinessCard,
            LoaderPage
        },
        data() {
            return {
                menu: false,
                date: new Date().toISOString().substr(0, 7),
                titlePage: 'Emprendimientos',
                loader: false,
                activeLoader: false,
                search: '',
                category: '',
                timeOutSearch: null,
                // Data iterator
                footerOptions: {
                    "items-per-page-options": [limitPerPage]
                },
                businessResponse: {
                    business: [],
                    limit: limitPerPage,
                    page: 1,
                    total: 0
                }
            }
        },
        computed: {
            ...mapState({
                baseURL: state => state.baseURL,
                authToken: state => state.authToken,
                categories: state => state.categories.all
            })
        },
        async created(){
            await this.searchBusiness();
        },
        methods: {
            clearResults(){
                const obj = {
                    business: [],
                    limit: limitPerPage,
                    page: 1,
                    total: 0
                }
                this.businessResponse = Object.assign({}, obj);
            },
            async debounceSearchBusiness(){
                console.log('escribiendo', this.search);
                console.log('categoria', this.category);
                if(this.search && this.search.length > 2) {
                    if(this.timeOutSearch){
                        clearTimeout(this.timeOutSearch);
                    }
                    this.timeOutSearch = setTimeout( this.searchBusiness, 1000);
                    return;
                }else if(this.category){
                    if(this.timeOutSearch){
                        clearTimeout(this.timeOutSearch);
                    }
                    this.timeOutSearch = setTimeout( this.searchBusiness, 1000);
                    return;
                }
                clearTimeout(this.timeOutSearch);
            },
            async searchBusinessByDate(){
                this.$refs.menu.save(this.date)
                await this.searchBusiness(1)
            },
            async searchBusiness(pagine){
                this.loader = true;
                try {
                    if(pagine) this.activeLoader = true;
                    const res = await axios.get(`${this.baseURL}/api/persons/entrepreneurs/admin?search=${this.search}&page=${pagine ? pagine : 1}&limit=${this.businessResponse.limit}&date=${this.date}-01&category=${this.category}`, configHeaderToken(this.authToken));
                    this.activeLoader = false;
                    if(res.status != 200) return;
                    this.businessResponse.business = res.data.docs;
                    this.businessResponse.page = res.data.page;
                    this.businessResponse.total = res.data.totalDocs;
                    this.$router.push(`/emprendimientos?page=${res.data.page || 1}`)
                    this.loader = false;
                    console.log(res.data.docs)
                }catch(err){}
            },
            async exportEntrepreneur() {
                this.activeLoader = true;
                let config = configHeaderToken(this.authToken)
                config.responseType = "blob"
                const res = await axios.get(
                    `${this.baseURL}/api/reports/entrepreneurs/export?search=${this.search}&date=${this.date}-01`,
                    config
                );
                this.activeLoader = false;
                if (res.status != 200)
                    return Swal.fire(
                        "",
                        `${
                        res.data.message
                            ? res.data.message
                            : "Ocurrió un error al generar el reporte"
                        }`,
                        "error"
                    );
                this.downloadExcel(res.data)
            },

            downloadExcel(data) {
                try{
                    let blob = new Blob([data], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64'})
                    const downloadLink = document.createElement("a");
                    downloadLink.href = window.URL.createObjectURL(blob)
                    const fileName = `Reporte de Emprendedores`
                    downloadLink.setAttribute("download", fileName);
                    document.body.appendChild(downloadLink)
                    downloadLink.click();
                    document.body.appendChild(downloadLink)
                }catch (err) {
                    console.error(err)
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>