<template>
  <div class="mp-basic">
    <div v-if="loader" class="mp-loader">
      <Loader />
    </div>
    <div class="mp-admin-container" v-else>
      <Sidebar />
      <div class="mp-page">
        <Navbar class="mp-navbar-page" />
        <div class="mp-wrapper-content">
          <div class="container-fluid mp-container-content">
            <router-view></router-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapState } from "vuex";
import Navbar from "@/components/global/Navbar";
import Sidebar from "@/components/global/Sidebar";
import Loader from "@/components/global/Loader";
export default {
  name: "Home",
  components: {
    Navbar,
    Sidebar,
    Loader,
  },
  data: () => ({
    loader: true,
    interval: null,
  }),
  computed: {
    ...mapState({}),
  },
  mounted() {
    this.verifyTokenFromLS();
    this.chargeData();
  },
  methods: {
    async chargeData() {
      await this.$store.dispatch("getStatus");
      await this.$store.dispatch("getAllReels");
      await this.$store.dispatch("getAllCategories");
      await this.$store.dispatch("getAllSubCategories");
      await this.$store.dispatch("getDepartments");
      await this.$store.dispatch("getFeaturedEntrepreneurs");
      await this.$store.dispatch("getAllMetrics");
      await this.$store.dispatch("getAllPaymentMethods");
      await this.$store.dispatch("getAllPopUps")
      this.loader = false;
    },
    async verifyTokenFromLS() {
      console.log("RECURSIVIDAD AL VERIFICAR TOKEN");
      this.interval = setInterval(async () => {
        const dateExp = localStorage.getItem("iat") || window.localStorage.getItem("iat");
        if (dateExp == "false") {
          clearInterval(this.interval);
          return;
        }
        const timeToExp = parseInt(dateExp) - Date.now();
        if (timeToExp > 0 && timeToExp < 60000) {
          clearInterval(this.interval);
          const refreshResponse = await this.$store.dispatch("refreshToken");
          if (!refreshResponse) {
            this.$store.dispatch("logout");
            this.$router.push("/auth/login");
            return;
          }
          this.verifyTokenFromLS();
        }
      }, 5000);
    },
  },
};
</script>

<style lang="scss">
@import "../assets/styles/variables.scss";

.mp-basic {
  width: 100%;
  height: 100%;
  display: flex;
  height: calc(100vh - 80px);

  .mp-admin-container {
    width: 100%;
    .v-navigation-drawer__content {
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background: $color-tertiary;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $color-blue;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
      }

      &::-webkit-scrollbar-thumb:active {
        background-color: $color-tertiary;
      }
    }
    .nav-drawer.v-navigation-drawer {
      top: 80px !important;
    }

    .mp-page {
      margin-left: 0px;
      padding-top: 80px;
      transition: all ease-in-out 0.15s;

      .mp-navbar-page {
        left: 0;
        transition: all ease-in-out 0.15s;
      }

      .mp-wrapper-content {
        min-height: calc(100vh - 80px);
        background: #eee;
      }
    }
  }
}

.container-fluid.mp-container-content {
  padding: 10px 25px !important;
}

@media screen and (min-width: 960px) {
  .mp-basic {
    .mp-admin-container {
      width: 100%;

      .nav-drawer.v-navigation-drawer {
        top: 0px !important;
      }
    }

    aside.v-navigation-drawer--open ~ .mp-page {
      margin-left: 255px;
    }

    aside.v-navigation-drawer--open ~ .mp-page .mp-nav.mp-navbar-page {
      left: 256px !important;
      width: calc(100% - 256px);
    }

    aside.v-navigation-drawer--mini-variant ~ .mp-page {
      margin-left: 56px;
      width: calc(100% - 56px);
    }

    aside.v-navigation-drawer--mini-variant ~ .mp-page .mp-nav.mp-navbar-page {
      left: 56px !important;
    }

    aside.v-navigation-drawer--close ~ .mp-page {
      margin-left: 0px !important;
      width: 100%;
    }

    aside.v-navigation-drawer--close ~ .mp-page .mp-nav.mp-navbar-page {
      left: 0 !important;
    }
  }
}

@media screen and (max-width: 430px) {
  .container-fluid.mp-container-content {
    padding: 10px 10px !important;
  }

  .v-card__subtitle,
  .v-card__text,
  .v-card__title {
    padding: 12px 10px;
  }
}

@media screen and (max-width: 340px) {
  .container-fluid.mp-container-content {
    padding: 10px 0px !important;
  }

  .v-card__subtitle,
  .v-card__text,
  .v-card__title {
    padding: 12px 6px;
  }
}

@media (max-width: $breakpoint-phone) {
  .mp-page {
    padding-top: 55px !important;
  }

  .mp-wrapper-content {
    min-height: calc(100vh - 55px) !important;
  }

  .mp-basic {
    width: 100%;
    height: 100%;
    display: flex;
    min-height: calc(100vh - 55px);

    .mp-admin-container {
      width: 100%;

      .nav-drawer.v-navigation-drawer {
        top: 55px !important;
      }
    }

    .mp-navbar-page {
      height: 55px !important;
    }
  }
}
</style>
