<template>
  <div class="mp-page-categories">
    <CardLayout title="Métodos de Pago">
      <template v-slot:head-actions>
        <div class="d-flex align-items-center">
          <v-btn
            small
            @click.stop="dialog = true"
            fab
            dark
            class="ml-2"
            color="primary"
          >
            <i class="fas fa-plus"></i>
          </v-btn>
        </div>
      </template>
      <template v-slot:body-template>
        <v-data-table
          :items="paymentMethods"
          :headers="headersPaymentMethods"
          class="elevation-0"
        >
          <template v-slot:[`item.order`]="{ item }">
            <span>
              {{ findIndexOnPaymentMethods(item) }}
            </span>
          </template>
          <template v-slot:[`item.icon`]="{ item }">
            <v-img
              :src="`${baseURL}/file/${item.icon.filename}`"
              height="80px"
              width="80px"
              class="mx-auto"
            >
            </v-img>
          </template>
          <template v-slot:[`item.createdAt`]="{ item }">
            <span>
              {{
                item.createdAt
                  ? item.createdAt.toString().substring(0, 10)
                  : "Sin fecha"
              }}
            </span>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-btn icon @click="editPaymentMethod(item)">
              <v-icon small>mdi-pencil</v-icon>
            </v-btn>
            <v-btn icon @click="deletePaymentMethod(item)">
              <v-icon small>mdi-delete</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </template>
    </CardLayout>
    <FormDialog
      v-if="dialog"
      :dialog="dialog"
      :title="
        paymentMethodEdited ? 'Editar Método de Pago' : 'Añadir Método de Pago'
      "
      width="450"
      v-on:closeDialog="closeDialog"
    >
      <template v-slot:form-dialog>
        <div class="container">
          <v-form
            ref="formPaymentMethod"
            :lazy-validation="true"
            v-model="formPaymentMethod"
            class="pt-3"
          >
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 pr-2 pl-3">
                <v-text-field
                  v-model="paymentMethod.name"
                  :rules="nameRules"
                  placeholder="Nombre del Método de Pago (*)"
                ></v-text-field>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pr-2 pl-3">
                <v-file-input
                  :key="baseIndex"
                  v-model="imageSelected"
                  :rules="paymentMethodEdited ? fileEditedRules : fileRules"
                  :clearable="false"
                  @change="updatePreviewImage"
                  :show-size="1000"
                  prepend-icon=""
                  append-icon="add_photo_alternate"
                  accept=".jpg, .png, .JPG, .JPEG"
                  dense
                  :placeholder="
                    paymentMethodEdited
                      ? 'Click para elegir una imagen nueva (opcional)'
                      : 'Click para elegir una imagen nueva (*)'
                  "
                >
                  <template v-slot:append-outer>
                    <v-btn v-if="image" small @click="clearImage" icon>
                      <v-icon>close</v-icon>
                    </v-btn>
                  </template>
                </v-file-input>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
                <v-img :src="image" height="80px" width="80px" class="mx-auto">
                </v-img>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
                <v-card-actions class="pt-5">
                  <v-spacer></v-spacer>
                  <v-btn
                    :disabled="loading"
                    :loading="loading"
                    @click="
                      paymentMethodEdited
                        ? updatePaymentMethod()
                        : savePaymentMethod()
                    "
                    text
                    >{{ paymentMethodEdited ? "Actualizar" : "Guardar" }}</v-btn
                  >
                </v-card-actions>
              </div>
            </div>
          </v-form>
        </div>
      </template>
    </FormDialog>
  </div>
</template>

<script>
import CardLayout from "@/layouts/CardLayout";
import FormDialog from "@/components/dialogs/FormDialog";
import { mapState } from "vuex";
import Swal from "sweetalert2";

export default {
  components: {
    CardLayout,
    FormDialog,
  },

  data: () => ({
    dialog: false,
    paymentMethodEdited: null,
    paymentMethod: {
      name: "",
      icon: {},
    },
    imageSelected: null,
    paymentImage: null,
    image: null,
    formPaymentMethod: true,
    loading: false,
    headersPaymentMethods: [
      {
        text: "#",
        value: "order",
        sortable: false,
      },
      {
        text: "Ícono",
        value: "icon",
        sortable: true,
      },
      {
        text: "Nombre",
        value: "name",
        sortable: true,
      },

      {
        text: "Fecha de creación",
        value: "createdAt",
        sortable: false,
      },

      {
        text: "",
        value: "actions",
        sortable: false,
      },
    ],
    nameRules: [(v) => !!v || "Escribe un nombre para el Método de Pago!"],
    fileRules: [
      (v) => (!!v && v.size < 1000000) || "Elige una imagen no mayor a 1MB",
    ],
    fileEditedRules: [
      (v) => !v || (v && v.size < 1000000) || "Elige una imagen no mayor a 1MB",
    ],
    baseIndex: 1000,
  }),

  computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      paymentMethods: (state) => state.paymentMethods.all,
    }),
  },

  methods: {
    findIndexOnPaymentMethods(item) {
      const idx = this.paymentMethods.indexOf(item);
      if (idx === -1) return "";
      return idx + 1;
    },
    closeDialog() {
      this.dialog = false;
      this.clearFields();
      this.loading = false;
    },
    clearFields() {
      this.paymentMethodEdited = null;
      this.paymentMethod = {
        name: "",
        icon: {},
      };
      this.image = null;
      this.imageSelected = null;
    },
    clearImage() {
      this.image = null;
      this.imageSelected = null;
      this.paymentMethodEdited && this.paymentMethodEdited.icon
        ? (this.image = `${this.baseURL}/file/${this.paymentMethodEdited.icon.filename}`)
        : (this.image = null);
      this.baseIndex += 10;
    },
    validateForm() {
      return this.$refs.formPaymentMethod.validate();
    },
    editPaymentMethod(item) {
      this.paymentMethodEdited = item;
      this.paymentMethod = {...item};
      item.icon
        ? (this.image = `${this.baseURL}/file/${item.icon.filename}`)
        : (this.image = null);
      this.dialog = true;
    },

    updatePreviewImage() {
      if (this.imageSelected != null && this.imageSelected != undefined) {
        this.image = URL.createObjectURL(this.imageSelected);
        return;
      }
      this.paymentMethodEdited && this.paymentMethodEdited.icon
        ? (this.image = `${this.baseURL}/file/${this.paymentMethodEdited.icon.filename}`)
        : (this.image = null);

      console.log(this.image);
    },

    async savePaymentMethod() {
      if (!this.validateForm()) return;
      this.loading = true;
      const FORM = new FormData();
      FORM.append("document", JSON.stringify(this.paymentMethod));
      if (!this.imageSelected) {
        this.loading = false;
        return Swal.fire("", "Elige un icono para continuar", "warning");
      }
      FORM.append("logo", this.imageSelected);

      const res = await this.$store.dispatch("addPaymentMethod", FORM);
      this.loading = false;
      if (res.status != 200 && res.status != 201)
        return Swal.fire(
          "Error",
          `Ocurrió un error al intentar agregar la categoría ${this.categoryName}`,
          "error"
        );
      this.closeDialog();
      Swal.fire("Bien!", `Categoría agregada correctamente!`, "success");
    },

    async updatePaymentMethod() {
      if (!this.validateForm()) return;
      this.loading = true;
      const FORM = new FormData();
      FORM.append("document", JSON.stringify(this.paymentMethod));

      this.imageSelected ? FORM.append("logo", this.imageSelected) : "";
      const obj = {
        _id: this.paymentMethod._id,
        body: FORM,
      };
      const res = await this.$store.dispatch("editPaymentMethod", obj);

      this.loading = false;

      if (res.status != 200 && res.status != 201)
        return Swal.fire(
          "Error",
          `${
            res.data.message
              ? res.data.message
              : "Ocurrió un error actualizando el método de pago"
          }`,
          "error"
        );

      this.closeDialog();
      Swal.fire("Bien!", "Los datos se actualizaron correctamente!", "success");
      //
    },
    async deletePaymentMethod(item) {
      const val = await Swal.fire({
        text: `¿Desea eliminar ${item.name} del sistema?`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero eliminar",
      });
      if (!val.value) return;

      await this.$store.dispatch("deletePaymentMethod", item);
      await this.$store.dispatch("getAllPaymentMethods");
    },
  },
};
</script>

<style></style>
