<template>
  <div class="mp-page-categories">
    <CardLayout title="Aliados">
      <template v-slot:head-actions>
        <div class="d-flex align-items-center">
          <v-btn small @click.stop="dialog = true" fab dark class="ml-2" color="primary">
            <i class="fas fa-plus"></i>
          </v-btn>
        </div>
      </template>
      <template v-slot:body-template>
        <v-data-table :items="allies" :headers="headerAllies" class="elevation-0">
          <template v-slot:[`item.order`]="{ item }">
            <span>
              {{ findIndexOnMetrics(item) }}
            </span>
          </template>
          <template v-slot:[`item.logo`]="{ item }">
            <img
              draggable="false"
              style="max-height: 55px; padding: 6px"
              :src="formatImage(item.logo)"
              :alt="item.name"
            />
          </template>
        <template v-slot:[`item.status`]="{ item }">
            <div>
                <v-chip small dark :color="item.isActive ? 'primary' : 'secondary'">
                    {{ item.isActive ? 'Activo' : 'Inactivo' }}
                </v-chip>
            </div>
          </template>
          
          <template v-slot:[`item.createdAt`]="{ item }">
            <span>
              {{ item.createdAt ? formatDate(item.createdAt) : "Sin fecha" }}
            </span>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-btn icon @click="editAlly(item)">
              <v-icon small>mdi-pencil</v-icon>
            </v-btn>
            <v-btn icon @click="deleteAlly(item)">
              <v-icon small>mdi-delete</v-icon>
            </v-btn>
          </template>
        </v-data-table>
        <SlideAllies v-if="allies.length > 0" :key="baseIndex" :allies="allies"></SlideAllies>
      </template>
    </CardLayout>
    <FormDialog
        v-if="dialog"
        :dialog="dialog"
        :title="allyEdited ? 'Editar Aliado' : 'Nuevo Aliado'"
        width="450"
        v-on:closeDialog="closeDialog"
    >
        <template v-slot:form-dialog>
            <div class="container">
                <FormAlly
                    :allyProp="allyEdited"
                    :loading="loading"
                    v-on:createAlly="saveAlly"
                    v-on:updateAlly="updateAlly"
                >
                </FormAlly>
            </div>
      </template>

    </FormDialog>
  </div>
</template>

<script>
import CardLayout from "@/layouts/CardLayout";
import FormDialog from "@/components/dialogs/FormDialog";
import FormAlly from "@/components/forms/FormAlly"
import SlideAllies from "@/components/slides/SlideAllies";
import { formatISODate } from "@/libs/date";
import { formatIMG } from "@/libs/img";
import { mapState } from "vuex";
import configHeaderToken from "../../libs/configHeaderToken";
import axios from "axios";
import Swal from 'sweetalert2';
export default {
  components: {
    CardLayout,
    FormDialog,
    FormAlly,
    SlideAllies
  },
  data() {
    return {
      dialog: false,
      loading: false,
      allies: [],
      headerAllies: [
        {
          text: "#",
          value: "order",
          sortable: false,
        },
        {
          text: "Logo",
          value: "logo",
          sortable: false,
        },
        {
          text: "Nombre",
          value: "name",
          sortable: false,
        },
        {
          text: "Estado",
          value: "status",
          sortable: false,
        },
        {
          text: "Fecha de creación",
          value: "createdAt",
          sortable: false,
        },
        {
          text: "",
          value: "actions",
          sortable: false,
        },
      ],
      allyEdited: null,
      baseIndex: 1452
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
    }),
  },
  async created() {
    await this.getAllies();
  },
  methods: {
    async getAllies() {
      const URL = this.baseURL + "/api/allies/admin";
      const { data, status } = await axios.get(URL, configHeaderToken(this.authToken));
      if (status != 200) return;
      this.allies = data;
      this.renderSlide();
    },
    renderSlide( ) {
        this.baseIndex+=10;
    },
    formatDate(date) {
      return formatISODate(date);
    },
    formatImage(file) {
      return formatIMG(file);
    },
    findIndexOnMetrics(item) {
      const idx = this.allies.findIndex((it) => it == item);
      if (idx == -1) return "";
      return idx + 1;
    },
    editAlly(item) {
        this.allyEdited = {...item};
        this.dialog = true;
    },
    closeDialog() {
        this.dialog = false;
        this.allyEdited = null;
    },
    async saveAlly(form) {
        this.loading = true;
        const URL = this.baseURL + "/api/allies";
        const { data, status } = await axios.post(URL, form, configHeaderToken(this.authToken));
        this.loading = false;
        if(status != 200 && status != 201) return Swal.fire("Oops!", data ? data.error.message : 'Ocurrió un error guardando la información del aliado.', 'error');
        this.allies.push(data);
        this.closeDialog();
        this.renderSlide();
        Swal.fire("Bien!", "Se guardó correctamente!", 'success');
    },
    async updateAlly({ id, body }) {
        this.loading = true;
        const URL = this.baseURL + `/api/allies/${id}`;
        const { data, status } = await axios.put(URL, body, configHeaderToken(this.authToken));
        this.loading = false;
        if(status != 200 && status != 204) return Swal.fire("Oops!", data ? data.error.message : 'Ocurrió un error editando la información del aliado.', 'error');
        const idx = this.allies.findIndex(al => al._id == id);
        if(idx > -1) {
            this.allies.splice(idx, 1, data);
        }
        this.closeDialog();
        this.renderSlide();
        Swal.fire("Bien!", "Se actualizó correctamente!", 'success');
    },
    async deleteAlly(item) {
        const val = await Swal.fire({
          text: `¿Desea eliminar el aliado seleccionado?`,
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#1A4A84",
          confirmButtonText: "Si, quiero eliminar",
        });
        if (!val.value) return;
        const URL = this.baseURL + `/api/allies/${item._id}`;
        const {data, status } = await axios.delete(URL, configHeaderToken(this.authToken));
        if(status != 200 && status != 204) return Swal.fire("Oops!", data ? data.error.message : 'Ocurrió un error eliminando el aliado seleccionado.', 'error');
        const idx = this.allies.findIndex(al => al._id == item._id);
        if(idx > -1) {
            this.allies.splice(idx, 1);
        }
        this.renderSlide();
        Swal.fire("Bien!", data ? data.message :"Se eliminó correctamente!", 'success');
    },
  },
};
</script>

<style lang="scss" scoped></style>
