<template>
<div class="districts-page">
    <CardLayout :title="titlePage">
        <template v-slot:head-actions>
            <div class="d-flex align-items-center">
                <!--<v-btn small @click.stop="dialog = true" fab dark class="ml-2" color="primary">
                    <i class="fas fa-plus"></i>
                </v-btn>-->
            </div>
        </template>
        <template v-slot:body-template>
            <div class="container-filters">
                <div class="filters-in-page">
                    <v-select class="ml-3" @change="getProvinces" v-model="department.selected" :items="departments" hide-details prepend-inner-icon="filter_list" :item-text="department.itemText" :item-value="department.itemValue" style="max-width: 170px" :placeholder="department.placeholder" clearable></v-select>
                    <v-select :loading="loader2" class="ml-3" @change="getDistricts" v-model="province.selected" :items="provinces" hide-details prepend-inner-icon="filter_list" :item-text="province.itemText" :item-value="province.itemValue" style="max-width: 170px" :placeholder="province.placeholder" clearable></v-select>
                </div>
                <span>Elige un departamento y provincia</span>
            </div>
            <div v-if="districts && districts.length >0" class="response-table">
                <v-card-title class="pl-0 pr-0 pb-0">
                    <strong>{{titleResponseTable}}</strong>
                </v-card-title>
                <div class="col-lg-6 col-md-8 col-sm-12 pl-0 pr-0 pb-0 pt-0">
                    <v-text-field v-model="search" placeholder="Buscar..." append-icon="search" single-line></v-text-field>
                </div>
                <!--<hr class="mt-1 mb-1">-->
                <v-data-table :search="search" :items="districts" :headers="headers" class="elevation-0 ">
                    <template v-slot:[`item.order`]="{item}">
                        <span>
                            {{findIndexOnArray(item)}}
                        </span>
                    </template>
                    <template v-slot:[`item.department`]="{item}">
                        <span>
                            {{item.province.department ? findDepartmentNameById(item.province.department) : ''}}
                        </span>
                    </template>
                    <template v-slot:[`item.province`]="{item}">
                        <span>
                            {{item.province ? item.province.name : ''}}
                        </span>
                    </template>
                    <!--<template v-slot:[`item.actions`]="{item}">
                        <v-btn icon @click="editObject(item)">
                            <v-icon small>mdi-pencil</v-icon>
                        </v-btn>
                        <v-btn icon @click="deleteObject(item)">
                            <v-icon small>mdi-delete</v-icon>
                        </v-btn>
                    </template>-->
                </v-data-table>
            </div>
            <div v-else class="d-flex justify-content-center align-items-center mt-4 pt-5 pb-4">
                <v-progress-circular v-if="loader" indeterminate color="amber"></v-progress-circular>
                <span v-else>{{messageResponse}}</span>
            </div>
        </template>
    </CardLayout>
    <FormDialog v-if="dialog" :dialog="dialog" :title="titleDialog" width="550" v-on:closeDialog="closeDialog">
        <template v-slot:form-dialog>
            <div class="container">
                <v-form ref="currentForm" :lazy-validation="true" v-model="form">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3">
                            <v-text-field v-model="object.name" :rules="importantRules" placeholder="Nombre (*)"></v-text-field>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3">
                            <v-autocomplete @change="updateProvincesOnForm" v-model="object.department" :items="departments" item-text="name" item-value="_id" :rules="importantRules" placeholder="Departamento (*)" :menu-props="{ top: true, offsetY: true }"></v-autocomplete>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3">
                            <v-autocomplete v-model="object.province" :items="provincesForm" :loading="loaderProvince" item-text="name" item-value="_id" :rules="importantRules" placeholder="Provincia (*)" :menu-props="{ top: true, offsetY: true }"></v-autocomplete>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3">
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn :loading="loading" :disabled="loading" @click="objectEdited ? saveUpdateObject() : saveObject()" text>{{ objectEdited ? 'Actualizar': 'Guardar' }}</v-btn>
                            </v-card-actions>
                        </div>
                    </div>
                </v-form>
            </div>
        </template>
    </FormDialog>
</div>
</template>

<script>
import configHeaderToken from '@/libs/configHeaderToken';
import FormDialog from '@/components/dialogs/FormDialog';
import CardLayout from '@/layouts/CardLayout';
import axios from 'axios';
import {
    mapState
} from 'vuex';
import Swal from 'sweetalert2';

export default {
    components: {
        CardLayout,
        FormDialog
    },
    data() {
        return {
            titlePage: 'Distritos',
            //Selects
            department: {
                selected: '',
                itemText: 'name',
                itemValue: '_id',
                placeholder: 'Departamento'
            },
            province: {
                selected: '',
                itemText: 'name',
                itemValue: '_id',
                placeholder: 'Provincia'
            },
            //dialog
            dialog: false,
            // Object
            importantRules: [v => !!v || 'Este campo es requerido!'],
            form: true,
            objectEdited: null,
            object: {},
            // Provinces
            provinces: [],
            provincesForm: [],
            //Table
            search: '',
            headers: [{
                    text: '#',
                    value: 'order',
                    sortable: false
                },
                {
                    text: 'Ubigeo',
                    value: 'ubigeo',
                    sortable: false
                },
                {
                    text: 'Distrito',
                    value: 'name',
                    sortable: true
                },
                {
                    text: 'Provincia',
                    value: 'province',
                    sortable: true
                },
                {
                    text: 'Departamento',
                    value: 'department',
                    sortable: true
                },
                {
                    text: '',
                    value: 'actions',
                    sortable: false
                }
            ],
            loader: false,
            loader2: false,
            loaderProvince: false,
            loading: false,
            districts: null
        }
    },
    computed: {
        titleDialog() {
            return this.objectEdited ? 'Editar distrito' : 'Nuevo distrito'
        },
        titleResponseTable() {
            if (this.department.selected && this.province.selected) {
                const dep = this.departments.find(d => d._id === this.department.selected);
                const prov = this.provinces.find(p => p._id === this.province.selected);
                if (!dep && !prov) return '';
                return `Distritos de la provincia de ${prov.name}, departamento de ${dep.name}`;
            }
            return '';
        },
        messageResponse() {
            if (this.districts && this.districts.length === 0) return 'Sin resultados'
            return ''
        },
        ...mapState({
            baseURL: state => state.baseURL,
            authToken: state => state.authToken,
            departments: state => state.departments.all,
        })
    },
    methods: {
        // Provinces & districts
        async getProvinceByDepartmentId(departmentId) {
            const config = configHeaderToken(this.authToken);
            const res = await axios.get(`${this.baseURL}/api/provinces/departments/${departmentId}`, config);
            return res.status == 200 ? res.data : []
        },
        async getProvinces() {
            this.provinces = [];
            this.districts = null;
            this.province.selected = '';
            if (!this.department.selected) return;
            this.loader2 = true;
            this.provinces = await this.getProvinceByDepartmentId(this.department.selected);
            this.loader2 = false;
        },
        async getDistricts() {
            this.districts = null;
            if (!this.province.selected) return;
            this.loader = true;
            const config = configHeaderToken(this.authToken);
            const res = await axios.get(`${this.baseURL}/api/districts/provinces/${this.province.selected}`, config);
            this.loader = false;
            res.status == 200 ? this.districts = res.data : this.districts = []
        },
        async updateProvincesOnForm() {
            this.object.province = '';
            this.provincesForm = [];
            if (!this.object.department) return;
            this.loaderProvince = true;
            const departmentId = this.object.department && this.object.department._id ? this.object.department._id : this.object.department;
            this.provincesForm = await this.getProvinceByDepartmentId(departmentId);
            this.loaderProvince = false;
        },
        async addDistrict(district) {
            const config = configHeaderToken(this.authToken);
            const res = await axios.post(`${this.baseURL}/api/districts`, district, config);
            if (res.status != 200 && res.status != 201) return res;
            if (res.data.province._id != this.province.selected) return res;
            this.districts.push(res.data);
            return res;
        },
        async editDistrict(district) {
            const config = configHeaderToken(this.authToken);
            const res = await axios.put(`${this.baseURL}/api/districts/${district._id}`, district, config);
            if (res.status != 200 && res.status != 201) return res;
            if (!this.province.selected) return res;
            if (district.province._id != this.province.selected) {
                const idx = this.districts.findIndex(d => d._id === district._id);
                this.districts.splice(idx, 1);
                return res;
            }
            const idx = this.districts.findIndex(d => d._id === district._id);
            this.districts.splice(idx, 1, res.data)
            return res;
        },
        async deleteDistrict(district) {
            const config = configHeaderToken(this.authToken);
            const res = await axios.delete(`${this.baseURL}/api/districts/${district._id}`, config);
            if (res.status != 200 && res.status != 201) return res;
            if (!this.province.selected) return res;
            const idx = this.districts.findIndex(d => d._id === district._id);
            if (idx > -1) {
                this.districts.splice(idx, 1);
            }
            return res;
        },
        findDepartmentNameById(departmentId) {
            const dep = this.departments.find(d => d._id === departmentId);
            if (!dep) return '';
            return dep.name;
        },
        findIndexOnArray(item) {
            const idx = this.districts.indexOf(item);
            if (idx === -1) return '';
            return (idx + 1);
        },
        closeDialog() {
            this.dialog = false;
            this.clearFields();
        },
        clearFields() {
            this.objectEdited = null;
            this.object.name = '';
            this.object.department = '';
            this.object.province = '';
            this.provincesForm = [];
        },
        validateForm() {
            return this.$refs.currentForm.validate();
        },
        async editObject(item) {
            this.dialog = true;
            this.objectEdited = item;
            this.object.name = item.name;
            this.object.department = item.province.department;
            this.object.province = item.province._id;
            this.loaderProvince = true;
            this.loading = true;
            item.province.department ? this.provincesForm = await this.getProvinceByDepartmentId(item.province.department) : this.provincesForm = [];
            this.loaderProvince = false;
            this.loading = false;
        },
        async saveObject() {
            if (!this.validateForm()) return;

            this.loading = true;

            const res = await this.addDistrict({
                name: this.object.name,
                province: {
                    _id: this.object.province && this.object.province._id ? this.object.province._id : this.object.province
                }
            });

            this.loading = false;
            if (res.status != 200 && res.status != 201) return Swal.fire('Oops!', 'Error guardando el distrito!', 'error');
            this.closeDialog();
            return Swal.fire('Bien!', 'Distrito agregado correctamente!', 'success');
        },
        async saveUpdateObject() {
            if (!this.validateForm()) return;
            this.loading = true;

            const res = await this.editDistrict({
                _id: this.objectEdited._id,
                name: this.object.name,
                province: {
                    _id: this.object.province && this.object.province._id ? this.object.province._id : this.object.province
                }
            });

            this.loading = false;
            if (res.status != 200 && res.status != 201) return Swal.fire('Oops!', 'Error editando el distrito!', 'error');
            this.closeDialog();
            return Swal.fire('Bien!', 'Distrito actualizado correctamente!', 'success');
        },
        async deleteObject(item) {
            const val = await Swal.fire({
                //title: `¿Está usted seguro de esto?`,
                text: `La siguiente acción eliminará el distrito ${item.name} del sistema`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#1A4A84",
                confirmButtonText: "Si, quiero eliminar!",
            });
            if (!val.value) return;
            const res = await this.deleteDistrict(item);
            if (res.status != 200 && res.status != 201) return Swal.fire('Oops', 'No se pudo eliminar el distrito', 'error');
        }
    }
}
</script>

<style lang="scss" scoped>
.container-filters {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    span {
        margin-top: 10px;
    }

    .filters-in-page {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

}
</style>
