<template>
    <div class="mp-featured-categories">
    <CardLayout :title="titlePage">
      <template v-slot:head-actions>
        <div class="d-flex align-items-center">
          <v-btn
            small
            @click.stop="dialog = true"
            fab
            dark
            class="ml-2"
            color="primary"
          >
            <i class="fas fa-plus"></i>
          </v-btn>
        </div>
      </template>
      <template v-slot:body-template>
        <div>
            <FeaturedCategories :isUser="true" :mostCategories="mostCategories" v-on:deleteProduct="deleteProduct" v-on:removeCategory="removeCategory" v-on:addProductsToSlideCategory="openDialogToAddProduct"/>
        </div>
      </template>
    </CardLayout>

    <FormDialog v-if="dialog" :dialog="dialog" :title="titleDialog" width="1200" v-on:closeDialog="closeDialog">
      <template v-slot:form-dialog>
        <div class="container">
            <v-form ref="formFCategory">
              <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-12">
                  <v-autocomplete @change="search = ''" :rules="importantRules" :disabled="isEdited" :items="isEdited ? allCategories : categories" placeholder="Elige una categoría" item-text="name" item-value="_id" v-model="fCategory.category"></v-autocomplete>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-12">
                  <v-text-field clearable append-icon="search" label="Busca productos y añadelos al reel" item-text="title" item-value="_id"  single-line :disabled="!!!fCategory.category" v-model="search" @keyup="findProductsByCategory" :loading="loader"></v-text-field>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <v-data-iterator v-if="productsResponse.products && productsResponse.products.length > 0" :footer-props="footerOptions" :items="productsResponse.products" :page="productsResponse.page" :items-per-page="productsResponse.limit"  :server-items-length="productsResponse.total" @update:page="searchProduct">
                        <template v-slot:default="props">
                          <div class="row">
                            <div v-for="(item, idx) in props.items" :key="idx + 30140" class="col-lg-3 col-md-4 col-sm-6">
                                <ProductCard :isUser="true" :isCreateSlide="true" :product="item" v-on:addProductToSlide="addProductToSlide" />
                            </div>
                          </div>
                      </template>
                  </v-data-iterator>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <h6 class="card-title mp-title-prev-product">Productos de esta sección</h6>
                  <hr>
                  <div class="row">
                    <div v-for="(item, idx) in fCategory.products" :key="idx+30180" class="col-lg-3 col-md-4 col-sm-6">
                      <div class="mp-prev-product-to-slide">
                        <p><strong>Producto: </strong>{{item.title}}</p>
                        <p><strong>Emprendimiento: </strong>{{ item.store && item.store.businessName ?  item.store.businessName : '' }}</p>
                        <div class="mp-actions-product-to-slide">
                          <v-btn @click="removeItemFromPrev(idx)" color="danger" dark x-small fab>
                            <v-icon x-small>close</v-icon>
                          </v-btn>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="isEdited? editFCategory() : addFCategory()" :loading="loading" :disabled="loading" color="blueColor" text>
                        {{isEdited? 'Guardar cambios':'Guardar sección'}} 
                    </v-btn>
                  </v-card-actions>
                </div>
              </div>
            </v-form>
        </div>
      </template>
    </FormDialog>
    </div>
</template>

<script>
import CardLayout from "@/layouts/CardLayout";
import FormDialog from '@/components/dialogs/FormDialog';
import FeaturedCategories from '@/components/sections/FCategoriesSection';
import ProductCard from '@/components/cards/ProductCard';
import configHeaderToken from '@/libs/configHeaderToken';
import axios from 'axios';
import { mapState } from 'vuex';
import Swal from 'sweetalert2';

    export default {
        components: {
            CardLayout,
            FormDialog,
            FeaturedCategories,
            ProductCard
        },
        data(){
            return {
                dialog: false,
                loading: false,
                titlePage: 'Categorías destacadas',
                importantRules: [v => !!v || 'Este campo es requerido'],
                mostCategories: [],
                fCategory: {
                  category: '',
                  products: []
                },
                timeOutSearch: null,
                search: '',
                footerOptions: {
                    "items-per-page-options": [4]
                },
                productsResponse: {
                  products: [],
                  total: 0,
                  limit: 4,
                  page: 1
                },
                loader: false,
                isEdited: false
            }
        },
        computed: {
          titleDialog(){
            return 'Agregar Categoría destacada'
          },
          ...mapState({
            categories: function (state) {
                if(!this.mostCategories || !state.categories.all) return [];
                const mostC = this.mostCategories.map(mc => mc.category._id);
                const cats = state.categories.all.filter(c => mostC.indexOf(c._id) === -1 );
                return cats;
            },
            allCategories: state => state.categories.all,
            baseURL: state => state.baseURL,
            authToken: state => state.authToken
          })
        },
        async created(){
          await this.getAllFeaturedCategories();
          //await this.findProductsByCategory();
        },
        methods: {
          async findProductsByCategory(){
              console.log('escribiendo', this.search);
              if(this.search && this.search.length > 2) {
                if(this.timeOutSearch){
                  clearTimeout(this.timeOutSearch);
                }
                this.timeOutSearch = setTimeout( this.searchProduct, 1500);
                return;
              }
              clearTimeout(this.timeOutSearch);
          },
          async searchProduct(pagine){
              this.loader = true;
              try {
                const cat = this.allCategories.find(c => c._id === (this.fCategory.category && this.fCategory.category._id ? this.fCategory.category._id : this.fCategory.category));
                if(!cat) return;
                const res = await axios.get(`${this.baseURL}/api/products/categories/${cat.sku}?search=${this.search}&page=${pagine ? pagine : 1}&limit=${this.productsResponse.limit}`);
                if(res.status != 200) return;
                this.productsResponse.products = res.data.docs;
                this.productsResponse.page = res.data.page;
                this.productsResponse.total = res.data.totalDocs;
                this.loader = false;
              }catch(err){

              }
          },
          async getAllFeaturedCategories(){
            const res = await axios.get(`${this.baseURL}/api/featured_categories`);
            if(res.status != 200) return this.mostCategories = [];
            this.mostCategories = res.data;
            console.log(res);
          },
          closeDialog(){
            this.dialog = false;
            this.clearFields();
          },
          clearFields(){
            const cat = {
              category: '',
              products: []
            }
            const productsR = {
                  products: [],
                  total: 0,
                  limit: 4,
                  page: 1
            }
            this.fCategory = Object.assign({}, cat);
            this.productsResponse = Object.assign({}, productsR);
            this.search = '';
            this.isEdited = false;
          },
          validateForm(){
            return this.$refs.formFCategory.validate();
          },
          addProductToSlide(product){
            this.fCategory.products.push(product);
            let hash = {};
            this.fCategory.products = this.fCategory.products.filter((p) => {
              const exists = !hash[p._id];
              hash[p._id] = true;
              return exists;
            })
          },
          removeItemFromPrev(idx){
            this.fCategory.products.splice(idx, 1);
          },
          openDialogToAddProduct(cat){
            this.dialog = true;
            this.fCategory = {...cat};
            this.fCategory.products = [...cat.products];
            this.isEdited = true;
          },
          async addFCategory(){
            if(!this.validateForm()) return;
            this.loading = true;
            const res =  await axios.post(`${this.baseURL}/api/featured_categories`, {
              category: {
                _id: this.fCategory.category && this.fCategory.category._id ? this.fCategory.category._id: this.fCategory.category,
              },
              products: this.fCategory.products
            }, configHeaderToken(this.authToken)); 

            console.log(res);

            if(res.status != 200 && res.status != 201) {
              this.loading = false;
              Swal.fire('', `${res.data.message}`, 'error');
              return;
            }
            this.loading = false;
            this.closeDialog();
            this.mostCategories.push(res.data);
            Swal.fire('Bien!', `Sección creada correctamente!`, 'success');
           
          },
          async editFCategory(){
            if(!this.validateForm()) return;
            this.loading = true;
            const res = await axios.put(`${this.baseURL}/api/featured_categories/${(this.fCategory._id )}`, {
              ...this.fCategory
            }, configHeaderToken(this.authToken));
            console.log(res);
            this.loading = false;
            if(res.status != 200) {
              return Swal.fire('', 'Ocurrio un error actualizando esta sección', 'error');
            }
            this.loading = false;
            const idx = this.mostCategories.findIndex(c => c._id === this.fCategory._id);
            //this.mostCategories.splice(idx, 1, res.data);
            this.mostCategories = null;
            await this.getAllFeaturedCategories();
            this.closeDialog();
            Swal.fire('Bien!', 'Sección actualizada correctamente!', 'success');
          },
          async deleteProduct(data){
            if(this.mostCategories[data.idx].products && this.mostCategories[data.idx].products.length-1 < 4) return Swal.fire('', 'No puedes eliminar más productos porque la cantidad mínima por reel es 4!', 'warning');
            const prods = [...this.mostCategories[data.idx].products];
            const idx = prods.findIndex(p => p._id === data.product._id);
            prods.splice(idx, 1);
            console.log(idx);
            const res = await axios.put(`${this.baseURL}/api/featured_categories/${this.mostCategories[data.idx]._id}`, {
              category: this.mostCategories[data.idx].category,
              products: prods
            }, configHeaderToken(this.authToken));
            if(res.status != 200) {
              return Swal.fire('', 'Ocurrio un error removiendo el producto del reel', 'error');
            }
            this.mostCategories = null;
            await this.getAllFeaturedCategories();
            //this.mostCategories[data.idx].products.splice(data.product, 1);
            Swal.fire('', `Producto removido del reel de ${this.mostCategories[data.idx].category.name}`, 'success');
          
          },
          async removeCategory(seccion){
            try{
              const res = await axios.delete(`${this.baseURL}/api/featured_categories/${seccion._id}`, configHeaderToken(this.authToken));    

              if(res.status != 200) {
                return Swal.fire('', `Hubo un error trantando de eliminar la sección de ${seccion.category.name}`, 'error');
              }

              this.mostCategories.splice(seccion, 1);
              Swal.fire('', `Sección removida satisfactoriamente`, 'success');

            }catch(err){
              Swal.fire('', `Hubo un error trantando de eliminar la sección seleccionada`, 'error');
            }
          }
        }
    }
</script>

<style lang="scss" scoped>
  .mp-title-prev-product {
    font-size: 14px;
    color: #000;
  }
  .mp-prev-product-to-slide {
    border-radius: 4px;
    height: 100%;
    width: 100%;
    padding: 1em 1.5em 1em;
    background: #ccc !important;
    color: #000 !important;
    position: relative;
    .mp-actions-product-to-slide {
      padding: .2em;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

</style>