<template>
  <div class="allies-container">
    <div id="swiper-allies" class="swiper-container slides-allies">
      <div class="swiper-wrapper">
        <div v-for="(item, idx) in alliesActive" :key="item._id + idx" class="swiper-slide">
            <a :href="item.link" target="_blank">
                <img :src="formatImage(item.logo)" :alt="item.name" />
            </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { formatIMG } from "@/libs/img";
export default {
  props: {
    allies: Array,
  },
  data() {
    return {
      swiper: null,
    };
  },
  computed: {
    alliesActive() {
      return this.allies.filter((al) => al.isActive);
    },
    /*   alliesActive() {
          const alliesActives = this.allies.filter(al => al.isActive);
          if(alliesActives.length < 6) {
              let alliesCopy = [];
              for(let i = 0; i<6; i++) {
                  for(let j=0; j<alliesActives.length; j++) {
                      alliesCopy.push(alliesActives[j]);
                  }
              }
              return alliesCopy;
          }
          return alliesActives;
      } */
  },
  mounted() {
    const LIMIT = this.alliesActive.length;
    this.swiper = new Swiper("#swiper-allies", {
      spaceBetween: 30,
      slidesPerView: 1,
      loop: LIMIT < 6 ? false : true,
      //loopFillGroupWithBlank: true,
      freeMode: false,
      //watchSlidesVisibility: true,
      //watchSlidesProgress: true,
      autoplay: {
        delay: 2000,
        disableOnInteraction: false,
        centeredSlides: true,
      },
       breakpoints: {
        500: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: LIMIT < 6 ? LIMIT : 2,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: LIMIT < 6 ? LIMIT : 4,
          spaceBetween: 20,
        },
        1200: {
          slidesPerView: LIMIT < 6 ? LIMIT : 6,
          spaceBetween: 20,
        },
        1500: {
          slidesPerView: LIMIT < 6 ? LIMIT : 6,
          spaceBetween: 20,
        },
        2400: {
          slidesPerView: LIMIT < 6 ? LIMIT : 6,
          spaceBetween: 20,
        },
      },
    });
    console.log(this.swiper);
  },
  methods: {
    formatImage(file) {
      return formatIMG(file);
    },
  },
};
</script>

<style lang="scss" scoped>
.allies-container {
  width: 100%;
  padding: 3em 0 2.3em 0;
  .swiper-container {
      width: 100%;
      height: 100%;
      cursor: -webkit-grabbing;
      cursor: grabbing;
  }
  .swiper-slide {
    width: 100%;
    height: auto;
    //padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        max-width: 100%;
        cursor: pointer;
    }
    img {
      max-height: 65px;
      width: auto;
      text-align: center;
      display: block;
      margin: auto;
      line-height: 70px;
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(1);
      -o-filter: grayscale(1);
      -ms-filter: grayscale(1);
      filter: grayscale(1);
      //opacity: 0.2;
      transition: all 0.3s ease 0s;
      max-height: 65px;
      max-width: 100%;
    }
    &:hover img {
      opacity: 1;
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -o-filter: grayscale(0);
      -ms-filter: grayscale(0);
      filter: grayscale(0);
      transform: scale(1.035);
    }
  }
}

</style>
