<template>
  <div :id="productSlideId" class="swiper-container mp-product-slide">
    <div class="swiper-wrapper">
      <div v-for="(item, idx) in items" :key="item._id+idx" class="swiper-slide">
        <div class="d-flex justify-content-center">
          <div class="mp-card-actions d-flex justify-content-center p-1">
            <v-btn @click="!obj ? $emit('beforeDelete', item) : $emit('beforeDelete', {obj: obj,product:item})" small fab color="#af0000" dark
              ><v-icon small>delete</v-icon></v-btn
            >
          </div>
          >
        </div>
        <ProductCard
          :isUser="isUser"
          :product="item"
          v-on:deleteProduct="deleteProduct"
        />
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</template>

<script>
import ProductCard from "@/components/cards/ProductCard";
export default {
  components: {
    ProductCard,
  },
  props: {
    productSlideId: String,
    isUser: Boolean,
    items: Array,
    obj: Object,
  },
  data() {
    return {
      swiper: null,
    };
  },
  mounted() {
    this.swiper = new Swiper(`#${this.productSlideId}`, {
      loop: false,
      spaceBetween: 10,
      slidesPerView: 1,
      autoplay: {
        delay: 4000,
      },
      breakpoints: {
        500: {
          slidesPerView: 1,
          spaceBetween: 10,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 25,
        },
        1200: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
        1500: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
      },
      navigation: {
        nextEl: `#${this.productSlideId} .swiper-button-next`,
        prevEl: `#${this.productSlideId} .swiper-button-prev`,
      },
    });
    console.log(this.swiper)
    document
      .querySelector(`#${this.productSlideId}`)
      .addEventListener("mouseenter", this.pauseSwiper);
    document
      .querySelector(`#${this.productSlideId}`)
      .addEventListener("mouseleave", this.playSwiper);
  },
  methods: {
    pauseSwiper() {
      this.swiper.autoplay.stop();
    },
    playSwiper() {
      this.swiper.autoplay.start();
    },
    deleteProduct(product) {
      this.$emit("deleteProduct", product);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";
.swiper-container.mp-product-slide {
  width: 100%;
  overflow: hidden;
  height: auto !important;
  padding: 1em;
}

.swiper-container.mp-product-slide .swiper-slide {
  //overflow: hidden;
  width: 100%;
  height: auto !important;
  position: relative;
  //padding: .1em;
}

.swiper-container.mp-product-slide {
  .swiper-slide {
    position: relative;
    .mp-card-actions {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 15;
    }
  }
  .swiper-button-prev {
    left: 0 !important;
  }

  .swiper-button-next {
    right: 0 !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 35px !important;
    height: 35px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    background: $color-blue;
    outline: none;

    &::after {
      font-size: 13px !important;
      color: #fff;
    }
  }

  /* .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 13px;
    } */
}
</style>
