<template>
  <div class="districts-page">
    <CardLayout :title="titlePage">
      <template v-slot:head-actions>
        <div class="d-flex align-items-center">
          <v-btn
            small
            @click.stop="dialog = true"
            fab
            dark
            class="ml-2"
            color="primary"
          >
            <i class="fas fa-plus"></i>
          </v-btn>
        </div>
      </template>
      <template v-slot:body-template>
        <div>
          <VenturesSection :items="featuredEntrepreneurs" />
        </div>
      </template>
    </CardLayout>
    <FormDialog
      v-if="dialog"
      :dialog="dialog"
      :title="titleDialog"
      width="550"
      v-on:closeDialog="closeDialog"
    >
      <template v-slot:form-dialog>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <v-autocomplete
                v-model="entrepreneur"
                :items="entrepreneurs"
                :loading="isLoading"
                :search-input.sync="search"
                item-text="businessName"
                item-value="_id"
                hide-no-data
                hide-selected
                label="Buscar Emprendimientos"
                prepend-icon="search"
                return-object
                filled
                rounded
                clearable
              ></v-autocomplete>
            </div>
            <div v-if="entrepreneur" class="col-lg-12 col-md-12 col-sm-12">
              <div class="previewer-card">
                <CardItem
                  :store="entrepreneur"
                  :updatedImage="uploadedImageURL"
                  :image="image"
                  :isCreated="true"
                />
              </div>
            </div>
            <div
              v-if="error"
              class="alert alert-danger col-lg-12 col-md-12 col-sm-12"
              role="alert"
            >
              {{ message }}
            </div>
            <div v-if="entrepreneur" class="col-lg-12 col-md-12 col-sm-12">
              <div class="img-selector">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <span>Elige una imagen</span>
                  </div>
                  <div
                    class="img-selector-content  col-lg-4 col-md-4 col-sm-4 col-6"
                    v-for="item in imagesSelector"
                    :key="item._id"
                  >
                    <input
                      :id="item.filename"
                      type="radio"
                      :name="item.originalname"
                      :value="item.filename"
                      v-model="imageSelected"
                    />
                    <label
                      :style="
                        `background-image: url(${baseURL}/file/${item.filename});`
                      "
                      class="img-selector-label"
                      :for="item.filename"
                    ></label>
                  </div>
                  <div
                    v-if="uploadedImageURL"
                    class="img-selector-content  col-lg-4 col-md-4 col-sm-4 col-6"
                  >
                    <input
                      id="upload-image"
                      type="radio"
                      name="upload-image"
                      value="upload-image"
                      v-model="imageSelected"
                    />
                    <label
                      :style="`background-image: url(${uploadedImageURL});`"
                      class="img-selector-label"
                      for="upload-image"
                    ></label>
                  </div>
                  <div
                    class="img-picker col-lg-4 col-md-4 col-sm-4 col-6 rounded-md shadow-sm"
                  >
                    <input
                      @change="previewFiles"
                      x-ref="input"
                      type="file"
                      accept="image/*"
                      name="photo"
                      id="photo"
                      class="custom"
                    />
                    <label for="photo">
                      o sube una imagen
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  :loading="loading"
                  :disabled="loading"
                  text
                  color="blueColor"
                  @click="saveFeaturedEntrepreneur"
                  >Añadir Emprendedor</v-btn
                >
              </v-card-actions>
            </div>
          </div>
        </div>
      </template>
    </FormDialog>
  </div>
</template>

<script>
import configHeaderToken from "@/libs/configHeaderToken";
import FormDialog from "@/components/dialogs/FormDialog";
import CardLayout from "@/layouts/CardLayout";
import VenturesSection from "@/components/sections/VenturesSection";
import CardItem from "@/components/cards/CardItem";
import axios from "axios";
import { mapState } from "vuex";
import Swal from "sweetalert2";

export default {
  components: {
    CardLayout,
    FormDialog,
    VenturesSection,
    CardItem,
  },
  data() {
    return {
      businessNameLimit: 60,
      dialog: false,
      loading: false,
      titlePage: "Emprendedores Destacados",
      objectEdited: null,
      object: {},
      descriptionLimit: 60,
      isLoading: false,
      entrepreneur: null,
      search: null,
      entrepreneurs: [],
      timeOutSearch: null,
      imageSelected: null,
      uploadedImageURL: null,
      uploadedImage: null,
      error: false,
      message: "",
    };
  },
  computed: {
    titleDialog() {
      return "Añadir Emprendimientos Destacados";
    },

    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
      featuredEntrepreneurs: (state) => state.featuredEntrepreneurs.all,
    }),

    /*entrepreneur() {
      console.log(this.businessName)
      if (!this.businessName) return undefined;
      if (this.entrepreneurs.length === 0) return undefined;
      if (this.entrepreneurs.length === 1) return this.entrepreneurs[0];
      return this.entrepreneurs.find((entrepreneur) => {
        return entrepreneur._id === this.businessName;
      })
    },*/

    imagesSelector() {
      if (!this.entrepreneur) return [];
      if (this.entrepreneur.length === 0) return [];
      let imagesSelector = [];
      if (this.entrepreneur.logo)
        imagesSelector.push(this.entrepreneur.logo);
      if (this.entrepreneur.images) {
        for (let image of this.entrepreneur.images) {
          imagesSelector.push(image);
        }
      }
      return imagesSelector;
    },
    image() {
      if (!this.imageSelected) return null;
      if (this.imageSelected === "upload-image") return null;
      return this.imagesSelector.find((image) => {
        return image.filename === this.imageSelected;
      });
    },
  },
  watch: {
    async search(val) {
      if (!val) {
        return;
      }
      if (val.length < 3) return;

      try {
        this.isLoading = true;

        const config = configHeaderToken(this.authToken);
        const res = await axios.get(
          `${this.baseURL}/api/persons/entrepreneurs?search=${val}&limit=10`,
          config
        );
        this.entrepreneurs = res.data.docs;
        console.log(this.entrepreneurs)
        this.isLoading = false;
      } catch (error) {
        this.isLoading = false;
      }
    },
  },
  methods: {
    async saveFeaturedEntrepreneur() {
      let featuredEntrepreneur = new FormData();

      let document = {
        entrepreneur_id: this.entrepreneur._id,
      };

      if (this.uploadedImage && !this.image) {
        featuredEntrepreneur.append("image", this.uploadedImage);
      } else if (!this.image) {
        document.image_id = this.imagesSelector[0];
      } else {
        document.image_id = this.image._id;
      }
      console.log(JSON.stringify(document));
      featuredEntrepreneur.append("document", JSON.stringify(document));
      this.loading = true;
      const res = await this.$store.dispatch(
        "addFeaturedEntrepreneurs",
        featuredEntrepreneur
      );
      this.loading = false;
      console.log(res);
      if (res.status != 201 || res.status != 201) {
        return Swal.fire("Error", `${res.data.message}`, "error");
      }
      return Swal.fire(
        "Bien!",
        "El emprendimiento se añadió de manera correcta",
        "success"
      );

      this.closeDialog();
    },
    previewFiles(e) {
      if (!e.target.files) return;
      if (e.target.files.length === 0) return;
      const file = e.target.files[0];
      if (file.size > 1024 * 1024) {
        e.preventDefault();
        this.error = true;
        this.message = "No puedes subir una imagen mayor a 1MB";
        this.uploadedImageURL = null;
        setTimeout(() => {
          this.error = false;
        }, 5000);
        return;
      }
      this.uploadedImageURL = URL.createObjectURL(file);
      this.uploadedImage = file;
      this.imageSelected = "upload-image";
    },

    closeDialog() {
      this.dialog = false;
      this.uploadedImageURL = null;
      this.imageSelected = null;
      this.message = "";
      this.entrepreneur = {};
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";
.previewer-card {
  max-height: $max-height-section;
  max-width: 286px;
  margin: 0 auto;
}
.container {
  .img-selector {
    display: flex;
    flex-wrap: wrap;
    input[type="file"].custom {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute !important;
      white-space: nowrap;
      width: 1px;
    }
    span {
      color: $color-blue;
      font: 1.3em sans-serif;
    }
    .img-picker {
      display: flex;
      label {
        margin: auto;
        padding: 6px 12px;
        cursor: pointer;
        color: $color-blue;
        border: 1px solid $color-blue;
        border-radius: 4px;
      }
      label:hover {
        color: white;
        background: $color-blue;
        transition: all 100ms ease-in;
        -webkit-transition: all 100ms ease-in;
        -moz-transition: all 100ms ease-in;
      }
    }
  }
  .img-selector input[type="radio"] {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .img-selector input:checked + .img-selector-label {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
  }
  .img-selector-label {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 120px;
    height: 100px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
    filter: brightness(1.8) grayscale(1) opacity(0.7);
  }
  .img-selector-label:hover {
    -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  }

  /* Extras */
  a:visited {
    color: #888;
  }
  a {
    color: #999;
    text-decoration: none;
  }
  p {
    margin-bottom: 0.3em;
  }
}
</style>
