<template>
  <div class="emporium-page">
    <CardLayout v-if="conglomerate" :title="conglomerate.name" :haveGoBack="true">
      <template v-slot:body-template>
        <HeaderSection
          :title="conglomerate.name || ''"
          :img="
            conglomerate.image
              ? `${baseURL}/file/${conglomerate.image.filename}`
              : defaultIMG
          "
        />
        <TabsEmporiun :emporiumNav="emporiumNav" />
        <div class="container">
          <div class="mp-conglomerate-index">
            <!-- Resume -->
            <div class="mp-conglomerate-slides-container">
              <!-- <div class="mp-title-container-conglomerate">
                <h2 class="mp-title-slides-conglomerate">
                  Acerca de {{ conglomerate.name }}
                </h2>
              </div> -->
              <div>
                <p class="pre-wrapp">{{ conglomerate.description }}</p>
              </div>
            </div>

            <!-- Featured Products -->
            <div class="mp-conglomerate-slides-container">
              <div class="d-flex align-items-center justify-content-between">
                <div class="mp-title-container-conglomerate">
                  <h2 class="mp-title-slides-conglomerate">
                    Productos de {{ conglomerate.name }}
                  </h2>
                </div>
                <v-btn @click="dialogProduct = true" fab small dark color="tertiary">
                  <v-icon small>add</v-icon>
                </v-btn>
              </div>
              <div
                v-if="
                  conglomerate.featuredProducts &&
                  conglomerate.featuredProducts.length > 0
                "
              >
                <ProductSlide
                  :items="conglomerate.featuredProducts"
                  :productSlideId="`mp-featured-conglomerate-products`"
                  v-on:beforeDelete="deleteProduct($event)"
                  :key="baseIndex + 10"
                />
              </div>
            </div>
            <!-- Featured stores -->
            <div class="mp-conglomerate-slides-container">
              <div class="d-flex align-items-center justify-content-between">
                <div class="mp-title-container-conglomerate">
                  <h2 class="mp-title-slides-conglomerate">
                    Emprendimientos de {{ conglomerate.name }}
                  </h2>
                </div>
                <v-btn @click="dialogStore = true" fab small dark color="tertiary">
                  <v-icon small>add</v-icon>
                </v-btn>
              </div>
              <div
                v-if="
                  conglomerate.featuredStores && conglomerate.featuredStores.length > 0
                "
              >
                <StoreSlide
                  :stores="conglomerate.featuredStores"
                  v-on:beforeDelete="deleteStore($event)"
                  :key="baseIndex + 11"
                />
              </div>
            </div>
          </div>
        </div>
      </template>
    </CardLayout>
    <!-- Form Productos destacados -->
    <FormDialog
      v-if="dialogProduct"
      :dialog="dialogProduct"
      title="Agrega un producto destacado"
      width="450"
      v-on:closeDialog="closeDialogProduct"
    >
      <template v-slot:form-dialog>
        <div class="container pb-0">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <v-autocomplete
                prepend-inner-icon="search"
                v-model="productSelected"
                :items="products"
                label="Busca un producto"
                filled
                rounded
                hide-no-data
                hide-selected
                item-text="title"
                item-value="_id"
                return-object
                @keyup="findProducts"
                autocomplete="off"
                small-chips
                deletable-chips
                :loading="loading"
              ></v-autocomplete>
            </div>
            <div class="col-lg-12 col-md-12">
              <ProductCard v-if="productSelected" :product="productSelected" />
            </div>
            <div class="col-lg-12 col-md-12">
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  @click="addProduct"
                  :loading="btnLoading"
                  :disabled="btnLoading"
                  v-if="productSelected"
                  text
                  color="tertiary"
                  >Agregar</v-btn
                >
              </v-card-actions>
            </div>
          </div>
        </div>
      </template>
    </FormDialog>

    <!-- Form Emprendimientos destacados - igual al de arriba iene que ser -->
    <FormDialog
      v-if="dialogStore"
      :dialog="dialogStore"
      title="Agrega un producto destacado"
      width="450"
      v-on:closeDialog="closeDialogStore"
    >
      <template v-slot:form-dialog>
        <div class="container pb-0">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <v-autocomplete
                prepend-inner-icon="search"
                v-model="storeSelected"
                :items="stores"
                label="Busca un emprendimiento"
                filled
                rounded
                hide-no-data
                hide-selected
                item-text="businessName"
                item-value="_id"
                return-object
                @keyup="findStores"
                autocomplete="off"
                small-chips
                deletable-chips
                :loading="loading"
              ></v-autocomplete>
            </div>
            <div class="col-lg-12 col-md-12">
              <BusinessCard v-if="storeSelected" :business="storeSelected" />
            </div>
            <div class="col-lg-12 col-md-12">
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  @click="addStore"
                  :loading="btnLoading"
                  :disabled="btnLoading"
                  v-if="storeSelected"
                  text
                  color="tertiary"
                  >Agregar</v-btn
                >
              </v-card-actions>
            </div>
          </div>
        </div>
      </template>
    </FormDialog>
  </div>
</template>

<script>
import configHeaderToken from "@/libs/configHeaderToken";
import CardLayout from "@/layouts/CardLayout";
import HeaderSection from "@/components/sections/HeaderSection";
import TabsEmporiun from "@/components/tabs/TabsEmporium";
import ProductSlide from "@/components/slides/SlideProducts";
import StoreSlide from "@/components/slides/StoreSlide";
import FormDialog from "@/components/dialogs/FormDialog";
import ProductCard from "@/components/cards/ProductCard";
import BusinessCard from "@/components/cards/BusinessCard";
import axios from "axios";
import { mapState } from "vuex";
import Swal from "sweetalert2";
export default {
  components: {
    CardLayout,
    HeaderSection,
    TabsEmporiun,
    ProductSlide,
    StoreSlide,
    FormDialog,
    ProductCard,
    BusinessCard,
  },
  data() {
    return {
      defaultIMG:
        "https://delilacblog.files.wordpress.com/2017/02/galerc3ada-estilo-gamarra-perc3ba-conter-jeans.jpg",
      emporiumNav: [{ name: "Inicio", sku: "" }],
      conglomerate: null,
      dialogProduct: false,
      dialogStore: false,
      productSelected: null,
      storeSelected: null,
      products: [],
      stores: [],
      timeOutSearch: null,
      //
      baseIndex: 10,
      loading: false,
      btnLoading: false,
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
    }),
  },
  async created() {
    const res = await axios.get(
      `${this.baseURL}/api/emporius/${this.$route.params.emporium_sku}`
    );
    if (res.status != 200) return this.$router.push("/conglomerados");
    this.conglomerate = res.data;
    console.log(this.conglomerate);
  },
  methods: {
    async findStores(ev) {
      if (ev.target.value && ev.target.value.length >= 1) {
        this.loading = true;
        const keyword = ev.target.value;
        if (this.timeOutSearch) {
          clearTimeout(this.timeOutSearch);
        }
        this.timeOutSearch = setTimeout(async () => {
          const res = await axios.get(
            `${this.baseURL}/api/emporius/${this.conglomerate._id}/entrepreneurs?search=${keyword}&page=1&limit=6`
          );
          if (res.status != 200) return;
          this.stores = res.data.docs;
          this.loading = false;
        }, 700);
        return;
      }
      this.stores = [];
      clearTimeout(this.timeOutSearch);
      this.loading = false;
    },
    async findProducts(ev) {
      if (ev.target.value && ev.target.value.length >= 1) {
        this.loading = true;
        const keyword = ev.target.value;
        if (this.timeOutSearch) {
          clearTimeout(this.timeOutSearch);
        }
        this.timeOutSearch = setTimeout(async () => {
          const res = await axios.get(
            `${this.baseURL}/api/emporius/${this.conglomerate._id}/products?search=${keyword}&page=1&limit=6`
          );
          if (res.status != 200) return;
          this.products = res.data.docs;
          this.loading = false;
        }, 700);
        return;
      }
      this.products = [];
      clearTimeout(this.timeOutSearch);
      this.loading = false;
    },
    closeDialogProduct() {
      this.dialogProduct = false;
      this.productSelected = null;
      this.products = [];
    },
    closeDialogStore() {
      this.dialogStore = false;
      this.storeSelected = null;
      this.stores = [];
    },
    validateProducIfExists() {
      const idx = this.conglomerate.featuredProducts.findIndex(
        (p) => p._id === (this.productSelected._id || this.productSelected)
      );
      if (idx > -1) return true;
      return false;
    },
    async addProduct() {
      if (this.validateProducIfExists())
        return Swal.fire(
          "",
          "No puedes agregar este producto!<br/>El producto seleccionado ya se encuentra presente en la lista",
          "warning"
        );
      const product = this.products.find(
        (p) => p._id == (this.productSelected._id || this.productSelected)
      );
      console.log(this.productSelected, product);
      if (!product) return;
      const productsId = this.conglomerate.featuredProducts
        ? this.conglomerate.featuredProducts.map((p) => p._id)
        : [];
      productsId.push(product._id);
      const res = await this.sendProductListToEmporium(
        {
          featuredProducts: productsId,
        },
        {
          errorMessage:
            "No se pudo agregar el producto seleccionado, intentelo más tarde",
          successMessage: "Producto agregado correctamente!",
        }
      );
      if (!res) return;
      this.conglomerate.featuredProducts.push(product);
      this.closeDialogProduct();
      this.baseIndex += 10;
    },
    async sendProductListToEmporium(products, { errorMessage, successMessage }) {
      this.btnLoading = true;
      const res = await axios.patch(
        `${this.baseURL}/api/emporius/${this.conglomerate._id}/products`,
        products,
        configHeaderToken(this.authToken)
      );
      this.btnLoading = false;
      if (res.status != 200 && res.status != 204 && res.status != 201) {
        Swal.fire(
          "",
          errorMessage
            ? errorMessage
            : "No se pudieron actualizar los cambios! Intentelo más tarde.",
          "error"
        );
        return false;
      }
      Swal.fire(
        "",
        successMessage ? successMessage : "Se guardó correctamente!",
        "success"
      );
      return true;
    },
    async deleteProduct(item) {
      const val = await Swal.fire({
        text: `¿Desea remover el producto "${item.title}" del actual conglomerado?`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero eliminar",
      });
      if (!val.value) return;
      const idx = this.conglomerate.featuredProducts.findIndex((p) => p._id === item._id);
      if (idx === -1) return;
      const products = [...this.conglomerate.featuredProducts];
      products.splice(idx, 1);
      const newProducts = products.map((p) => p._id);
      const res = await this.sendProductListToEmporium(
        {
          featuredProducts: newProducts,
        },
        {
          errorMessage:
            "No se pudo agregar eliminar el producto seleccionado, intentelo más tarde",
          successMessage: "Producto eliminado correctamente!",
        }
      );
      this.conglomerate.featuredProducts.splice(idx, 1);
      this.baseIndex += 10;
    },
    //Stores
    validateStoreIfExists() {
      const idx = this.conglomerate.featuredStores.findIndex(
        (p) => p._id === (this.storeSelected._id || this.storeSelected)
      );
      if (idx > -1) return true;
      return false;
    },
    async addStore() {
      //featuredStores
      if (this.validateStoreIfExists())
        return Swal.fire(
          "",
          "No puedes agregar este emprendimiento!<br/>El Emprendimiento seleccionado ya se encuentra presente en la lista",
          "warning"
        );
      const store = this.stores.find(
        (p) => p._id == (this.storeSelected._id || this.storeSelected)
      );
      if (!store) return;
      const storesId = this.conglomerate.featuredStores
        ? this.conglomerate.featuredStores.map((s) => s._id)
        : [];
      storesId.push(store._id);
      const res = await this.sendStoresListToEmporium(
        {
          featuredStores: storesId,
        },
        {
          errorMessage:
            "No se pudo agregar el emprendimiento seleccionado, intentelo más tarde",
          successMessage: "Emprendimiento agregado correctamente!",
        }
      );
      if (!res) return;
      this.conglomerate.featuredStores.push(store);
      this.closeDialogStore();
      this.baseIndex += 10;
    },
    async sendStoresListToEmporium(stores, { errorMessage, successMessage }) {
      this.btnLoading = true;
      const res = await axios.patch(
        `${this.baseURL}/api/emporius/${this.conglomerate._id}/stores`,
        stores,
        configHeaderToken(this.authToken)
      );
      this.btnLoading = false;
      if (res.status != 200 && res.status != 204 && res.status != 201) {
        Swal.fire(
          "",
          errorMessage
            ? errorMessage
            : "No se pudieron actualizar los cambios! Intentelo más tarde.",
          "error"
        );
        return false;
      }
      Swal.fire(
        "",
        successMessage ? successMessage : "Se guardó correctamente!",
        "success"
      );
      return true;
    },
    async deleteStore(item) {
      const val = await Swal.fire({
        text: `¿Desea remover el emprendimiento "${item.businessName}" del actual conglomerado?`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero eliminar",
      });
      if (!val.value) return;
      const idx = this.conglomerate.featuredStores.findIndex((p) => p._id === item._id);
      if (idx === -1) return;
      const stores = [...this.conglomerate.featuredStores];
      stores.splice(idx, 1);
      const newStores = stores.map((p) => p._id);
      const res = await this.sendStoresListToEmporium(
        {
          featuredStores: newStores,
        },
        {
          errorMessage:
            "No se pudo agregar eliminar el emprendimiento seleccionado, intentelo más tarde",
          successMessage: "El Emprendimiento se ha removido de este conglomerado!",
        }
      );
      this.conglomerate.featuredStores.splice(idx, 1);
      this.baseIndex += 10;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";
.mp-conglomerate-index {
  width: 100%;
  //min-height: 100vh;

  //max-height: $max-height-section;
  .mp-conglomerate-slides-container {
    padding: 1rem 0 3rem 0;

    .mp-title-container-conglomerate {
      .mp-title-slides-conglomerate {
        position: relative;
        color: $color-blue;
        padding-left: 15px;
        margin-bottom: 0;
        font-size: 20px;
        @media screen and (max-width: 800px) {
          font-size: 18px;
        }
        @media screen and (max-width: 500px) {
          font-size: 16px;
        }

        //margin-left: .5em;
        &::before {
          content: " ";
          height: 100%;
          width: 4px;
          background: #1a4a84;
          display: block;
          position: absolute;
          left: 0;
        }
      }
    }

    .mp-view-more-conglomerate {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 0 1em;

      .mp-view-more-link {
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        color: $color-blue;
        transition: all ease-in-out 0.2s;
        text-transform: uppercase;

        &:hover {
          color: $color-secondary;
        }
      }
    }
  }
}
</style>
