<template>
  <div class="emporiums-page">
    <CardLayout :title="titlePage">
      <template v-slot:head-actions>
        <div class="d-flex align-items-center">
          <v-btn small @click="openDialog" fab dark class="ml-2" color="primary">
            <i class="fas fa-plus"></i>
          </v-btn>
        </div>
      </template>
      <template v-slot:body-template>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <v-data-iterator
              :footer-props="footerOptions"
              :items="emporiums"
              :page="page"
              :items-per-page="8"
            >
              <template v-slot:default="props">
                <div class="row">
                  <div
                    v-for="item in props.items"
                    :key="item._id"
                    class="col-lg-3 col-md-4 col-sm-6"
                  >
                    <CardEmporium
                      :name="item.name"
                      :img="item.image ? `${baseURL}/file/${item.image.filename}` : null"
                      :href="item.sku ? `/conglomerados/${item.sku}` : ''"
                      :object="item"
                      v-on:beforeEdited="openEditEmporium"
                      v-on:beforeRemove="deleteEmporium"
                    />
                  </div>
                </div>
              </template>
            </v-data-iterator>
          </div>
        </div>
      </template>
    </CardLayout>
    <FormDialog
      v-if="dialog"
      :dialog="dialog"
      :title="titleDialog"
      width="550"
      v-on:closeDialog="closeDialog"
    >
      <template v-slot:form-dialog>
        <div class="container">
          <v-form
            ref="currentForm"
            :lazy-validation="true"
            v-model="form"
            style="overflow: hidden"
          >
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3">
                <v-text-field
                  v-model="object.name"
                  :rules="importantRules"
                  placeholder="Nombre (*)"
                ></v-text-field>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3">
                <v-textarea v-model="object.description" :value="object.description" auto-grow rows="3" placeholder="Descripción"></v-textarea>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3">
                <v-file-input
                  v-model="image"
                  :rules="objectEdited ? [] : importantRules"
                  :placeholder="placeholderImage"
                  @change="changeImage"
                  accept=".jpg, .png, .jpeg"
                ></v-file-input>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3">
                <v-img
                  v-if="srcImage"
                  :src="srcImage"
                  class="grey darken-4"
                  height="180"
                  max-width="100%"
                ></v-img>
              </div>
              
              <div class="col-lg-12 col-md-12 col-sm-12 pr-3 pl-3">
                <v-card-actions class="pt-0 pb-0">
                  <v-spacer></v-spacer>
                  <v-btn
                    :loading="loading"
                    :disabled="loading"
                    @click="objectEdited ? saveUpdateObject() : saveObject()"
                    text
                    >{{ objectEdited ? "Actualizar" : "Guardar" }}</v-btn
                  >
                </v-card-actions>
              </div>
            </div>
          </v-form>
        </div>
      </template>
    </FormDialog>
  </div>
</template>

<script>
import CardLayout from "@/layouts/CardLayout";
import CardEmporium from "@/components/cards/CardEmporium";
import FormDialog from "@/components/dialogs/FormDialog";
import configHeaderToken from "@/libs/configHeaderToken";
import { mapState } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";
export default {
  components: {
    CardLayout,
    CardEmporium,
    FormDialog,
  },
  data() {
    return {
      titlePage: "Conglomerados",
      emporiums: [],
      page: 1,
      footerOptions: {
        "items-per-page-options": [4, 8, 12],
      },
      form: true,
      dialog: false,
      loading: false,
      objectEdited: null,
      importantRules: [(v) => !!v || "Este campo es requerido!"],
      object: {
        name: "",
        description: ""
      },
      image: null,
      srcImage: null,
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseURL,
      authToken: (state) => state.authToken,
    }),
    titleDialog() {
      return this.objectEdited ? "Editar Conglomerado" : "Nuevo Conglomerado";
    },
    placeholderImage() {
      return this.objectEdited
        ? "Click si deseas cambiar la imágen actual"
        : "Click para agregar una imágen (*)";
    },
  },
  async created() {
    const res = await axios.get(`${this.baseURL}/api/emporius`);
    if (res.status != 200) return;
    this.emporiums = res.data;
  },
  methods: {
    openDialog() {
      this.dialog = true;
      this.restartImg();
    },
    closeDialog() {
      this.dialog = false;
      this.clearFields();
    },
    openEditEmporium(item) {
      this.objectEdited = { ...item };
      this.object = { ...item };
      this.openDialog();
    },
    clearFields() {
      this.objectEdited = null;
      this.object = Object.assign(
        {},
        {
          name: "",
        }
      );
      this.image = null;
      this.srcImage = null;
    },
    changeImage() {
      if (!this.image) {
        this.restartImg();
        return;
      }
      const reader = new FileReader();
      reader.onloadend = (ev) => {
        this.srcImage = ev.target.result;
      };
      reader.readAsDataURL(this.image);
    },
    restartImg() {
      this.srcImage = this.objectEdited
        ? `${this.baseURL}/file/${this.objectEdited.image.filename}`
        : null;
    },
    validateForm() {
      return this.$refs.currentForm.validate();
    },
    resetValidation() {
      this.$refs.currentForm.resetValidation();
    },
    async saveObject() {
      if (!this.validateForm()) return;
      this.loading = true;
      const FORM_DATA = new FormData();
      FORM_DATA.append("name", this.object.name);
      FORM_DATA.append("description", this.object.description);
      if (this.image) {
        FORM_DATA.append("image", this.image);
      }
      const res = await axios.post(
        `${this.baseURL}/api/emporius`,
        FORM_DATA,
        configHeaderToken(this.authToken)
      );
      this.loading = false;
      if (res.status != 200 && res.status != 201 && res.status != 204)
        return Swal.fire(
          "Oops!",
          res.data && res.data.message
            ? res.data.message
            : `Error agregando el conglomerado!`,
          "error"
        );
      this.emporiums.push(res.data);
      this.closeDialog();
      this.clearFields();
      Swal.fire("Bien!", "Conglomerado agregado correctamente!", "success");
    },
    async saveUpdateObject() {
      if (!this.validateForm()) return;
      this.loading = true;
      const FORM_DATA = new FormData();
      FORM_DATA.append("name", this.object.name);
      FORM_DATA.append("description", this.object.description);
      if (this.image) {
        FORM_DATA.append("image", this.image);
      }
      const res = await axios.put(
        `${this.baseURL}/api/emporius/${this.object._id}`,
        FORM_DATA,
        configHeaderToken(this.authToken)
      );
      console.log(res);
      this.loading = false;
      if (res.status != 200 && res.status != 201 && res.status != 204)
        return Swal.fire(
          "Oops!",
          res.data && res.data.message
            ? res.data.message
            : `Error editando el conglomerado!`,
          "error"
        );
      /* this.emporiums.push(res.data); */
      const idx = this.emporiums.findIndex(e => e._id === this.object._id);
      if(idx > -1) {
        this.emporiums.splice(idx, 1, res.data);
      }
      this.closeDialog();
      this.clearFields();
      Swal.fire("Bien!", "Conglomerado editado correctamente!", "success");
    },
    async deleteEmporium(item) {
      const val = await Swal.fire({
        text: `¿Desea remover el conglomerado "${item.name}" del sistema?`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero eliminar",
      });
      if (!val.value) return;
      // codigo pa eliminar aqui
      const res = await axios.delete(`${this.baseURL}/api/emporius/${item._id}`, configHeaderToken(this.authToken));
      if(res.status != 200 && res.status != 201 && res.status != 204) return Swal.fire("", "No se pudo eliminar el conglomerado, intentelo más tarde.", "error");
      const idx = this.emporiums.findIndex(e => e._id === item._id);
      if(idx > -1) {
        this.emporiums.splice(idx, 1);
      }
      Swal.fire("", "El conglomerado ha sido eliminado!", "success");
    },
  },
};
</script>

<style lang="scss" scoped></style>
