<template>
<div class="mp-request">
    <CardLayout title="Solicitudes">
        <template v-slot:head-actions>
            <v-btn
                color="tertiary"
                dark
                @click="exportRequests"
                >
                Exportar
                <v-icon
                    right
                    dark
                >
                    mdi-cloud-download
                </v-icon>
            </v-btn>
        </template>
        <template v-slot:body-template>
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mx-auto">
                <v-menu
                    ref="menu"
                    v-model="menu"
                    :close-on-content-click="false"
                    :return-value.sync="date"
                    transition="scale-transition"
                    offset-y
                    max-width="300px"
                    min-width="auto"
                    color="primary"
                    >
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                        v-model="date"
                        label="Fecha de actualización"
                        prepend-icon="mdi-calendar"
                        readonly
                        hide-details
                        v-bind="attrs"
                        v-on="on"
                        ></v-text-field>
                    </template>
                    <v-date-picker
                        v-model="date"
                        type="month"
                        no-title
                        scrollable
                        color="primary"
                        locale="pe"
                    >
                        <v-spacer></v-spacer>
                        <v-btn
                        text
                        color="primary"
                        @click="menu = false"
                        >
                        Cancelar
                        </v-btn>
                        <v-btn
                        text
                        color="primary"
                        @click="searchRequestByDate"
                        >
                        OK
                        </v-btn>
                    </v-date-picker>
                </v-menu>  
            </div>         
            <v-spacer></v-spacer>
            <v-select style="max-width: 160px;" @change="getRequestsByStatus" :items="status" dense label="Estado" outlined color="#1A4A84" v-model="state" item-color="#1A4A84" hide-details="false" :menu-props="{ bottom: true, offsetY: true }"></v-select>
            </div>
            <v-data-table hide-default-footer :items="stores" :headers="headerStores" class="elevation-0">
                <template v-slot:[`item.order`]="{item}">
                    <span>
                        {{findIndexOnStores(item)}}
                    </span>
                </template>
                <!-- <template v-slot:[`item.names`]="{item}">
                    <span>
                        {{item.lastName}} {{item.firstName}}
                    </span>
                </template> -->
                <template v-slot:[`item.phone`]="{item}">
                    <span>
                        {{item.phone}}
                    </span>
                </template>
                <template v-slot:[`item.district`]="{item}">
                    <span>
                        {{item.district ? item.district.name : ''}}
                    </span>
                </template>
                <template v-slot:[`item.email`]="{item}">
                    <span>
                        {{item.email}}
                    </span>
                </template>
                <template v-slot:[`item.type`]="{item}">
                    <span>
                    <v-chip dark small :color="item.type && item.type === 'actualizar' ? 'blueColor' : 'primary'">
                        {{item.type ? getCapitalizeText(item.type) : ''}}
                    </v-chip>
                    </span>
                </template>
                <template v-slot:[`item.createdAt`]="{item}">
                    <span>
                        {{ item.createdAt ? item.createdAt.toString().substring(0,10) : 'Sin fecha'}}
                    </span>
                </template>
                <template v-slot:[`item.action`]="{item}">
                    <v-btn icon @click="editStatus(item)">
                        <v-icon small>mdi-pencil</v-icon>
                    </v-btn>
                    <!--<v-btn icon @click="deleteBussiness(item)">
                    <v-icon small>mdi-delete</v-icon>
                </v-btn>-->
                </template>
            </v-data-table>
            <div class="mx-auto">
                <Pagination :totalPages="totalPages" :visible="5" :currentPage="page" :totalDocs="totalDocs" :disabled="loader" v-on:updateCurrentPage="updateCurrentPage" />
            </div>
        </template>
    </CardLayout>
    <LoaderPage :active="activeLoader" :zIndex="10" />
    <!-- Dialog -->
    <FormDialog width="1000" :dialog="dialog" title="Actualizar estado" v-if="bussinessEdited" v-on:closeDialog="closeDialog">
        <template v-slot:form-dialog>
            <BussinessFormStatus :bussiness="bussinessEdited" v-on:statusUpdated="getRequestsByStatus" />
        </template>
    </FormDialog>
</div>
</template>

<script>
import CardLayout from '@/layouts/CardLayout';
import FormDialog from '@/components/dialogs/FormDialog';
import BussinessFormStatus from '@/components/forms/BussinessFormStatus';
import Pagination from '@/components/global/Pagination';
import LoaderPage from '@/components/global/LoaderPage';
import configHeaderToken from '@/libs/configHeaderToken';
import axios from 'axios';
import Swal from "sweetalert2";

import {
    mapState
} from "vuex";
export default {
    components: {
        CardLayout,
        FormDialog,
        BussinessFormStatus,
        Pagination,
        LoaderPage
    },
    data: () => ({
        menu: false,
        date: new Date().toISOString().substr(0, 7),
        dialog: false,
        activeLoader: false,
        //Pagination items
        loader: false,
        hasNextPage: null,
        hasPrevPage: null,
        limit: 10,
        nextPage: null,
        prevPage: null,
        page: 1,
        pagingCounter: null,
        totalDocs: null,
        totalPages: 1,
        //
        state: "Pendiente",
        stores: [],
        headerStores: [
            //
            {
                text: '#',
                value: 'order',
                sortable: false
            },
            {
                text: 'Emprendimiento',
                value: 'businessName'
            },
            {
                text: 'Correo',
                value: 'email'
            },
            {
                text: 'Estado',
                value: 'status',
            },
            {
                text: 'Distrito',
                value: 'district'
            },
            {
                text: 'Tipo solicitud',
                value: 'type',
                sortable: false
            },
            {
                text: 'Fecha Registro',
                value: 'createdAt',
                sortable: false
            },
            {
                text: '',
                value: 'action',
                sortable: false
            }
        ],
        bussinessEdited: null
    }),
    computed: {
        ...mapState({
            baseURL: state => state.baseURL,
            authToken: state => state.authToken,
            status: state => {
                const allStatus = [...state.status.status]
                allStatus.unshift("Todos");
                return allStatus;
            }
        })
    },
    async mounted() {
        /*  this.addTodos(); */
        await this.getRequestsByStatus(this.$route.query.page || 1);
        console.log(this.$route);
    },
    methods: {
        getCapitalizeText(string){
            return string.charAt(0).toUpperCase() + string.slice(1);
        },
        addTodos() {
            if (this.status[0] !== "Todos") {
                this.status.unshift("Todos");
                console.log(this.status);
            }
        },
        async getRequestsByStatus(page) {
            console.log(page);
            this.closeDialog();
            this.loader = true;
            const dataRes = await this.$store.dispatch("getStoreRequestsByStatus", {
                name: this.state,
                page: page ? page : this.page,
                limit: this.limit,
                date: this.date
            });
            console.log(dataRes);
            if (!dataRes) return;
            this.stores = dataRes.docs;
            this.hasNextPage = dataRes.hasNextPage;
            this.hasPrevPage = dataRes.hasPrevPage;
            this.limit = dataRes.limit;
            this.nextPage = dataRes.nextPage;
            this.prevPage = dataRes.prevPage;
            this.page = dataRes.page;
            this.pagingCounter = dataRes.pagingCounter;
            this.totalDocs = dataRes.totalDocs;
            this.totalPages = dataRes.totalPages;
            this.loader = false;
        },
        async updateCurrentPage(page) {
            if (this.page == page) return;
            await this.getRequestsByStatus(page);
        },
        findIndexOnStores(item) {
            const idx = this.stores.indexOf(item);
            if (idx === -1) return '';
            const initiator = (this.page - 1) * this.limit;

            return (initiator + (1 + idx));
        },
        editStatus(item) {
            this.bussinessEdited = item;
            this.dialog = true;
            console.log(item);
        },
        deleteBussiness(item) {
            console.log(item);
        },
        closeDialog() {
            this.dialog = false;
            this.bussinessEdited = null;
        },
        async searchRequestByDate(){
            this.$refs.menu.save(this.date)
            await this.getRequestsByStatus(1)
        },
        async exportRequests() {
            this.activeLoader = true;
            let config = configHeaderToken(this.authToken)
            config.responseType = "blob"
            const res = await axios.get(
                `${this.baseURL}/api/reports/request-store/${this.state}/export?date=${this.date}-01`,
                config
            );
            this.activeLoader = false;
            if (res.status != 200)
                return Swal.fire(
                    "",
                    `${
                    res.data.message
                        ? res.data.message
                        : "Ocurrió un error al generar el reporte"
                    }`,
                    "error"
                );
            this.downloadExcel(res.data)
        },

        downloadExcel(data) {
            try{
                let blob = new Blob([data], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64'})
                const downloadLink = document.createElement("a");
                downloadLink.href = window.URL.createObjectURL(blob)
                const fileName = `Reporte de Peticiones`
                downloadLink.setAttribute("download", fileName);
                document.body.appendChild(downloadLink)
                downloadLink.click();
                document.body.appendChild(downloadLink)
            }catch (err) {
                console.error(err)
            }
        }
    }
};
</script>

<style lang="scss">
@import "../../assets/styles/variables.scss";

.mp-request {
    height: 100%;
    width: 100%;
    background: $background-color;

    .mp-request-actions {
        margin: 10px 0px;
        display: flex;

    }
}
</style>
