<template>
<div class="mp-title-container">
    <h2 class="mp-title">{{ title }}</h2>
</div>
</template>

<script>
export default {
    props: ["title"],
};
</script>

<style lang="scss">
@import "../../assets/styles/variables.scss";

.mp-title-container {
    //padding: 1em 0;

    .mp-title {
        position: relative;
        color: $color-tertiary;
        /* padding-left: 12px; */
        margin-bottom: 0;
        font-size: 22px;
        font-weight: 600;
        text-transform: capitalize;

        //margin-left: .5em;
        /* &::before {
            content: " ";
            height: 100%;
            width: 4px;
            background: $color-tertiary;
            display: block;
            position: absolute;
            left: 0;
        } */
    }
}

@media screen and (max-width: $breakpoint-phone) {
    .mp-title-container-categories {
        .mp-title-slides-categories {
            font-size: 20px;
        }
    }
}
</style>
