<template>
<v-app class="mp-admin-app">
    <router-view></router-view>
</v-app>
</template>

<script>
import "material-icons/iconfont/material-icons.scss";
import Home from './views/Home'
export default {
    name: "App",
    components: {
        Home
    },

    data: () => ({
        //
    })
};
</script>

<style lang="scss">
@import "./assets/styles/variables.scss";

.mp-admin-app {
    input,
    div,
    p,
    span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $primary-font;
    }

    label {
        font-size: .77rem;
    }

    div,
    p,
    td {
        font-size: .8rem !important;
    }

    span {
        font-size: .75rem
    }

    .v-chip.v-size--x-small span {
        font-size: .58rem !important;
    }
}

@media screen and (max-width: 600px) {
    .mp-admin-app {
        .v-data-table>.v-data-table__wrapper>table>tbody>tr>td {
            //min-height: 48px;
            height: auto !important;
        }
    }

}

.mp-btn-business-actions{
    border: 1px solid $color-blue;
    color: $color-blue !important;
    margin: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em .4em;
    transition: all ease-in-out .2s;
    i {
      color: $color-blue !important;  
    }
    &:hover {
        background: $color-blue;
        color: #fff;
        i, span {
            color: #fff !important;  
        }
    }
}

.mp-button-delete {
    color: #af0000 !important;
    border: 1px solid #af0000 !important;
    &:hover {
        background: #af0000 !important;
    }
}

.pre-wrapp {
    font-family: 'Segoe UI', sans-serif !important;
    white-space: pre-wrap;
}

//SWAL

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) { overflow-y: visible !important; }


//tabs
.mp-tabs-category .v-tab,
.mp-tabs-emporium .v-tab {
    font-size: 15px !important;
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .mp-tabs-category .v-tab,
    .mp-tabs-emporium .v-tab {
        font-size: 14px !important;
        font-weight: 500;
    }
}
</style>
