$color-primary: #112240;
$color-primary-second: #112240;
$color-primary-transparent: rgba(17, 34, 64, .9);
$color-secondary: #940533;
$color-tertiary: #1A4A84;
$color-blue: #004f84;
$color-tertiary-dark: #0e2746;
$border-color: #cccccc;
$background-color: #f0f0f0;
$color-black: #000;
$color-white: #fff;
//fonts
$color-font: #000;
$color-font-dark: #fff;
$primary-font: 'Raleway',
'Open Sans',
sans-serif;
$number-font: 'Segoe UI',
sans-serif;
//breakpoints
$max-height-section: 750px;
$first-breakpoint: 1130px;
$breakpoint-tablet: 800px;
$breakpoint-phone: 500px;
$breakpoint-xsm: 400px;

/* .v-application .primary--text {
    color: #fff !important;
} */

.v-application a,
.v-application button {
    outline: none !important;
    text-decoration: none !important;
}

.v-pagination__navigation {
    box-shadow: none !important;
}

.v-pagination__item {
    font-family: 'Segoe UI', 'sans-serif';
    font-size: .77rem;
}

html,
body {
    min-height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    html,
    body {
        min-height: 100vh;
        overflow: visible;
    }
}

.v-application.mp-admin-app {
    overflow-y: auto;
    min-height: 100vh;
}

.v-application.mp-admin-app::-webkit-scrollbar {
    width: 12px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
}

.v-application.mp-admin-app::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 4px;
}

.v-application.mp-admin-app::-webkit-scrollbar-thumb:hover {
    background: $color-blue;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.v-application.mp-admin-app::-webkit-scrollbar-thumb:active {
    background-color: $color-primary-transparent;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    overflow-y: visible !important;
    padding-right: 0 !important;
    /* .v-application.mp-admin-app {
        overflow-y: visible;
    } */
}

.bg-primary {
    background: #112240 !important;
}

.bg-secondary {
    background: #940533 !important;
}

button.bg-secondary:hover,
button.bg-secondary:active {
    background: #940533 !important;
}

.bg-tertiary {
    background: #004f84 !important;
}

.white-text {
    color: #fff !important;
}