<template>
<div>
  <v-card elevation="0" class="card-page-layout p-2">
    <v-card-title>
      <div class="mp-request-filers">
        <div class="d-flex">
            <v-btn v-if="haveGoBack" color="tertiary" small icon @click="goBack" class="mr-2">
                <v-icon >keyboard_arrow_left</v-icon>
            </v-btn>
          <TitleSection :title="title" />
        </div>
        <v-spacer></v-spacer>
        <div v-if="url">
          <span>URL:</span>
          <a :href="url">{{url}}</a>
          <v-btn icon small @click="copyToClipboard(url)">
            <v-icon small>mdi-content-copy</v-icon>
          </v-btn>
        </div>
        <slot name="head-actions"> </slot>
      </div>
    </v-card-title>
    <v-card-text>
      <slot name="body-template"></slot>
    </v-card-text>
  </v-card>
  <v-snackbar :timeout="3000" color="primary" v-model="show">
    Se ha copiado correctamente.
  </v-snackbar>
  </div>
</template>

<script>
import TitleSection from "@/components/tittles/TitleSection";
export default {
  props: {
    title: String,
    haveGoBack: Boolean,
    url: String,
  },
  components: {
    TitleSection,
  },
  data() {
    return {
      show: false,
    }
  },
  methods: {
      goBack(){
          history.back();
      },
      copyToClipboard(url) {
      var textarea = document.createElement("textarea");
      textarea.textContent = url;
      textarea.style.position = "fixed";
      document.body.appendChild(textarea);
      textarea.select();
      try {
        document.execCommand("copy");
        this.show = true;
      } catch (ex) {
        alert(ex);
      } finally {
        document.body.removeChild(textarea);
        return;
      }
    },
  }
};
</script>

<style lang="scss" scoped>
.card-page-layout {
  .mp-request-filers {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .v-select {
      max-width: 160px;
      margin-bottom: 5px;
    }
  }
}
</style>
