<template>
  <div>
    <v-card-text class="pt-4">
      <v-row v-if="bussinessEdited && bussinessEdited.logo">
        <v-list-item color="rgba(0, 0, 0, .8)">
          <v-list-item-content>
            <v-list-item-subtitle
              ><span style="color: #004f84;"><strong>LOGO</strong></span>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-row>
      <v-row v-if="bussinessEdited && bussinessEdited.logo">
        <v-col cols="12" lg="12" md="12" sm="12" class="text-center">
          <img
            draggable="false"
            :src="`${baseURL}/file/${bussinessEdited.logo.filename}`"
            height="80px"
            :alt="`logo emprendimiento ${bussinessEdited.businessName}`"
          />
        </v-col>
      </v-row>
      <v-row v-if="bussinessEdited">
        <v-list-item color="rgba(0, 0, 0, .8)">
          <v-list-item-content>
            <v-list-item-subtitle
              ><span style="color: #004f84;"
                ><strong>DATOS DEL EMPRENDIMIENTO</strong></span
              >
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-row>
      <v-row v-if="bussinessEdited">
        <v-col cols="12" lg="6" md="6" sm="12">
          <v-list-item v-if="bussinessEdited.businessName" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Emprendimiento: </strong>
                {{
                  bussinessEdited.businessName
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item v-if="bussinessEdited.email" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Correo: </strong>
                {{ bussinessEdited.email }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
         
          <v-list-item  v-if="bussinessEdited.dni" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>{{ bussinessEdited.documentType }}: </strong>
                {{ bussinessEdited.dni }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item  v-if="bussinessEdited.sex" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Sexo:</strong>
                {{ bussinessEdited.sex }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item v-if="bussinessEdited.ruc" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>RUC: </strong>
                {{ bussinessEdited.ruc }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item v-if="bussinessEdited.rucFile" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Ficha RUC: </strong>
                <a :href='`${baseURL}/file/${bussinessEdited.rucFile.filename}`' target="_blank" >{{`${baseURL}/file/${bussinessEdited.rucFile.filename}`}}</a>

              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          
          <v-list-item  v-if="bussinessEdited.productsResume || bussinessEdited.storeReview" color="rgba(0, 0, 0, .8)">
            <v-list-item-content
              v-if="bussinessEdited.productsResume"
              style="color: rgba(0, 0, 0, .6);"
            >
              <strong class="mb-2" style="color: rgba(0, 0, 0, .6);"
                >Resumen de Productos o Servicios:
              </strong>
              <p
                class="mb-1 pre-wrapp"
                v-html="bussinessEdited.productsResume"
              ></p>
            </v-list-item-content>
            <v-list-item-content v-else style="color: rgba(0, 0, 0, .6);">
              <strong class="mb-2" style="color: rgba(0, 0, 0, .6);"
                >Resumen del Emprendimiento:
              </strong>
              <p
                class="mb-1 pre-wrapp"
                v-html="bussinessEdited.storeReview"
              ></p>
            </v-list-item-content>
          </v-list-item>
          <v-list-item v-if="categories" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Categorias: </strong>
                {{
                  categories
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item v-if="bussinessEdited.rna" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>RNA: </strong>
                {{ bussinessEdited.rna }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item v-if="bussinessEdited.howDidUHear && bussinessEdited.howDidUHear.length > 0" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>¿Como se enteró?: </strong>
                {{ bussinessEdited.howDidUHear.join(", ") }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
        </v-col>
        <v-col align-self="start" cols="12" lg="6" md="6" sm="12">
           <v-list-item color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Emprendedor: </strong> {{ bussinessEdited.lastName }}
                {{ bussinessEdited.firstName }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
           <v-list-item v-if="bussinessEdited.emporiums && bussinessEdited.emporiums.length > 0" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Emporios: </strong>
                {{ bussinessEdited.emporiums.map((c)=> {
                  return c.name;
                }).join(", ") }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item v-if="bussinessEdited.department" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Departamento: </strong>
                {{
                  bussinessEdited.department && bussinessEdited.department.name
                    ? bussinessEdited.department.name
                    : ""
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item v-if="bussinessEdited.province" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Provincia: </strong>
                {{
                  bussinessEdited.province && bussinessEdited.province.name
                    ? bussinessEdited.province.name
                    : ""
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item v-if="bussinessEdited.district" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Distrito: </strong>
                {{
                  bussinessEdited.district ? bussinessEdited.district.name : ""
                }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-list-item v-if="bussinessEdited.address" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Dirección: </strong>
                {{ bussinessEdited.address }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item v-if="bussinessEdited.phone" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Teléfono: </strong>
                {{ bussinessEdited.phone }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item v-if="bussinessEdited.socialMedia" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Red Social: </strong>
                {{ bussinessEdited.socialMedia }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
           <v-list-item v-if="bussinessEdited.paymentMethods && bussinessEdited.paymentMethods.length > 0" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Métodos de Pago: </strong>
                {{ paymentMethods }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
           <v-list-item v-if="bussinessEdited.hasDelivery != undefined" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>¿Hace delivery?: </strong>
                {{ bussinessEdited.hasDelivery ? 'Si' : 'No' }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Fecha Registro: </strong>
                {{
                  bussinessEdited.createdAt
                    ? bussinessEdited.createdAt.toString().substring(0, 10)
                    : "Sin fecha"
                }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <!--<v-list-item color="rgba(0, 0, 0, .8)">
                    <v-chip dark small :color="getColorActive(user.active)">
                        {{getStatus(user.active)}}
                    </v-chip>
                </v-list-item>
                <v-list-item v-if="!isIndex" color="rgba(0, 0, 0, .8)">
                    <v-switch v-model="user.active" :label="`${getStatus(user.active)}`"></v-switch>
                </v-list-item>-->
        </v-col>
      </v-row>
      <v-row
        v-if="
          bussinessEdited.facebook ||
            bussinessEdited.instagram ||
            bussinessEdited.linkedin ||
            bussinessEdited.youtube ||
            bussinessEdited.web ||
            bussinessEdited.twitter
        "
      >
        <v-list-item color="rgba(0, 0, 0, .8)">
          <v-list-item-content>
            <v-list-item-subtitle
              ><span style="color: #004f84;"
                ><strong>REDES SOCIALES</strong></span
              >
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-row>
      <v-row
        v-if="
          bussinessEdited.facebook ||
            bussinessEdited.instagram ||
            bussinessEdited.linkedin ||
            bussinessEdited.youtube ||
            bussinessEdited.web ||
            bussinessEdited.twitter
        "
      >
        <v-col cols="12" lg="6" md="6" sm="12">
          <v-list-item color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Facebook: </strong>
                {{
                  bussinessEdited && bussinessEdited.facebook
                    ? bussinessEdited.facebook
                    : ""
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Twitter: </strong>
                {{
                  bussinessEdited.twitter ? bussinessEdited.twitter : ""
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Youtube: </strong>
                {{
                  bussinessEdited.youtube ? bussinessEdited.youtube : ""
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
        </v-col>
        <v-col cols="12" lg="6" md="6" sm="12">
          <v-list-item color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Pagina Web: </strong>
                {{
                  bussinessEdited.web ? bussinessEdited.web : ""
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Instagram: </strong>
                {{
                  bussinessEdited.instagram ? bussinessEdited.instagram : ""
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Linkedin: </strong>
                {{
                  bussinessEdited.linkedin ? bussinessEdited.linkedin : ""
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
        </v-col>
      </v-row>
      <v-row
        v-if="bussinessEdited.whatsappNumber || bussinessEdited.messengerUser || bussinessEdited.contactPhone"
      >
        <v-list-item color="rgba(0, 0, 0, .8)">
          <v-list-item-content>
            <v-list-item-subtitle
              ><span style="color: #004f84;"><strong>CONTACTO</strong></span>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-row>
      <v-row
        v-if="bussinessEdited.whatsappNumber || bussinessEdited.messengerUser || bussinessEdited.contactPhone"
      >
        <v-col cols="12" lg="6" md="6" sm="12">
          <v-list-item v-if="bussinessEdited.whatsappNumber" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Numero de Whastapp: </strong>
                {{
                  bussinessEdited.whatsappNumber
                    ? bussinessEdited.whatsappNumber
                    : ""
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item v-if="bussinessEdited.contactPhone" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Teléfono de contacto: </strong>
                {{
                  bussinessEdited.contactPhone
                    ? bussinessEdited.contactPhone
                    : ""
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
        </v-col>

        <v-col cols="12" lg="6" md="6" sm="12">
          <v-list-item v-if="bussinessEdited.messengerUser" color="rgba(0, 0, 0, .8)">
            <v-list-item-content>
              <v-list-item-subtitle
                ><strong>Usuario de Messenger: </strong>
                {{
                  bussinessEdited.messengerUser
                    ? bussinessEdited.messengerUser
                    : ""
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
        </v-col>
      </v-row>
      <v-row v-if="bussinessEdited && bussinessEdited.logo">
        <v-list-item color="rgba(0, 0, 0, .8)">
          <v-list-item-content>
            <v-list-item-subtitle
              ><span style="color: #004f84;"
                ><strong>IMAGENES DEL EMPRENDIMIENTO</strong></span
              >
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-row>
      <v-row
        align="center"
        justify="center"
        v-if="bussinessEdited && bussinessEdited.images"
      >
        <v-col
          v-for="img in bussinessEdited.images"
          :key="img._id"
          cols="12"
          lg="3"
          md="4"
          sm="6"
        >
          <v-img
            max-height="160px"
            :src="`${baseURL}/file/${img.filename}`"
          ></v-img>
        </v-col>
      </v-row>
      <v-row>
          <v-list-item>
            <v-list-item-content style="color: rgba(0, 0, 0, .6);">
              <v-select
                hide-details=""
                style="max-width: 150px; font-size: 13px; color: rgba(0, 0, 0, .6);"
                v-model="status"
                item-text="name"
                :items="allStatus"
                :menu-props="{ top: true, offsetY: true }"
              ></v-select>
            </v-list-item-content>
          </v-list-item>
          <div v-if="status=='Rechazado'" class="col-md-12 col-sm-12">
            <v-textarea :rules="reasonRules" counter label="Motivo" background-color="#fff" outlined filled v-model="bussinessEdited.reason" rows="4" no-resize auto-grow :value="bussinessEdited.reason"></v-textarea>
          </div>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        color="primary"
        @click="sendNewStatusBussiness"
        text
        :loading="loading"
        :disabled="getDisabledButton || !bussinessEdited.editable"
        >Guardar</v-btn
      >
    </v-card-actions>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import { mapState } from "vuex";
export default {
  props: {
    bussiness: Object,
  },
  data() {
    return {
      loading: false,
      status: this.bussiness.status,
      bussinessEdited: null,
      categories: "",
      paymentMethods: "",
      howDidUHear: "",
      reasonRules: [v => !v || !!v && v.length < 600 || "El mensaje es muy largo. La cantidad máxima de caracteres es 600!"] 
    };
  },
  created() {
    if (this.bussiness) {
      this.bussinessEdited = {
        ...this.bussiness,
      };
    }
    for(let c of this.bussinessEdited.category) {
      this.categories +=`, ${c.name}`
    }
    for(let p of this.bussinessEdited.paymentMethods) {
      this.paymentMethods += `, ${p.name}`
    }
    this.howDidUHear = this.bussinessEdited.howDidUHear.join(", ")
    console.log(this.status, this.bussinessEdited);
  },
  computed: {
    ...mapState({
      allStatus: (state) => state.status.status,
      baseURL: (state) => state.baseURL,
    }),
    getDisabledButton() {
      if (this.bussiness.status === this.status || this.loading) return true;
      return false;
    },
  },
  methods: {
    async sendNewStatusBussiness() {
      try {
        this.loading = true;
        const statusData = {
          statudId: this.bussinessEdited._id,
          type: this.bussinessEdited.type,
          body: {
            status: this.status,
            reason: this.bussinessEdited.reason,
          },
        };
        const res = await this.$store.dispatch("editStoreRequest", statusData);
        this.loading = false;
        if (res && res.status != 200) {
          return Swal.fire("Oops!", `${res.data.message}`, "error");
        }
        this.$emit("statusUpdated");
        Swal.fire("Bien!", `La solicitud se procesó con éxito!`, "success");
      } catch (err) {
        console.log(err);
        this.loading = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
