<template>
  <v-form
    ref="formAlly"
    :lazy-validation="true"
    v-model="formAlly"
    class="pt-3"
    v-on:submit.prevent="saveForm"
  >
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 pr-2 pl-3">
        <v-text-field
          v-model="ally.name"
          :rules="importantRules"
          placeholder="Nombre Aliado (*)"
        ></v-text-field>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 pr-2 pl-3">
        <v-text-field
          v-model="ally.link"
          :rules="[...importantRules, ...uriRules]"
          placeholder="Enlace hacia sitio web del aliado (*)"
        ></v-text-field>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 pr-2 pl-3">
        <v-file-input
          v-model="ally.logoCreated"
          :rules="allyProp ? [...sizeRules] : [...importantRules, ...sizeRules]"
          accept=".jpg, .png"
          small-chips
          show-size
          dropzone
          :placeholder="allyProp ? 'Elige un nuevo logo (opcional)' : `Logo Aliado (*) [.png, .jpg]`"
        >
            <template v-slot:selection="{ text }">
                <v-chip
                    small
                    label
                    color="primary"
                >
                    {{ text }}
                </v-chip>
            </template>
        </v-file-input>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 pr-2 pl-3">
        <v-checkbox
          v-model="ally.isActive"
          :label="`Marcar para activar visibilidad en mercadodelima.pe`"
        ></v-checkbox>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
        <v-card-actions class="pt-3">
          <v-spacer></v-spacer>
          <v-btn type="submit" :disabled="loading" :loading="loading" text>{{
            allyProp ? "Actualizar" : "Guardar"
          }}</v-btn>
        </v-card-actions>
      </div>
    </div>
  </v-form>
</template>

<script>
import matchURI from "@/libs/matchURI";
export default {
  props: {
    allyProp: Object,
    loading: Boolean
  },
  data() {
    return {
      formAlly: true,
      importantRules: [(v) => !!v || "Campo requerido!"],
      uriRules: [v => !v || matchURI(v) || "URL inválida!"],
      sizeRules: [
        value => !value || value.size < 1000000 || 'La imagen debe ser menor a 1 MB!',
      ],
      ally: this.allyProp
        ? { ...this.allyProp }
        : {
            name: "",
            link: "",
            logoCreated: null,
            isActive: true,
          },
    };
  },
  methods: {
    validateForm() {
      return this.$refs.formAlly.validate();
    },
    saveForm() {
      if (!this.validateForm()) return;
      const FORM_DTO = new FormData();
      FORM_DTO.append("name", this.ally.name);
      FORM_DTO.append("status", this.ally.isActive);
      FORM_DTO.append("link", this.ally.link);

      if (this.ally.logoCreated) {
        FORM_DTO.append("image", this.ally.logoCreated);
      }

      if (this.allyProp) {
        //edited
        this.$emit("updateAlly", {
          id: this.allyProp._id,
          body: FORM_DTO,
        });
      } else {
        //created
        this.$emit("createAlly", FORM_DTO);
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
