<template>
  <div class="row d-flex justify-content-center">
    <!-- <div class="col-lg-6 col-md-4 col-sm-12">
      <v-autocomplete
        label="Busca un emprendimiento"
        prepend-inner-icon="search"
        hide-no-data
        hide-selected
        filled
        rounded
      >
      </v-autocomplete>
    </div> -->
    <div class="col-lg-3 col-md-4 col-sm-6">
      <v-dialog
        ref="dialog1"
        v-model="modalDate1"
        :return-value.sync="date1"
        persistent
        width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="date1"
            label="Fecha inicio"
            prepend-inner-icon="mdi-calendar"
            readonly
            filled
            rounded
            v-bind="attrs"
            v-on="on"
            color="primary"
            hide-details
            :rules="startDateRules"
          ></v-text-field>
        </template>
        <v-date-picker :min="minDate" :max="date2 ? date2: maxDate" v-model="date1" scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="modalDate1 = false"> Cancel </v-btn>
          <v-btn text color="primary" @click="changeStartDate"> OK </v-btn>
        </v-date-picker>
      </v-dialog>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <v-dialog
        ref="dialog2"
        v-model="modalDate2"
        :return-value.sync="date2"
        persistent
        width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="date2"
            label="Fecha fin"
            prepend-inner-icon="mdi-calendar"
            readonly
            filled
            rounded
            v-bind="attrs"
            v-on="on"
            color="primary"
          ></v-text-field>
        </template>
        <v-date-picker :min="date1 ? date1 :minDate" :max="maxDate" v-model="date2" scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="modalDate2 = false"> Cancel </v-btn>
          <v-btn text color="primary" @click="changeEndDate"> OK </v-btn>
        </v-date-picker>
      </v-dialog>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      modalDate1: false,
      modalDate2: false,
      date1: "",
      date2: "",
      minDate: "2020-11-01",
      maxDate: new Date().toISOString(),
      startDateRules: [v => !!v || "Elige una fecha inicial"]
    };
  },
  created(){
    try{
      const date = new Date();
      const finalFec = this.changeDate(date);
      this.maxDate = finalFec;
      const start = new Date(new Date().getTime() - 6.048e+8);
      const end = new Date();
      this.date1 = this.changeDate(start);
      this.date2 = this.changeDate(end);
      this.emitChange();
    }catch(err){}
  },
  methods: {
    changeDate(date){
      const dateTime = new Intl.DateTimeFormat("es-PE");
      const dateTimePE = dateTime.format(date);
      const arr = dateTimePE.split("/");
      return `${arr[2]}-${this.addZero(arr[1])}-${this.addZero(arr[0])}`
    },
    addZero(str){
      const num = parseInt(str);
      if(num<10) return `0${num}`;
      return num;
    },
      changeStartDate(){
        if(!this.date1) return;
        this.$refs.dialog1.save(this.date1);
        this.emitChange();
      },
      changeEndDate(){
        if(!this.date2) return;
        this.$refs.dialog2.save(this.date2);
        this.emitChange();
      },
      emitChange(){
        this.$emit("dateChange", {
          startDate: this.date1 ? this.date1 : null,
          endDate: this.date2 ? this.date2 : null,
        })
      }
  }
};
</script>

<style lang="scss" scoped></style>
