<template>
<div>
    <v-card-text class="pt-4">
        <v-form ref="addItemReel" v-model="valid" :lazy-validation="lazy" class="mp-form-register-product">
            <v-row>
                <v-col cols="12" lg="5" md="6" sm="12" class="pb-0 pt-0">
                    <v-text-field background-color="#eee" rounded color="primary" v-model="product.name" outlined label="Nombre (*)" :rules="nameRules" required></v-text-field>
                </v-col>
                <v-col cols="12" lg="7" md="6" sm="12" class="pb-0 pt-0">
                    <v-file-input background-color="#eee" rounded accept="image/*" prepend-icon prepend-inner-icon="cloud_upload" v-model="product.media" outlined small-chips clearable multiple label="Selecciona un archivo" required show-size></v-file-input>
                </v-col>
                <v-col cols="12" lg="12" md="12" sm="12" class="pb-0 pt-0">
                    <v-textarea background-color="#eee" color="primary" name="input-7-1" v-model="product.description" outlined hint="Escribe una descripción, no es obligatorio"></v-textarea>
                </v-col>
            </v-row>
        </v-form>
    </v-card-text>
    <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn v-if="productEdited === null" color="primary" @click="addProduct" text :loading="loading" :disabled="loading">Guardar</v-btn>
        <v-btn v-else color="primary" @click="sendReelEdited" text :loading="loading" :disabled="loading">Actualizar</v-btn>
    </v-card-actions>
</div>
</template>

<script>
export default {
    props: {
        productEdited: Object,
    },
    data() {
        return {
            valid: true,
            lazy: true,
            product: {},
            loading: false,
        }
    },
    methods: {
        validateForm() {
            return this.$refs.statusForm.validate()
        },
        addItemReel() {},
        sendReelEdited() {

        },
    },
};
</script>

<style lang="scss" scoped>
</style>
