<template>
<div class="mp-auth-menu">
    <div class="mp-is-auth">
        <div class="mp-user-auth">
            <i class="far fa-user-circle"></i>
            <span id="mp-username">{{getFirstName('Administrador')}}</span>
            <i class="fas fa-angle-down ml-1 arrow-bottom"></i>
        </div>
        <div class="mp-is-auth-list">
            <li>
                <router-link class="mp-is-auth-item" to="/">Mi Perfíl</router-link>
            </li>
            <li>
                <button class="mp-is-auth-item" @click="logoutUser">Salir</button>
            </li>
        </div>
    </div>
</div>
</template>

<script>
export default {
    methods: {
        async logoutUser() {
            await this.$store.dispatch('logout');
            this.$router.push('/auth/login')
            alert('sesión culminada')

        },
        getFirstName(str) {
            return str.split(' ')[0] || 'Administrador';
        },
    }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/variables.scss';

.mp-auth-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    .mp-is-auth {
        padding: 1em 0.8em;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        cursor: pointer;

        .mp-user-auth {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            color: $color-primary;
            font-size: 16px;
            font-family: $primary-font;

            span {
                font-size: 15px;
                margin-left: 5px;
                margin-right: 5px;
            }
        }

        @media (max-width: $breakpoint-phone) {
            .mp-user-auth {
                font-size: 15px;
            }
            #mp-username {
                display: none;
            }
            i {
                margin: 0 .5em;
            }
        }

        .mp-overlay-menu {
            transition: all ease-in-out .25s;
        }

        &:hover .mp-is-auth-list,
        &:focus .mp-is-auth-list {
            visibility: visible;
            opacity: 1;
            display: block;
        }

        .mp-is-auth-list {
            visibility: hidden;
            opacity: 0;
            display: none;
            position: absolute;
            top: calc(100%);
            right: 0;
            width: 180px;
            background: $color-primary;
            border-radius: 0 0 4px 4px;
            transition: all ease-in-out .2s;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
            z-index: 10;

            &::before {
                content: "";
                position: absolute;
                right: 16px;
                top: -10px;
                transform: rotate(180deg);
                border-top: 10px solid $color-font-dark;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
            }

            li {
                height: 48px;
                list-style: none;

                .mp-is-auth-item {
                    padding: 0 1em;
                    outline: none;
                    text-decoration: none;
                    color: $color-white;
                    ;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 13px;
                    transition: all ease-in-out .2s;
                    font-family: $primary-font;

                    &:hover {
                        background: white;
                        color: $color-primary;
                    }
                }
            }
        }

    }

    .mp-button-access {
        padding: 0.6em 1em 0.8em 0;
        text-decoration: none;
        color: #fff;
    }
}

@media screen and (max-width: 340px) {
    .mp-is-auth {
        padding: .8em 0px !important;

        .mp-user-auth {
            span {
                display: none !important;
            }

            i {
                margin: 0 10px;
            }
        }
    }
}
</style>
