<template>
  <div :class="`mp-overlay-loader-page ${getActiveClassName}`" :style="`z-index: ${zIndex ? zIndex : 200}`">
    <v-progress-circular indeterminate :color="color || 'amber'"></v-progress-circular>
  </div>
</template>

<script>
export default {
  props: {
    active: Boolean,
    color: String,
    zIndex: Number,
  },
  computed: {
    getActiveClassName() {
      return this.active ? "active-loader " : "";
    },
  },
};
</script>

<style lang="scss" scoped>
.mp-overlay-loader-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all ease-in-out 0.25s;
  background: rgba(255, 255, 255, 0.78);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.mp-overlay-loader-page.active-loader {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 959px){
    .mp-overlay-loader-page {
        left: 0;
    }
}
</style>
