<template>
  <div class="mp-loader">
    <v-progress-circular
      :size="70"
      :width="7"
      color="#fca700"
      indeterminate
    ></v-progress-circular>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.mp-loader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
</style>
