<template>
<img draggable="false" class="mp-logo-company" src="../../assets/img/logo-mercado-lima-color.png" />
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import '../../assets/styles/variables.scss';

.mp-logo-company {
    max-height: 60px;
}

@media (max-width: $breakpoint-phone) {
    .mp-logo-company {
        max-height: 50px;
    }
}
</style>
