<template>
<div class="mp-nav">
    <div class="mp-nav-logo">
        <v-btn @click="setStatusMenu" icon>
            <v-icon>mdi-menu</v-icon>
        </v-btn>
        <router-link to="/" class="ml-2 mr-2">
            <Logo />
        </router-link>
    </div>
    <div class="mp-nav-profile">
        <div class="mp-search-col">
            <AuthMenu />
        </div>
    </div>
</div>
</template>

<script>
import {
    mapState,
    mapGetters
} from "vuex";
import Logo from "./Logo";
import AuthMenu from "./AuthMenu";
export default {
    computed: {
        ...mapGetters({
            menuDrawer: "getMenu",
        }),
        menu: {
            get() {
                return this.menuDrawer;
            },
            set(newBool) {
                return newBool;
            },
        },
    },
    methods: {
        setStatusMenu() {
            this.$store.commit("setMenu", !this.$store.state.menu);
        },
    },
    components: {
        Logo,
        AuthMenu,
    },
};
</script>

<style lang="scss">
@import "../../assets/styles/variables.scss";

/*%flex-align-center {
  display: flex;
  align-items: center;
}*/

.mp-nav {
    display: flex;
    align-items: center;
    background-color: white;
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    padding: 0px 25px;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    .mp-nav-profile {
        height: 100%;

        .mp-search-col {
            display: flex;
            justify-content: flex-end;
            min-width: 80px;
            font-size: 14px;
            height: 100%;
            /* margin-right: .8em; */
        }

        .mp-search-col button.mp-button-access {
            outline: none;

            i {
                font-size: 15px;
            }
        }

        /*color: $color-white;
        p{
            padding: 0px;
            font-size: 18px;
            margin: 0px 2px;
            text-align: center;
            font-family: $primary-font;
        }
        i{
            padding: 0px;
            margin: 0px 2px;
        }*/
    }
}

@media screen and (min-width: 960px) {}

@media (max-width: $breakpoint-phone) {
    .mp-nav {
        height: 55px !important;
        padding: 0px .5em;

        .mp-nav-profile {
            p {
                font-size: 14px;
            }
        }
    }
}
</style>
