<template>
<v-navigation-drawer :color="background" class="nav-drawer" style="border-radius: 0 !important; height: 100vh;" v-model="menu" :expand-on-hover="expandOnHover" mobile-breakpoint="800" :mini-variant.sync="mini" :right="right" :permanent="menu" fixed hide-overlay height="100%">
    <v-list>
        <div v-for="(item, idx) in admins" :key="idx+3400">
            <v-list-item v-if="!item.childs" :color="color" :to="item.to">
                <v-list-item-icon>
                    <v-icon>{{item.icon}}</v-icon>
                </v-list-item-icon>
                <v-list-item-title>{{item.name}}</v-list-item-title>
            </v-list-item>
            <v-list-group v-else :color="color" no-action :value="true">
                <template v-slot:activator>
                    <v-list-item-icon>
                        <v-icon>{{item.icon}}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>{{item.name}}</v-list-item-title>
                </template>
                <v-list-item :color="color" v-for="(subItem, i) in item.childs" :key="i+3460" link :to="`${subItem.to}`">
                    <v-list-item-title>{{subItem.name}}</v-list-item-title>
                    <v-list-item-icon>
                        <v-icon>{{subItem.icon}}</v-icon>
                    </v-list-item-icon>
                </v-list-item>
            </v-list-group>

        </div>
    </v-list>
</v-navigation-drawer>
</template>

<script>
import {
    mapState,
    mapGetters
} from 'vuex'

export default {
    data: () => ({
        mini: false,
        expandOnHover: false,
        right: false,
        color: '#ffffff',
        background: 'primary',
        admins: [{
                name: 'Dashboards',
                icon: 'equalizer',
                to: '',
                childs: [
                    {
                        name: 'Principal',
                        icon: 'equalizer',
                        to: '/'
                    },
                    /* {
                        name: 'Visitas',
                        icon: 'equalizer',
                        to: '/dashboard/visits'
                    }, */
                    {
                        name: 'Solicitudes',
                        icon: 'equalizer',
                        to: '/dashboard/request'
                    },
                    {
                        name: 'Emprendimientos',
                        icon: 'equalizer',
                        to: '/dashboard/entrepreneur'
                    },
                    /* {
                        name: 'Contactos',
                        icon: 'equalizer',
                        to: '/dashboard/contacts'
                    }, */
                ]
            },
            {
                name: 'Solicitudes',
                icon: 'mdi-comment-alert',
                to: '/solicitudes'
            },
            {
                name: 'Emprendimientos',
                icon: 'group',
                to: '/emprendimientos'
            },
            {
                name: 'Productos',
                icon: 'mdi-basket',
                to: '/productos'
            },
           /*  {
                name: 'Conglomerados',
                icon: 'mdi-office-building-outline',
                to: '/conglomerados'
            },
                        {
                name: 'Campañas',
                icon: 'mdi-bullhorn',
                to: '/promociones'
            },
            {
                name: 'Pop Ups',
                icon: 'mdi-message-reply',
                to: '/pop_ups'
            }, */
            {
                name: 'Configuraciones',
                icon: 'mdi-cog-outline',
                to: '',
                childs: [{
                        name: 'Categorias',
                        icon: 'category',
                        to: '/categories'
                    },
                    {
                        name: 'Subcategorias',
                        icon: 'category',
                        to: '/subcategories'
                    },
                    /* 
                    {
                        name: 'Departamentos',
                        icon: 'public',
                        to: '/departments'
                    },
                    {
                        name: 'Provincias',
                        icon: 'map',
                        to: '/provinces'
                    }, */
                    {
                        name: 'Distritos',
                        icon: 'place',
                        to: '/districts'
                    },
                    {
                        name: 'Reels',
                        icon: 'view_carousel',
                        to: '/reels'
                    },
                    {
                        name: 'Cate. Dest.',
                        icon: 'mdi-account-star',
                        to: '/featured-categories'
                    },
                    {
                        name: 'Empren. Dest.',
                        icon: 'mdi-account-star',
                        to: '/featured-entrepreneurs'
                    },
                    /* {
                        name: 'Aliados',
                        icon: 'groups',
                        to: '/allies'
                    },
                    {
                        name: 'Métricas',
                        icon: 'mdi-ruler',
                        to: '/metrics'
                    }, */
                    {
                        name: 'Métodos de Pago',
                        icon: 'mdi-credit-card-outline',
                        to: '/payment-methods'
                    },
                ]
            },

        ],
        cruds: [
            ["Create", "mdi-plus-outline"],
            ["Read", "mdi-file-outline"],
            ["Update", "mdi-update"],
            ["Delete", "mdi-delete"],
        ],
    }),
    computed: {
        ...mapGetters({
            menuDrawer: "getMenu",
        }),
        menu: {
            get() {
                return this.menuDrawer;
            },
            set(newBool) {
                return newBool;
            },
        },
    },
    methods: {},
};
</script>

<style lang="scss">
@import "../../assets/styles/variables.scss";

.v-list-item__title {
    font-size: .84rem !important;

}

.v-list-item__icon i {
    font-size: 1.25rem !important;
}

.nav-drawer {
    .v-list-item.v-list-item--link .v-list-item__title,
    .v-list-item.v-list-item--link i {
        color: rgba(255, 255, 255, .88) !important;
    }

    .v-list-item.v-list-item--active.v-list-item--link .v-list-item__title,
    .v-list-item.v-list-item--active.v-list-item--link i {
        color: #fff !important;
        font-weight: 500;
    }
}
</style>
