<template>
<div class="mp-business-social-media">
    <div v-if="socials" class="mp-social-newtworks">
        <li v-if="socials && socials.facebook">
            <a  :href="socials && socials.facebook ? socials.facebook : '#'" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li v-if="socials && socials.instagram">
            <a  :href="socials && socials.instagram ? socials.instagram : '#'" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li v-if="socials && socials.linkedin">
            <a  :href="socials && socials.linkedin ? socials.linkedin : '#'" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li v-if="socials && socials.youtube">
            <a  :href="socials && socials.youtube ? socials.youtube : '#'" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
        </li>
        <li v-if="socials && socials.twitter">
            <a  :href="socials && socials.twitter ? socials.twitter : '#'" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
    </div>
</div>
</template>

<script>
export default {
    props: {
        socials: Object
    }
}
</script>

<style lang="scss" scoped>
@import "../../assets/styles/variables.scss";

.mp-business-social-media {
    .mp-social-newtworks {
        display: flex;
        justify-content: center;

        li {
            width: 40px;
            height: 40px;
            margin: 0 .2em;
            font-size: 1.3rem;
            list-style: none;

            a {
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;
                width: 100%;
                height: 100%;
                //color: rgb(14, 0, 30);
                transition: all ease-in-out .25s;
                border: 1px solid rgba(14, 54, 104, .5);
                background: $color-primary;
                color: #fff;

                &:hover {
                    background: #004f84;
                    //background: rgb(14, 0, 30);
                    color: #fff;
                }
            }
        }
    }
}
</style>
